@charset "UTF-8";
/* 中文 */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

main { display: block; }

h1 { font-size: 2em; margin: .67em 0; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace,monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace,monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -.25em; }

sup { top: -.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: .35em .75em .625em; }

legend { -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

* { padding: 0; margin: 0; font-family: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { -ms-touch-action: manipulation; touch-action: manipulation; }

@supports (-webkit-touch-callout: none) { body { /* The hack for Safari */ height: -webkit-fill-available; } }

a { display: inline-block; }

a:focus-visible { outline: none; }

a[href] { cursor: pointer; }

.cur-p { cursor: pointer; }

[hidden] { display: none !important; }

.d-hide, .d-hidden, .d-none, .hide, .hidden { display: none !important; }

.v-hide { visibility: hidden; }

[data-open="true"] { opacity: 1; visibility: visible; -webkit-transform: translate(0); -ms-transform: translate(0); transform: translate(0); -webkit-transition: all 0.6s; -o-transition: all 0.6s; transition: all 0.6s; }

[data-open="false"] { opacity: 0; visibility: hidden; -webkit-transform: translate(0); -ms-transform: translate(0); transform: translate(0); -webkit-transition: all 0.6s; -o-transition: all 0.6s; transition: all 0.6s; }

.clearfix { overflow: hidden; }

.clearfix::after { content: ""; clear: both; display: table; }

button { background: none; border: none; color: inherit; font: inherit; outline: none; padding: 0; }

.text-ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.default .gbox-wrap { max-width: 721px; width: 100%; padding: 0px; margin-top: 80px; margin-bottom: 80px; background-color: #ffecbe; color: #271305; background-size: cover; padding-bottom: 84px; border-radius: 80px; padding-top: 176px; }

@media screen and (max-width: 768px) { .default .gbox-wrap { max-width: 93.88021vw; margin-top: 31.25vw; margin-bottom: 10.41667vw; padding-bottom: 10.9375vw; border-radius: 10.41667vw; padding-top: 22.91667vw; } }

.default .gbox-wrap:before { content: ""; position: absolute; top: -36px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 763px; height: 196px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/lb-top.png"); background-size: cover; }

@media screen and (max-width: 768px) { .default .gbox-wrap:before { top: -4.6875vw; width: 99.34896vw; height: 25.52083vw; } }

.default .gbox-content { position: relative; padding: 0px 48px; width: 100%; font-size: 40px; font-weight: bold; line-height: 1.5; }

@media screen and (max-width: 768px) { .default .gbox-content { font-size: 5.20833vw; padding: 0 6.25vw; } }

.default .gbox-action { z-index: 2; position: relative; padding: 0; font-size: 0; margin-top: 64px; }

@media screen and (max-width: 768px) { .default .gbox-action { margin-top: 8.33333vw; } }

.default .gbox-btn { width: 224px; height: 91px; padding: 0; display: inline-block; font-size: 0; position: relative; background-size: cover; background-color: transparent; background-repeat: no-repeat; margin: 0; }

.default .gbox-btn + .gbox-btn { margin-left: 64px; }

@media screen and (max-width: 768px) { .default .gbox-btn + .gbox-btn { margin-left: 8.33333vw; } }

@media screen and (max-width: 768px) { .default .gbox-btn { width: 29.16667vw; height: 11.84896vw; } }

.default .gbox-btn.btn-change { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-change.png"); }

.default .gbox-btn.btn-confirm { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-confirm.png"); }

.default .gbox-btn.btn-guide { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-guide.png"); }

.default .gbox-btn.btn-info { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-info.png"); }

.default .gbox-btn.btn-next { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-next.png"); }

.default .gbox-btn.btn-no { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-no.png"); }

.default .gbox-btn.btn-success-pink { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-success-pink.png"); }

.default .gbox-btn.btn-success-yellow { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-success-yellow.png"); }

.default .gbox-btn.btn-think { background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-think.png"); }

.default .gbox-btn.btn-go { width: 268px; height: 91px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/btn-go.png"); }

@media screen and (max-width: 768px) { .default .gbox-btn.btn-go { width: 34.89583vw; height: 11.84896vw; } }

.default .gbox-close { width: 111px; height: 153px; font-size: 0; top: -168px; right: 50%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/close1.png"); background-size: cover; }

@media screen and (max-width: 768px) { .default .gbox-close { width: 14.45312vw; height: 19.92188vw; top: -21.875vw; } }

.screenshot .gbox-close { width: 139px; height: 88px; font-size: 0; top: -86px; right: 30px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/close2.png"); background-size: cover; }

@media screen and (max-width: 768px) { .screenshot .gbox-close { width: 18.09896vw; height: 11.45833vw; top: -11.19792vw; right: 3.90625vw; } }

.screenshot .gbox-wrap { max-width: 660px; width: 100%; padding: 0px; margin-top: 80px; margin-bottom: 80px; background-color: transparent; color: #fff; background-size: cover; padding-bottom: 48px; border-radius: 0; padding-top: 0; }

@media screen and (max-width: 768px) { .screenshot .gbox-wrap { max-width: 85.9375vw; margin-top: 13.02083vw; margin-bottom: 10.41667vw; padding-bottom: 6.25vw; } }

.screenshot .gbox-content { position: relative; padding: 0px; width: 100%; font-size: 40px; font-weight: bold; }

@media screen and (max-width: 768px) { .screenshot .gbox-content { font-size: 5.20833vw; } }

.screenshot-cake { width: 660px; padding-top: 220px; }

@media screen and (max-width: 768px) { .screenshot-cake { width: 85.9375vw; padding-top: 28.64583vw; } }

.screenshot-cake img { width: 100%; display: block; }

.screenshot-content { width: 100%; height: 931px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/screenshot-bg.png"); background-size: cover; background-position: center 0; }

@media screen and (max-width: 768px) { .screenshot-content { height: 121.22396vw; } }

.screenshot-account { padding: 0 32px; width: 100%; }

@media screen and (max-width: 768px) { .screenshot-account { padding: 0 4.16667vw; } }

.screenshot-account-box { width: 100%; font-size: 30px; font-weight: bold; background-color: #e84d67; border-radius: 24px; text-align: center; padding: 24px 0; -webkit-box-shadow: 0 6px 0 4px #fff; box-shadow: 0 6px 0 4px #fff; position: relative; }

@media screen and (max-width: 768px) { .screenshot-account-box { font-size: 3.90625vw; border-radius: 3.125vw; padding: 3.125vw 0; -webkit-box-shadow: 0 0.78125vw 0 0.52083vw #fff; box-shadow: 0 0.78125vw 0 0.52083vw #fff; } }

.screenshot-account-box:before { content: ""; position: absolute; top: 70px; left: -18px; width: 105px; height: 98px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/cakemain-left.png"); background-size: cover; }

@media screen and (max-width: 768px) { .screenshot-account-box:before { top: 9.11458vw; left: -2.34375vw; width: 13.67188vw; height: 12.76042vw; } }

.screenshot-account-box:after { content: ""; position: absolute; top: 70px; right: -20px; width: 113px; height: 96px; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/cakeman-right.png"); background-size: cover; }

@media screen and (max-width: 768px) { .screenshot-account-box:after { top: 9.11458vw; right: -2.60417vw; width: 14.71354vw; height: 12.5vw; } }

.screenshot-notice { background-color: #e84d67; border: 7px solid #fff; border-radius: 36px; font-size: 30px; padding: 34px 0; line-height: 1.5; margin-top: -4px; }

.screenshot-notice p:first-child { margin-bottom: 28px; }

@media screen and (max-width: 768px) { .screenshot-notice p:first-child { margin-bottom: 3.64583vw; } }

@media screen and (max-width: 768px) { .screenshot-notice { font-size: 3.90625vw; border-radius: 4.6875vw; padding: 4.42708vw 0; margin-top: -0.52083vw; } }

.event-info__list { list-style-type: cjk-decimal; font-size: 30px; color: #814d23; text-align: left; padding: 32px; padding-left: 96px; }

@media screen and (max-width: 768px) { .event-info__list { font-size: 3.90625vw; padding: 4.16667vw; padding-left: 12.5vw; } }

.event-info__list-box { background-color: #fff8e8; width: 100%; height: 556px; overflow: auto; margin-top: 43px; }

@media screen and (max-width: 768px) { .event-info__list-box { height: 72.39583vw; margin-top: 5.59896vw; } }

.event-info__li { margin-bottom: 32px; }

.event-info__li:last-child { margin-bottom: 0; }

.event-info__li span { display: block; }

@media screen and (max-width: 768px) { .event-info__li { margin-bottom: 4.16667vw; } }

.color-red { font-size: 3.90625vw; color: #d71e41; }

.select-account__error { font-size: 3.90625vw; color: #d71e41; }

.select-account__list-box { text-align: left; padding: 32px 0 32px 32px; overflow: hidden; margin-top: 43px; height: 568px; width: 100%; }

@media screen and (max-width: 768px) { .select-account__list-box { height: 73.95833vw; padding: 4.16667vw 0vw 4.16667vw 4.16667vw; margin-top: 5.59896vw; } }

.select-account__label { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 30px; position: relative; padding: 16px 23px; width: 533px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff4db; margin-bottom: 5px; }

.select-account__label:last-child { margin-bottom: 0; }

.select-account__label:nth-child(even) { background-color: #fff8e8; }

@media screen and (max-width: 768px) { .select-account__label { width: 69.40104vw; font-size: 3.90625vw; padding: 2.08333vw 2.99479vw; margin-bottom: 0.65104vw; } }

.select-account__radio { display: none; }

.select-account__radio:checked + .select-account__style:before { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 2.21354vw; height: 2.21354vw; background-color: #814d23; border-radius: 50%; }

.select-account__style { width: 34px; height: 34px; border-radius: 50%; border: 3px solid #814d23; margin-right: 26px; position: relative; }

@media screen and (max-width: 768px) { .select-account__style { width: 4.42708vw; height: 4.42708vw; border: 0.39062vw solid #814d23; margin-right: 3.38542vw; } }

.select-account__text { color: #814d23; margin-right: auto; }

.select-account__reward { color: #634e38; text-align: center; }

.select-account__reward span { display: block; }

.mCSB_inside > .mCSB_container { margin-right: 3.90625vw; }

.mCSB_scrollTools { width: 4.16667vw; }

.mCSB_scrollTools .mCSB_draggerRail { width: 1.17188vw; background-color: #9c7e67; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 3.25521vw; background-image: url("https://tw.hicdn.beanfun.com/beanfun/promo/KR/E20211008_H5/images/scrollbar3.png"); background-size: 3.25521vw 7.42188vw; border: 0.52083vw solid #8e5000; -webkit-box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); }

* { user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none; }

body { background-color: #cecece; min-width: 768px; position: relative; overscroll-behavior-y: contain; }

@media screen and (max-width: 768px) { body { min-width: auto; } }

#touchImg { position: absolute; -webkit-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; z-index: 999; }

#app { max-width: 768px; width: 100%; position: relative; margin: 0 auto; background-image: url("../images/bg.jpg"); background-position: center 0; background-size: 768px 1334px; background-color: #cecece; overflow: hidden; }

@media screen and (max-width: 768px) { #app { background-size: 100vw 173.69792vw; } }

.step { width: 100%; height: 100%; position: absolute; top: 0; left: 0; visibility: hidden; background-size: cover; }

.step-box { position: absolute; top: 0; left: 0; width: 768px; height: 1334px; background-size: 768px 1334px; display: none; }

.step-box.show { z-index: 99; display: block; }

@media screen and (max-width: 768px) { .step-box { width: 100vw; height: 173.69792vw; background-size: 100vw 173.69792vw; } }

.step-next { width: 164px; height: 164px; background-image: url("../images/next.png"); background-size: cover; position: absolute; top: 1138px; right: 52px; z-index: 99; }

@media screen and (max-width: 768px) { .step-next { width: 21.35417vw; height: 21.35417vw; top: 148.17708vw; right: 6.77083vw; } }

.step.show { visibility: visible; }

.step[data-step="1"] { background-image: url("../images/part1.png"); }

.step[data-step="2"] { background-image: url("../images/part2.png"); }

.step[data-step="3"] { background-image: url("../images/part3.png"); }

.logo { width: 244px; height: 69px; background-image: url("../images/logo.png"); background-size: cover; display: block; font-size: 0; margin: 17px; }

@media screen and (max-width: 768px) { .logo { width: 31.77083vw; height: 8.98438vw; margin: 2.21354vw; } }

.menu-toggle { width: 90px; height: 90px; background-image: url("../images/menu-icon.png"); background-size: cover; font-size: 0; position: absolute; top: 11px; right: 32px; z-index: 99; }

@media screen and (max-width: 768px) { .menu-toggle { width: 11.71875vw; height: 11.71875vw; top: 1.43229vw; right: 4.16667vw; } }

.menu-list { width: 130px; height: 936px; background-image: url("../images/menu-bg.png"); background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 64px; right: 13px; z-index: 98; padding-top: 81px; display: none; }

@media screen and (max-width: 768px) { .menu-list { width: 16.92708vw; height: 121.875vw; top: 8.33333vw; right: 1.69271vw; padding-top: 10.54688vw; } }

.menu-list__btn { font-size: 0; display: block; margin: 0 auto; margin-bottom: 97px; background-size: cover; }

.menu-list__btn:last-child { margin-bottom: 0; }

@media screen and (max-width: 768px) { .menu-list__btn { margin-bottom: 12.63021vw; } }

.menu-list__btn[data-btn="qa"] { width: 41px; height: 63px; background-image: url("../images/qa-icon.png"); }

@media screen and (max-width: 768px) { .menu-list__btn[data-btn="qa"] { width: 5.33854vw; height: 8.20312vw; } }

.menu-list__btn[data-btn="screenshot"] { width: 76px; height: 53px; background-image: url("../images/screenshot-icon.png"); }

@media screen and (max-width: 768px) { .menu-list__btn[data-btn="screenshot"] { width: 9.89583vw; height: 6.90104vw; } }

.menu-list__btn[data-btn="reward"] { width: 91px; height: 91px; }

.menu-list__btn[data-btn="reward"][data-reward="none"] { background-image: url("../images/reward1-icon.png"); }

.menu-list__btn[data-btn="reward"][data-reward="done"] { background-image: url("../images/reward2-icon.png"); }

.menu-list__btn[data-btn="reward"][data-reward="complete"] { background-image: url("../images/reward3-icon.png"); }

@media screen and (max-width: 768px) { .menu-list__btn[data-btn="reward"] { width: 11.84896vw; height: 11.84896vw; } }

.menu-list__btn[data-btn="save"] { width: 67px; height: 69px; background-image: url("../images/save-icon.png"); }

@media screen and (max-width: 768px) { .menu-list__btn[data-btn="save"] { width: 8.72396vw; height: 8.98438vw; } }

.menu-list__btn[data-btn="reset"] { width: 69px; height: 62px; background-image: url("../images/reset-icon.png"); }

@media screen and (max-width: 768px) { .menu-list__btn[data-btn="reset"] { width: 8.98438vw; height: 8.07292vw; } }

.account-box { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 30px; font-weight: bold; color: #873607; width: 700px; border-radius: 25px; border: 3px solid #fff; background-color: #ffefbf; padding: 9px 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 212px auto 0; }

@media screen and (max-width: 768px) { .account-box { font-size: 3.90625vw; width: 91.14583vw; border-radius: 3.25521vw; border: 0.39062vw solid #fff; padding: 1.17188vw 0; margin: 27.60417vw auto 0; } }

.account-info { margin: 0 14px; }

@media screen and (max-width: 768px) { .account-info { margin: 0 1.82292vw; } }

#container { width: 100%; height: 604px; }

@media screen and (max-width: 768px) { #container { height: 78.64583vw; } }

.decoration-wrap { margin-top: 36px; position: relative; }

@media screen and (max-width: 768px) { .decoration-wrap { margin-top: 4.6875vw; } }

.decoration-tabs { display: -webkit-box; display: -ms-flexbox; display: flex; }

.decoration-tab { width: 318px; height: 84px; font-size: 0; background-repeat: no-repeat; background-position: center center; background-size: 135px 48px; border-radius: 15px; position: absolute; top: -74px; left: 0; }

.decoration-tab.curr { z-index: 2; }

@media screen and (max-width: 768px) { .decoration-tab { background-size: 17.57812vw 6.25vw; width: 41.40625vw; height: 10.9375vw; border-radius: 1.95312vw; top: -9.63542vw; } }

.decoration-tab__cake { background-image: url("../images/tab-title-cake.png"); background-color: #ffc961; margin-right: 8px; -webkit-box-shadow: inset 0 4px 0 0 #ffeebb; box-shadow: inset 0 4px 0 0 #ffeebb; left: 22px; }

@media screen and (max-width: 768px) { .decoration-tab__cake { margin-right: 1.04167vw; -webkit-box-shadow: inset 0 0.52083vw 0 0 #ffeebb; box-shadow: inset 0 0.52083vw 0 0 #ffeebb; left: 2.86458vw; } }

.decoration-tab__deco { background-image: url("../images/tab-title-deco.png"); background-color: #61a4ff; -webkit-box-shadow: inset 0 4px 0 0 #dfedff; box-shadow: inset 0 4px 0 0 #dfedff; left: 348px; }

@media screen and (max-width: 768px) { .decoration-tab__deco { -webkit-box-shadow: inset 0 0.52083vw 0 0 #dfedff; box-shadow: inset 0 0.52083vw 0 0 #dfedff; left: 45.3125vw; } }

.decoration-contents { width: 100%; position: relative; }

.decoration-content { display: none; }

.decoration-content.curr { display: block; }

.decoration-content__cakes { background-color: #ffc961; width: 100%; padding: 18px; border-top: 4px solid #ffeebb; }

@media screen and (max-width: 768px) { .decoration-content__cakes { padding: 2.34375vw; border-top: 0.52083vw solid #ffeebb; } }

.decoration-content__cakes-box { background-color: #fff4e0; font-size: 0; white-space: nowrap; overflow: auto; padding: 18px 24px 24px; }

@media screen and (max-width: 768px) { .decoration-content__cakes-box { padding: 2.34375vw 3.125vw 3.125vw; } }

.decoration-content__cake-box { font-size: 0; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 69px; padding: 21px; -webkit-box-sizing: content-box; box-sizing: content-box; border-radius: 12px; }

@media screen and (max-width: 768px) { .decoration-content__cake-box { width: 8.98438vw; padding: 2.73438vw; border-radius: 1.5625vw; } }

.decoration-content__cake { display: inline-block; position: relative; }

.decoration-content__cake:first-child { margin-bottom: 35px; }

@media screen and (max-width: 768px) { .decoration-content__cake:first-child { margin-bottom: 4.55729vw; } }

.decoration-content__cake.on:before { content: ""; width: 112px; height: 39px; background-image: url("../images/mini-dish.png"); background-size: cover; position: absolute; bottom: -14px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

@media screen and (max-width: 768px) { .decoration-content__cake.on:before { width: 14.58333vw; height: 5.07812vw; bottom: -1.82292vw; } }

.decoration-content__cake span { width: 69px; height: 69px; border-radius: 10px; border: 4px solid #000; background-color: #fff; display: block; position: relative; z-index: 2; background-size: cover; background-position: center center; }

.decoration-content__cake span[data-color="white"] { background-color: #f7f4df; }

.decoration-content__cake span[data-color="blue"] { background-color: #10a7e6; }

.decoration-content__cake span[data-color="pink"] { background-color: #ff9292; }

.decoration-content__cake span[data-color="yellow"] { background-color: #ffc24c; }

.decoration-content__cake span[data-color="brown"] { background-color: #6f4d28; }

.decoration-content__cake span[data-color="purple"] { background-color: #8340c2; }

.decoration-content__cake span[data-color="green"] { background-color: #60c15b; }

.decoration-content__cake span[data-color="red"] { background-color: #ff3f3f; }

.decoration-content__cake span[data-id="wood1"] { background-image: url("../images/wood1.jpg"); }

.decoration-content__cake span[data-id="wood2"] { background-image: url("../images/wood2.jpg"); }

.decoration-content__cake span[data-id="marble"] { background-image: url("../images/marble.jpg"); }

.decoration-content__cake span[data-id="rock"] { background-image: url("../images/rock.jpg"); }

.decoration-content__cake span[data-id="star"] { background-image: url("../images/star.jpg"); }

.decoration-content__cake span[data-id="sea"] { background-image: url("../images/sea.jpg"); }

.decoration-content__cake span[data-id="grid"] { background-image: url("../images/grid.jpg"); }

.decoration-content__cake span[data-id="firework"] { background-image: url("../images/firework.jpg"); }

@media screen and (max-width: 768px) { .decoration-content__cake span { width: 8.98438vw; height: 8.98438vw; border-radius: 1.30208vw; border: 0.52083vw solid #000; } }

.decoration-content__decos { background-color: #61a4ff; font-size: 0; white-space: nowrap; overflow: auto; border-top: 4px solid #dfedff; }

@media screen and (max-width: 768px) { .decoration-content__decos { padding: 2.34375vw; border-top: 0.52083vw solid #dfedff; } }

.decoration-content__decos-box { background-color: #fff4e0; font-size: 0; white-space: nowrap; overflow: auto; padding: 18px 30px 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 12px; }

@media screen and (max-width: 768px) { .decoration-content__decos-box { border-radius: 1.5625vw; padding: 2.34375vw 3.90625vw 3.125vw; } }

.decoration-content__decos-box .mCSB_horizontal.mCSB_inside > .mCSB_container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.decoration-content__decos-box .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar { margin: 0 auto; background-image: url("../images/scrollbar2.png"); background-size: 1.82292vw 3.25521vw; border: 0.52083vw solid #3d68a2; -webkit-box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); }

.decoration-content__deco { display: inline-block; background-size: cover; background-position: center center; background-repeat: no-repeat; margin-right: 33px; -ms-flex-negative: 0; flex-shrink: 0; }

.decoration-content__deco:last-child { margin-right: 0; }

@media screen and (max-width: 768px) { .decoration-content__deco { margin-right: 4.29688vw; } }

.decoration-content__deco-box { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.decoration-content__deco-box .decoration-content__deco { margin-bottom: 26px; }

.decoration-content__deco-box .decoration-content__deco:last-child { margin-bottom: 0; }

@media screen and (max-width: 768px) { .decoration-content__deco-box .decoration-content__deco { margin-bottom: 3.38542vw; } }

.decoration-content__deco[data-id="candle0"] { width: 87px; height: 177px; background-image: url("../images/deco/candle0.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="candle0"] { width: 11.32812vw; height: 23.04688vw; background-size: 11.32812vw 23.04688vw; } }

.decoration-content__deco[data-id="candle1"] { width: 35px; height: 177px; background-image: url("../images/deco/candle1.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="candle1"] { width: 4.55729vw; height: 23.04688vw; background-size: 4.55729vw 23.04688vw; } }

.decoration-content__deco[data-id="candle11"] { width: 35px; height: 176px; background-image: url("../images/deco/candle11.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="candle11"] { width: 4.55729vw; height: 22.91667vw; background-size: 4.55729vw 22.91667vw; } }

.decoration-content__deco[data-id="red"] { width: 111px; height: 104px; background-image: url("../images/deco/red.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="red"] { width: 14.45312vw; height: 13.54167vw; background-size: 14.45312vw 13.54167vw; } }

.decoration-content__deco[data-id="blue"] { width: 127px; height: 142px; background-image: url("../images/deco/blue.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="blue"] { width: 16.53646vw; height: 18.48958vw; background-size: 16.53646vw 18.48958vw; } }

.decoration-content__deco[data-id="yellow"] { width: 140px; height: 173px; background-image: url("../images/deco/yellow.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="yellow"] { width: 18.22917vw; height: 22.52604vw; background-size: 18.22917vw 22.52604vw; } }

.decoration-content__deco[data-id="bow"] { width: 99px; height: 86px; background-image: url("../images/deco/bow.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="bow"] { width: 12.89062vw; height: 11.19792vw; background-size: 12.89062vw 11.19792vw; } }

.decoration-content__deco[data-id="strawberry"] { width: 91px; height: 84px; background-image: url("../images/deco/strawberry.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="strawberry"] { width: 11.84896vw; height: 10.9375vw; background-size: 11.84896vw 10.9375vw; } }

.decoration-content__deco[data-id="bean"] { width: 64px; height: 58px; background-image: url("../images/deco/bean.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="bean"] { width: 8.33333vw; height: 7.55208vw; background-size: 8.33333vw 7.55208vw; } }

.decoration-content__deco[data-id="banana1"] { width: 88px; height: 87px; background-image: url("../images/deco/banana1.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="banana1"] { width: 11.45833vw; height: 11.32812vw; background-size: 11.45833vw 11.32812vw; } }

.decoration-content__deco[data-id="cloud"] { width: 91px; height: 80px; background-image: url("../images/deco/cloud.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="cloud"] { width: 11.84896vw; height: 10.41667vw; background-size: 11.84896vw 10.41667vw; } }

.decoration-content__deco[data-id="banana2"] { width: 65px; height: 89px; background-image: url("../images/deco/banana2.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="banana2"] { width: 8.46354vw; height: 11.58854vw; background-size: 8.46354vw 11.58854vw; } }

.decoration-content__deco[data-id="face"] { width: 87px; height: 93px; background-image: url("../images/deco/face.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="face"] { width: 11.32812vw; height: 12.10938vw; background-size: 11.32812vw 12.10938vw; } }

.decoration-content__deco[data-id="blueball"] { width: 72px; height: 88px; background-image: url("../images/deco/blueball.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="blueball"] { width: 9.375vw; height: 11.45833vw; background-size: 9.375vw 11.45833vw; } }

.decoration-content__deco[data-id="ufo"] { width: 90px; height: 95px; background-image: url("../images/deco/ufo.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="ufo"] { width: 11.71875vw; height: 12.36979vw; background-size: 11.71875vw 12.36979vw; } }

.decoration-content__deco[data-id="shield"] { width: 77px; height: 87px; background-image: url("../images/deco/shield.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="shield"] { width: 10.02604vw; height: 11.32812vw; background-size: 10.02604vw 11.32812vw; } }

.decoration-content__deco[data-id="flyball"] { width: 72px; height: 91px; background-image: url("../images/deco/flyball.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="flyball"] { width: 9.375vw; height: 11.84896vw; background-size: 9.375vw 11.84896vw; } }

.decoration-content__deco[data-id="fly"] { width: 74px; height: 64px; background-image: url("../images/deco/fly.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="fly"] { width: 9.63542vw; height: 8.33333vw; background-size: 9.63542vw 8.33333vw; } }

.decoration-content__deco[data-id="magnet"] { width: 69px; height: 74px; background-image: url("../images/deco/magnet.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="magnet"] { width: 8.98438vw; height: 9.63542vw; background-size: 8.98438vw 9.63542vw; } }

.decoration-content__deco[data-id="n20plus"] { width: 71px; height: 71px; background-image: url("../images/deco/n20plus.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="n20plus"] { width: 9.24479vw; height: 9.24479vw; background-size: 9.24479vw 9.24479vw; } }

.decoration-content__deco[data-id="n20"] { width: 71px; height: 70px; background-image: url("../images/deco/n20.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="n20"] { width: 9.24479vw; height: 9.11458vw; background-size: 9.24479vw 9.11458vw; } }

.decoration-content__deco[data-id="light"] { width: 73px; height: 72px; background-image: url("../images/deco/light.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="light"] { width: 9.50521vw; height: 9.375vw; background-size: 9.50521vw 9.375vw; } }

.decoration-content__deco[data-id="bomb"] { width: 78px; height: 81px; background-image: url("../images/deco/bomb.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="bomb"] { width: 10.15625vw; height: 10.54688vw; background-size: 10.15625vw 10.54688vw; } }

.decoration-content__deco[data-id="crystal"] { width: 81px; height: 88px; background-image: url("../images/deco/crystal.png"); }

@media screen and (max-width: 768px) { .decoration-content__deco[data-id="crystal"] { width: 10.54688vw; height: 11.45833vw; background-size: 10.54688vw 11.45833vw; } }

.mCSB_horizontal.mCSB_inside > .mCSB_container { margin-bottom: 3.90625vw; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail { height: 1.17188vw; background-color: #9c7e67; -webkit-box-shadow: inset 0 0.26042vw 0 0.26042vw #544a42; box-shadow: inset 0 0.26042vw 0 0.26042vw #544a42; border-radius: 3.125vw; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger { height: 3.25521vw; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar { height: 3.25521vw; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar { margin: 0 auto; background-image: url("../images/scrollbar1.png"); background-size: 1.82292vw 3.25521vw; border: 0.52083vw solid #8e5000; -webkit-box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); box-shadow: inset 0 0.52083vw 1.04167vw rgba(255, 255, 255, 0.6); }

.mCSB_scrollTools.mCSB_scrollTools_horizontal { height: 4.16667vw; }

.mCustomScrollBox { padding-bottom: 2.08333vw; }
