{
	"printWidth": 3000,
	"useTabs": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"tabWidth": 4,
	"jsxBracketSameLine": false,
	"trailingComma": "es5",
	"semi": true,
	"disableLanguages": ["vue"]
}