<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <form-wrap></form-wrap>
    </div>
    <script>
        Vue.component("form-wrap",{
            template:`
            <div id="visa">
                <h1>Create a New Vue Account</h1>
                <form>
                    <label for="full name">Full Name:</label>
                    <input type="text" v-model="name" required>
                    <br>
                    <label for="email">Email Address:</label>
                    <input type="text" v-model="email" required> <br>
                    <span v-if="msg.email">{{msg.email}}</span>
                    <label for="password">Password:</label>
                    <input type="text" v-model="password" required><br>
                    <span v-if="msg.password">{{msg.password}}</span>
                    <br>
                    <label for="twitter">Twitter Handle:</label>
                    <input type="text" v-model="twitter" required>
                </form>
            </div>
            `,
            data(){
                return {
                    name: '',
                    password: '',
                    email: '',
                    msg: [],
                    twitter: ''
                }
            },
            watch: {
                email(value){
                    // binding this to the data value in the email input
                    this.email = value;
                    this.validateEmail(value);
                },
                password(value){
                    this.password = value;
                    this.validatePassword(value);
                }
            },
            methods:{
                validateEmail(value){
                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)){
                        this.msg['email'] = '';
                    } else{
                        this.msg['email'] = 'Invalid Email Address';
                    } 
                },
                validatePassword(value){
                    let difference = 8 - value.length;
                    if (value.length<8) {
                        this.msg['password'] = 'Must be 8 characters! '+ difference + ' characters left' ;
                    } else {
                        this.msg['password'] = '';
                    }
                }
            }
        })
        var vm = new Vue({
            el: '#app',
            data:{

            },
            methods: {

            }

        });
    </script>
</body>

</html>