<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <style>
        .ul-box{
            width: 200px;
            overflow-y: auto;
        }
        .ul-box__li{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="txt">
        <h3>{{txt}}</h3>
        <Child title="Child" :users="users" @hook:mounted="listenChild"></Child>
    </div>
    <template id="Child">
        <div>
            <h3>{{title}}</h3>
            <ul class="ul-box" ref="ulbox" v-if="users">
                <li class="ul-box__li" v-for="(user,index) in users" :key="index">name:{{user.name}}</li>
            </ul>
        </div>
    </template>
    <script>
        var Child={
            template:"#Child",
            props:["users","title"],
            created(){
                console.log("created:Child組件創建")
            },
            mounted(){
                console.log("mounted:Child")
            },
            beforeUpdate(){
                var temp=this.users.length;
                this.$refs.ulbox.style.width=800+'px';
                console.log("beforeUpdate:Child")
            }
        }
        new Vue({
            el:"#app",
            components:{
                Child
            },
            created(){
                fetch("https://jsonplaceholder.typicode.com/users")
                .then((data)=>{
                    return data.json()
                })
                .then((res)=>{
                    this.users=res
                })
                console.log("created:App")
            },
            mounted(){
                console.log("mounted:App")
            },
            data:{
                txt:"",
                users:[]
            },
            methods: {
                listenChild(){
                    console.log("listenChild mounted")
                }
            },
        })
    </script>
</body>
</html>