<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <style>
        .cell {
            width: 64px;
            height: 64px;
            border: 2px solid rgb(75, 75, 75);
            font-size: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tictactoe-board {
            display: flex;
            flex-wrap: wrap;
            width: 204px;
            height: 204px;
        }
    </style>
</head>

<body>
    <div id="app">
        <tictactoe></tictactoe>
    </div>

    <template id="tictactoe">
        <div class="tictactoe-board">
            <div v-for="(n,i) in 3">
                <div v-for="(n,j) in 3">
                    <cell @click="performMove(i,j)" :value="board.cells[i][j]"></cell>
                </div>
            </div>

            <div class="game-over-text" v-if="gameOver">
                {{ gameOverText }}
            </div>
        </div>
    </template>

    <template id="cell">
        <div class="cell" @click="$emit('click')">
            <span v-if="value !== ''">{{value}}</span>
        </div>
    </template>
    <script>
        class Board{
            constructor(){
                this.cells=[
                    ['', '', ''],
                    ['', '', ''],
                    ['', '', '']
                ]
            }

            doMove(x,y,player){
                if(this.cells[x][y] !== ''){
                    return false;
                }

                this.cells[x][y]=player;
                return true;
            }

            getScore(){
                let score=0;
                if(this.playerHas3InARow('x')){
                    score-=100;
                }
                if(this.playerHas3InARow('o')){
                    score+=100;
                }
                return score;
            }

            playerHas3InARow(player){
                // Horizontal rows
                for(let i=0;i<3;i++){
                    if(this.cells[0][i] === player && this.cells[1][i] === player && this.cells[2][i] === player){
                        return true;
                    }
                }
                // Vertical rows
                for(let i=0;i<3;i++){
                    if(this.cells[i][0] === player && this.cells[i][1] === player && this.cells[i][2] === player){
                        return true;
                    }
                }
                // Diagonals
                if(this.cells[0][0] === player && this.cells[1][1] === player && this.cells[2][2] === player){
                    return true;
                }
                if(this.cells[2][0] === player && this.cells[1][1] === player && this.cells[0][2] === player){
                    return true;
                }
                return false;
            }

            isGameOver(){
                return this.getPossibleMoves().length  === 0 || this.playerHas3InARow('x') || this.playerHas3InARow('o')
            }

            clone(){
                let clone=new Board();

                for(let i=0;i<3;i++){
                    for(let j=0;j<3;j++){
                        clone.cells[i][j]=this.cells[i][j]
                    }
                }
                return clone;
            }

            getPossibleMoves(){
                let moves=[];
                for(let i=0;i<3;i++){
                    for(let j=0;j<3;j++){
                        if(this.cells[i][j] === ''){
                            moves.push({x:i,y:j});
                        }
                    }
                }
                return moves;
            }
        }
        Vue.component('tictactoe',{
            template: "#tictactoe",
            data() {
                return {
                    gameOver:false,
                    gameOverText:"",
                    board: new Board()
                }
            },
            methods:{
                performMove(x,y){
                    if(this.gameOver){
                        return;
                    }
                    if(!this.board.doMove(x,y,'x')){
                        return;
                    }

                    this.$forceUpdate();

                    if(this.board.isGameOver()){
                        this.gameOver=true;
                        this.gameOverText=this.board.playerHas3InARow('x')?'You win!':"Draw";
                        return;
                    }

                    let aiMove=this.minimax(this.board.clone(),'o');
                    this.board.doMove(aiMove.move.x,aiMove.move.y,'o')

                    if(this.board.isGameOver()){
                        this.gameOver=true;
                        this.gameOverText=this.board.playerHas3InARow('o')?'You lose!':"Draw";
                    }
                    this.$forceUpdate();
                },
                minimax(board,player,depth=1){
                    if(board.isGameOver()){
                        return {
                            score:board.getScore() + depth,
                            move:null
                        }
                    }

                    let bestScore=player === 'o' ? -10000:10000;
                    let bestMove=null;

                    let moves=board.getPossibleMoves();
                    for(let i=0;i<moves.length;i++){
                        let move=moves[i];
                        let newBoard=board.clone();
                        newBoard.doMove(move.x,move.y,player);

                        const score=this.minimax(newBoard,player === 'x' ? 'o':'x',depth+1).score;

                        if((player === 'o' && score > bestScore) || (player === 'x' && score < bestScore)){
                            bestScore=score;
                            bestMove=move;
                        }
                    }

                    return {
                        score:bestScore,
                        move:bestMove
                    }
                }
            }
        })
        Vue.component('cell',{
            template: "#cell",
            props: {
                value: String
            }
        })
        new Vue({
            el: "#app"
        })
    </script>
</body>

</html>