<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuex TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="list">
        <button @click="add">新增</button>
        <button @click="test">Test</button>
        <span>預覽 {{list}}</span>
        <List>
            <template #header>
                <h3>List 列表 - {{getlistlength}} total</h3>
            </template>
        </List>
    </div>
    <template id="List">
        <div>
            <slot name="header"></slot>
            <ul>
                <li v-for="(item,index) in listarr" :key="index">
                    {{item}} <button @click="remove(index)">X</button> 
                </li>
            </ul>
        </div>
    </template>
    <script src="./Vuex-todolist-todolist.js"></script>
    <script src="./Vuex-todolist-user.js"></script>
    <script src="./Vuex-todolist-index.js"></script>
    <script>
        var List={
            template:"#List",
            created(){
                this.listarr=this.$store.state.todolist.lists
            },
            data(){
                return {
                    listarr:[]
                }
            },
            methods:{
                ...Vuex.mapActions(
                    {
                        addlist:['todolist/removelist'],
                        removelist:['todolist/removelist'],
                    }
                ),
                remove(index){
                    this.removelist(index)
                    // this.$store.dispatch({
                    //     type:'removelist',
                    //     index:index
                    // })
                }
            }
        }
        new Vue({
            el:"#app",
            store,
            components:{
                List
            },
            computed:{
                ...Vuex.mapGetters({
                    listlength:['todolist/listlength']
                }),
                getlistlength(){
                    return this.listlength
                }
            },
            data:{
                list:"",
                listarr:[]
            },
            methods: {
                add(){
                    this.$store.dispatch({
                        type:"todolist/addlist",
                        list:this.list
                    })
                    this.list=""
                },
                test(){
                    this.$store.dispatch({
                        type:"todolist/testAction",
                        data:123
                    })
                }
                
            }
        })
    </script>
</body>
</html>