* {
	padding: 0;
	margin: 0;
}
.box {
	width: 300px;
	height: 300px;
	margin: 60px auto;
	background-color: #dddddd;
	position: relative;
	.close {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 10px;
		right: 10px;
		border-radius: 50%;
		background-color: orange;
		cursor: pointer;
	}
}
@function vw($size, $breakpoint: 750) {
	@return ($size / $breakpoint) * 100vw;
}
%default {
	width: vw(600, 1920);
	height: 200px;
	@media screen and (max-width: 750px) {
		width: vw(600);
	}
}

.typea.box {
	@extend %default;
	.close {
		left: 50%;
		transform: translateX(-50%);
	}
}
.typeb.box {
	@extend %default;
	.close {
		left: 50%;
		transform: translateX(-50%);
		background-color: red;
	}
}

@mixin media() {
	$breakpoint: 768px;
	@media screen and (max-width: $breakpoint) {
		@content;
	}
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}
.box {
	width: 100px;
	height: 100px;
	@include media {
		background-color: #000;
	}
}
