<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<!-- 開發用 -->
		<script src="https://tw.hicdn.beanfun.com/plugins/vue/3.4.19/vue.global.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h3>{{msg}}</h3>
			<div>{{list}}</div>
			<li v-for="item in items">{{ item.message }}</li>
			<div v-for="i in list">{{i}}</div>
			<table>
				<!-- <tr is="vue:one-two"></tr> -->
				<tr v-for="item in items">
					<td>{{item.message}}</td>
				</tr>
			</table>
		</div>
		<script>
			let OneTwo = {
				template: `
					<tr>
						<td>1-1</td>
						<td>1-2</td>
						<td>1-3</td>
					</tr>
					<tr>
						<td>2-1</td>
						<td>2-2</td>
						<td>2-3</td>
					</tr>
					<tr>
						<td>3-1</td>
						<td>3-2</td>
						<td>3-3</td>
					</tr>
				`
			};

			const app = Vue.createApp({
				components: {
					"one-two": OneTwo
				},
				data() {
					return {
						msg: "J",
						list: [1, 2, 3, 4, 5],
						items: [{ message: "Foo" }, { message: "Bar" }]
					};
				}
			}).mount("#app");
		</script>
	</body>
</html>
