.create {
	&-content {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		@include media {
			width: 100%;
		}
	}
	&-title {
		font-size: 0;
		width: 267px;
		height: 40px;
		background-size: 100%;
		background-image: url("./images/title-create-character.png");
		margin-bottom: 0;
		@include media {
			width: vw(533);
			height: vw(80);
			margin-bottom: vw(60);
		}
	}
	&-action {
		width: 724px;
		height: 120px;
		position: relative;
		display: flex;
		background-image: url("./images/count-down-bg.png");
		background-size: 380px 90px;
		background-position: center 0;
		background-repeat: no-repeat;
		margin-bottom: 64px;
		@include media {
			width: 100vw;
			height: auto;
			background-image: url("./images/m-count-down-bg.png");
			background-size: vw(760) vw(180);
			margin-bottom: 0;
		}
		&__btn {
			&-group {
				font-size: 0;
				display: flex;
				position: relative;
				margin-top: auto;
				width: 100%;
				@include media {
					flex-direction: column;
					align-items: center;
					row-gap: vw(30);
					margin-top: vw(180);
				}
				&:before {
					content: "";
					width: 234px;
					height: 25px;
					background-size: 100%;
					background-image: url("./images/btn-line.png");
					position: absolute;
					top: 88px;
					left: 50%;
					transform: translateX(-50%);
					@include media {
						content: none;
					}
				}
			}
			&-protect {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-protect.png");
				background-size: 300%;
				background-position-x: -100%;
				margin: 120px auto 0;
				&.-disabled {
					background-position-x: 0%;
					cursor: not-allowed;
					@include hover {
						background-position-x: 0%;
					}
				}
				@include hover {
					background-position-x: -200%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
					margin: 0;
				}
			}
			&-plunder {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-plunder.png");
				background-size: 300%;
				background-position-x: -100%;
				margin-left: auto;
				&.disabled {
					background-position-x: 0%;
				}
				@include hover {
					background-position-x: -200%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
					margin-left: 0;
				}
			}
		}
	}
	&-countdown {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		&__title {
			font-size: 20px;
			color: #c7bfb3;
			margin-bottom: 10px;
			@include media {
				font-size: vw(40);
				margin-bottom: vw(10);
			}
		}
		&__notice {
			font-size: 14px;
			color: #ff3e3e;
			text-align: center;
			position: absolute;
			bottom: -90px;
			left: 50%;
			transform: translateX(-50%);
			@include media {
				font-size: vw(28);
				bottom: vw(-80);
				// display: none;
			}
		}
		&__time {
			&-box {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 2px;
				padding: 12px 0;
				margin-bottom: 8px;
				@include media {
					padding: vw(24) 0;
					margin-bottom: 0;
					column-gap: vw(4);
				}
			}
			&-num {
			}
		}
	}
	&-pre {
		width: 840px;
		height: 450px;
		background-size: 100%;
		background-image: url("./images/create-name-bg.png");
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media {
			width: 100vw;
			height: vw(968);
			background-image: url("./images/m-create-name-bg.png");
			margin-top: vw(-36);
		}
		&__title {
			font-size: 0;
			width: 192px;
			height: 35px;
			background-size: 100%;
			background-image: url("./images/title-create-character-name.png");
			margin-top: 160px;
			margin-bottom: 15px;
			@include media {
				width: vw(384);
				height: vw(70);
				margin-top: vw(320);
				margin-bottom: vw(30);
			}
		}
		&__name {
			font-size: 30px;
			font-weight: bold;
			color: #c2a779;
			margin-bottom: 20px;
			@include media {
				font-size: vw(60);
				margin-bottom: vw(40);
			}
		}
		&__realm {
			width: 354px;
			background-image: url("./images/realm-box-line.png"), url("./images/realm-box-line.png");
			background-size: 354px 11px, 354px 11px;
			background-repeat: no-repeat;
			background-position: center 0, center 100%;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			color: #c2a779;
			padding: 24px 0;
			position: relative;
			@include media {
				width: vw(708);
				background-size: vw(708) vw(22), vw(708) vw(22);
				padding: vw(46) 0;
				font-size: vw(48);
			}
			&:before {
				content: "";
				width: 60px;
				height: 20px;
				position: absolute;
				top: -5px;
				left: 50%;
				transform: translateX(-50%);
				background-size: 100%;
				background-image: url("./images/hexagon-realm.png");
				@include media {
					width: vw(120);
					height: vw(40);
					top: vw(-10);
				}
			}
		}
		&__notice {
			font-size: 16px;
			color: #c7bfb3;
			margin-top: 12px;
			@include media {
				font-size: vw(32);
				margin-top: vw(24);
			}
		}
	}
	&-hold {
		@include media {
			margin-top: vw(-72);
		}
		&__title {
			font-size: 0;
			width: 273px;
			height: 34px;
			background-size: 100%;
			background-image: url("./images/create-name-title2.png");
			margin: 30px auto;
			@include media {
				width: vw(546);
				height: vw(68);
			}
		}
		&__box {
			margin-bottom: 60px;
			@include media {
				margin-bottom: vw(120);
			}
		}
		&__list {
			width: 1200px;
			margin: 0 auto;
			position: relative;
			display: flex;
			column-gap: 57px;
			justify-content: center;
			.swiper-slide {
				width: 265px;
				@include media {
					width: auto;
				}
			}
			@include media {
				width: 100vw;
				column-gap: 0;
				justify-content: normal;
			}
		}
		&__item {
			width: 265px;
			height: 265px;
			border-radius: 100vmax;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: rgba(#000, 1);
			box-shadow: inset 0 0 0 1px #ffe2ae;
			margin: auto;
			&:before {
				content: "";
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				border-radius: 100vmax;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
				background-image: linear-gradient(to bottom, rgba(#f5c168, 0.17) 0%, rgba(#f5c168, 0) 30%, rgba(#f5c168, 0) 70%, rgba(#f5c168, 0.17) 100%);
				@include media {
					width: calc(100% - vw(40));
					height: calc(100% - vw(40));
				}
			}
			@include media {
				width: vw(530);
				height: vw(530);
				box-shadow: inset 0 0 0 vw(2) #ffe2ae;
			}
			&-next {
				width: 34px;
				height: 44px;
				background-size: 100%;
				position: absolute;
				top: 50%;
				right: 0;
				background-image: url("./images/btn-next.png");
				display: none;
				z-index: 99;
				@include media {
					width: vw(46);
					height: vw(60);
					right: vw(17);
					display: block;
				}
			}
			&-prev {
				width: 34px;
				height: 44px;
				background-size: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				background-image: url("./images/btn-prev.png");
				display: none;
				z-index: 99;
				@include media {
					width: vw(46);
					height: vw(60);
					left: vw(17);
					display: block;
				}
			}
			&--lock {
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 67px;
					height: 80px;
					background-size: 100%;
					background-image: url("./images/icon-lock.png");
					@include media {
						width: vw(134);
						height: vw(160);
					}
				}
			}
			&--protect {
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 70px;
					height: 76px;
					background-size: 100%;
					background-image: url("./images/icon-protect.png");
					@include media {
						width: vw(140);
						height: vw(151);
					}
				}
			}
			&--protect,
			&--lock {
				background-color: rgba(#000, 1);
				box-shadow: inset 0 0 0 1px #ffe2ae;
				@include media {
					box-shadow: inset 0 0 0 vw(2) #ffe2ae;
				}
				.create-hold__btn-set {
					display: none;
				}
				&:before {
					content: "";
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					border-radius: 100vmax;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					background-image: linear-gradient(to bottom, rgba(#f5c168, 0.17) 0%, rgba(#f5c168, 0) 50%, rgba(#f5c168, 0.17) 100%);
					@include media {
						width: calc(100% - vw(40));
						height: calc(100% - vw(40));
					}
				}
			}
			&--set {
				background-color: rgba(#000, 0.5);
				box-shadow: inset 0 0 0 1px #504338;
				@include media {
					box-shadow: inset 0 0 0 vw(2) #504338;
				}
				.create-hold__name {
					margin-bottom: 20px;
					@include media {
						margin-bottom: vw(40);
					}
				}
				.create-hold__protect-time-box {
					display: none;
				}
			}
		}
		&__name {
			font-size: 25px;
			color: #c2a779;
			font-weight: bold;
			margin-bottom: 12px;
			padding: 0 66px;
			text-align: center;
			word-break: break-all;
			position: relative;
			z-index: 1;
			@include media {
				margin-bottom: vw(24);
				font-size: vw(48);
				padding: 0 vw(96);
			}
		}
		&__btn-set {
			position: relative;
			z-index: 1;
		}
		&__protect {
			&-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				z-index: 1;
			}
			&-title {
				width: 120px;
				height: 20px;
				background-image: url("./images/hexagon-protect-time.png");
				background-size: 100%;
				margin-bottom: 8px;
				font-size: 0;
				@include media {
					width: vw(240);
					height: vw(40);
					margin-bottom: vw(16);
				}
			}
			&-time {
				&-box {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 2px;
					@include media {
						column-gap: vw(2);
					}
				}
				&-num {
				}
			}
		}
	}
	&-task {
		&__list {
			position: absolute;
			top: 0;
			right: 0;
			padding: 100px 0;
			&:before {
				content: "";
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
				right: -18px;
				background-image: linear-gradient(to bottom, rgba(#c2a779, 0) 0%, rgba(#c2a779, 0.75) 30%, #c2a779 50%, rgba(#c2a779, 0.75) 70%, rgba(#c2a779, 0) 100%);
			}
			@include media {
				display: none;
			}
		}
		&__item {
			font-size: 16px;
			text-align: right;
			margin-bottom: 40px;
			&.complete {
				span:first-child {
					&:after {
						display: block;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				display: block;
				position: relative;
				&:first-child {
					color: #baa990;
					&:before {
						content: "";
						width: 9px;
						height: 9px;
						background-size: cover;
						background-image: url("./images/line-point.png");
						position: absolute;
						top: 50%;
						right: -22px;
						transform: translateY(-50%);
					}
					&:after {
						content: "";
						width: 12px;
						height: 12px;
						background-size: 100%;
						background-image: url("./images/icon-check.png");
						position: absolute;
						top: 50%;
						left: -20px;
						transform: translateY(-50%);
						display: none;
					}
				}
				&:last-child {
					color: #7f6b54;
				}
			}
		}
	}
	&-btn {
		&__mission {
			display: none;
			@include media {
				position: fixed;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: block;
				width: vw(60);
				height: vw(120);
				background-size: cover;
				background-image: url("./images/create-mission-open.png");
			}
		}
	}
}
