.create {
	&-content {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: center;
		position: relative;
		@include media {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}
	&-title {
		width: 100%;
		text-align: center;
		margin-bottom: 60px;
		@include media {
			margin-bottom: vw(60);
		}
		span {
			display: inline-block;
			font-size: 0;
			width: 265px;
			height: 40px;
			background-size: 100%;
			background-image: url("./images/title-create-character.png");
			@include media {
				width: vw(533);
				height: vw(80);
			}
		}
	}
	&-event {
		width: 530px;
		// height: 576px;
		margin-top: -30px;
		order: 2;
		@include media {
			order: 1;
			width: vw(708);
			margin-top: 0;
			// height: vw(708);
		}
		.create-pre {
			display: flex;
			@include media {
				display: none;
			}
		}
		&-content {
			width: 100%;
			position: relative;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				background-color: rgba(#000, 0.5);
				position: absolute;
				top: 0;
				left: 0;
				clip-path: polygon(0% 0%, 45.08% 0%, 50.44% 6.83%, 55.13% 0px, 100% 0%, 100% 100%, 55.15% 99.77%, 50.19% 93.31%, 45.38% 100%, 0px 100%);
				z-index: 0;
				@include media {
					clip-path: polygon(0% 0%, 42.48% 0%, 50.44% 6.83%, 58.31% 0px, 100% 0%, 100% 100%, 0px 100%);
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-size: 530px 28px, 530px 28px;
				background-image: url("./images/countdown-line-top.png"), url("./images/countdown-line-bottom.png");
				background-position: center 0, center bottom;
				background-repeat: no-repeat;
				z-index: 1;
				@include media {
					background-image: url("./images/m-countdown-line-top.png");
					background-size: vw(708) vw(60);
					background-position: center 0;
				}
			}
		}
	}
	&-left {
		width: 354px;
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 30px;
		// margin-top: 35px;
		@include media {
			width: vw(708);
			margin-right: 0;
			margin-top: vw(120);
			order: 2;
		}
		.create-btn__notice {
			display: none;
			@include media {
				display: flex;
			}
		}
		.create-pre {
			display: none;
			@include media {
				display: flex;
			}
		}
	}
	&-action {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
		z-index: 2;
		@include media {
			margin-bottom: vw(80);
		}
		&__btn {
			&-group {
				font-size: 0;
				display: flex;
				position: relative;
				margin-top: auto;
				width: 100%;
				@include media {
					flex-direction: column;
					align-items: center;
					row-gap: vw(30);
					margin-top: vw(180);
				}
				&:before {
					content: "";
					width: 234px;
					height: 25px;
					background-size: 100%;
					background-image: url("./images/btn-line.png");
					position: absolute;
					top: 88px;
					left: 50%;
					transform: translateX(-50%);
					@include media {
						content: none;
					}
				}
			}
			&-protect {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-protect.png");
				background-size: 300%;
				background-position-x: -100%;
				font-size: 0;
				position: relative;
				overflow: hidden;
				&.-disabled {
					background-position-x: -200%;
					cursor: not-allowed;
					@include hover {
						// background-position-x: 0%;
					}
					.line {
						display: none;
					}
				}
				@include hover {
					// background-position-x: -200%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
				}
				.line {
					width: 12px;
					height: 150%;
					position: absolute;
					top: 50%;
					left: 40%;
					transform: translateY(-50%) rotate(30deg);
					opacity: 0;
					animation: move 3s linear infinite;
					@include media {
						width: vw(12);
					}
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						background-color: rgb(255 255 255 / 95%);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						filter: blur(4px);
						box-shadow: 0 0 28px #fff, 0 0 28px #fff, 0 0 28px #fff, 0 0 30px #fff;
						@include media {
							filter: blur(vw(4));
							box-shadow: 0 0 vw(28) #fff, 0 0 vw(28) #fff, 0 0 vw(28) #fff, 0 0 vw(30) #fff;
						}
					}
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 4px;
						height: 100%;
						background-color: #fff;
						filter: blur(1px);
						@include media {
							width: vw(4);
							filter: blur(vw(2));
						}
					}
				}
			}
			&-plunder {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-plunder.png");
				background-size: 300%;
				background-position-x: -100%;
				margin-left: auto;
				&.disabled {
					background-position-x: 0%;
				}
				@include hover {
					background-position-x: -200%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
					margin-left: 0;
				}
			}
		}
	}
	&-countdown {
		// position: absolute;
		// top: 0;
		// left: 50%;
		// transform: translateX(-50%);
		text-align: center;
		&__title {
			font-size: 24px;
			color: #c7bfb3;
			margin-top: 46px;
			margin-bottom: 10px;
			position: relative;
			@include media {
				font-size: vw(48);
				margin-top: vw(112);
				margin-bottom: vw(20);
			}
		}
		&__time {
			&-box {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 2px;
				margin-bottom: 20px;
				position: relative;
				@include media {
					column-gap: vw(4);
					margin-bottom: vw(42);
				}
			}
		}
	}
	&-pre {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		order: 2;
		margin-bottom: 20px;
		@include media {
			margin-bottom: 0;
		}
		&__title {
			font-size: 0;
			width: 113px;
			height: 20px;
			background-size: 100%;
			background-image: url("./images/hexagon-create-name.png");
			margin-bottom: 6px;
			@include media {
				width: vw(226);
				height: vw(40);
				margin-bottom: vw(15);
			}
		}
		&__name {
			font-size: 24px;
			font-weight: bold;
			color: #c2a779;
			// margin-bottom: 12px;
			@include media {
				font-size: vw(48);
				// margin-bottom: vw(18);
			}
			&-box {
				position: relative;
			}
		}
		&__btn-logout {
			color: #b68d67;
			font-size: 18px;
			position: absolute;
			bottom: 0;
			right: -8px;
			transform: translate(100%, 0);
			@include media {
				font-size: vw(36);
				position: relative;
				right: 0;
				transform: none;
				margin-top: vw(18);
			}
		}
		&__realm {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #c2a779;
			position: relative;
			@include media {
				font-size: vw(40);
			}
		}
		&__notice {
			font-size: 16px;
			color: #c7bfb3;
			margin-top: 12px;
			display: none;
			@include media {
				font-size: vw(32);
				margin-top: vw(24);
			}
		}
	}
	&-hold {
		position: relative;
		padding-bottom: 60px;
		z-index: 2;
		@include media {
			padding: 0 15%;
			padding-bottom: vw(100);
		}
		&__title {
			font-size: 0;
			width: 273px;
			height: 34px;
			background-size: 100%;
			background-image: url("./images/create-name-title2.png");
			margin: 30px auto;
			@include media {
				width: vw(546);
				height: vw(68);
			}
		}
		&__box {
			@include media {
				width: vw(548);
				overflow: hidden;
				position: relative;
			}
		}
		&__swiper {
			&.swiper-container {
				overflow: initial;
				@include media {
					overflow: hidden;
				}
			}
			&.swiper {
				overflow: initial;
				@include media {
					// width: vw(270);
					width: vw(548);
					overflow: visible;
					margin: 0 auto;
				}
			}
		}
		.swiper-pagination {
			@include media {
				color: #6b6b6b;
				font-size: vw(32);
				top: unset;
				bottom: vw(-52);
			}
		}
		&__list {
			width: 530px;
			margin: 0 auto;
			position: relative;
			display: flex;
			column-gap: 16px;
			justify-content: center;
			.swiper-slide {
				width: 158px;
				height: 158px;
				display: flex;
				@include media {
					// width: vw(270) !important;
					height: vw(350);
				}
			}
			@include media {
				width: 100%;
				column-gap: 0;
				justify-content: unset;
			}
		}
		&__item {
			width: 145px;
			height: 145px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// background-color: rgba(#000, 0.5);
			// border: 1px solid var(--border-color, #6b6b6b);
			margin: auto;
			background-color: rgba(#000, 0.5);
			box-shadow: 0 0 6px 2px var(--box-shadow, rgba(#000, 0));
			@include media {
				width: vw(290);
				height: vw(290);
				// border: vw(1) solid var(--border-color, #6b6b6b);
				box-shadow: 0 0 vw(6) vw(2) var(--box-shadow, rgba(#000, 0)), inset 0 0 vw(6) vw(2) var(--box-shadow, rgba(#000, 0));
			}
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				fill: currentColor;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-size: contain;
				mask-position: center center;
				mask-repeat: no-repeat;
				mask-size: 100% 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				mask-image: url("./svg/svg-item-border.svg");
				background-color: var(--circle, #6b6b6b);
				z-index: 0;
			}
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 99%;
				height: 99%;
				border: 2px solid var(--border-color, #6b6b6b);
				z-index: 1;
				@include media {
					border: vw(2) solid var(--border-color, #6b6b6b);
				}
			}
			&[data-type="0"] {
				--border-color: #6b6b6b;
				--color: #6b6b6b;
				--circle: #6b6b6b;
				--linear-gradient: rgba(114, 151, 211, 0);
				--box-shadow: rgba(0, 0, 0, 0);
			}
			&[data-type="1"] {
				--border-color: #5d93ec;
				--color: #afcbfa;
				--circle: #2f4a76;
				--linear-gradient: rgba(114, 151, 211, 0.5);
				--box-shadow: #5d93ec;
			}
			&[data-type="2"] {
				--border-color: #d62c2c;
				--color: #f8acac;
				--circle: #6b1616;
				--linear-gradient: rgba(211, 114, 114, 0.5);
				--box-shadow: #d62c2c;
			}
			&[data-type="3"] {
				--border-color: #b272d3;
				--color: #d9adef;
				--circle: #b272d3;
				--linear-gradient: rgba(178, 114, 211, 0.5);
				--box-shadow: #b272d3;
			}
			&[data-type="4"] {
				--border-color: #f2d5a1;
				--color: #e9d2ad;
				--circle: #5d503a;
				--linear-gradient: rgba(185, 159, 116, 0.5);
				--box-shadow: #f2d5a1;
			}
			&-next {
				width: 34px;
				height: 44px;
				background-size: 100%;
				position: absolute;
				top: 50%;
				right: 0;
				background-image: url("./images/btn-next.png");
				display: none;
				z-index: 99;
				transform: translateY(-50%);
				@include media {
					width: vw(46) !important;
					height: vw(60);
					right: vw(17);
					display: block;
					margin-top: vw(-46);
				}
			}
			&-prev {
				width: 34px;
				height: 44px;
				background-size: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				background-image: url("./images/btn-prev.png");
				display: none;
				z-index: 99;
				transform: translateY(-50%);
				@include media {
					width: vw(46) !important;
					height: vw(60);
					left: vw(17);
					display: block;
					margin-top: vw(-46);
				}
			}
		}
		.i--plus {
			width: 30px;
			height: 30px;
			background-color: #6b6b6b;
			mask-image: url("./svg/svg_plus_01.svg");
			margin-bottom: 10px;
		}
		&__name {
			font-size: 16px;
			color: var(--color, #6b6b6b);
			font-weight: bold;
			text-align: center;
			word-break: break-all;
			position: relative;
			z-index: 1;
			padding: 0 18px;
			@include media {
				font-size: vw(32);
				padding: 0 vw(18);
			}
		}
		&__btn-set {
			position: relative;
			color: #b68d67;
			background-color: #000;
			box-shadow: inset 0 0 0 1px #c2a779;
			position: absolute;
			left: 50%;
			bottom: -12px;
			transform: translateX(-50%);
			width: 75px;
			height: 40px;
			font-size: 14px;
			z-index: 2;
			@include media {
				width: vw(150);
				height: vw(80);
				font-size: vw(28);
				box-shadow: inset 0 0 0 vw(2) #c2a779;
				bottom: vw(-24);
			}
		}
		&__protect {
			&-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				z-index: 1;
			}
			&-title {
				width: 120px;
				height: 20px;
				background-image: url("./images/hexagon-protect-time.png");
				background-size: 100%;
				margin-bottom: 8px;
				font-size: 0;
				@include media {
					width: vw(240);
					height: vw(40);
					margin-bottom: vw(16);
				}
			}
			&-time {
				&-box {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 2px;
					@include media {
						column-gap: vw(2);
					}
				}
			}
		}
	}
	&-task {
		width: 100%;
		position: relative;
		// margin-bottom: 60px;
		display: flex;
		flex-direction: column;
		row-gap: 46px;
		@include media {
			row-gap: vw(90);
			margin-bottom: vw(80);
		}
		&__list {
			width: 100%;
			background-color: rgba(#000, 0.5);
			order: 1;
			position: relative;
			padding: 24px 15px;
			@include media {
				padding: vw(48) vw(30);
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background-size: 100%;
				background-repeat: no-repeat;
				width: 324px;
				height: 40px;
				background-image: url("./images/task-line-top.png");
				top: -30px;
				@include media {
					width: vw(648);
					height: vw(80);
					top: vw(-60);
				}
			}
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-size: 100%;
				background-repeat: no-repeat;
				background-image: url("./images/task-line-bottom.png");
				width: 324px;
				height: 24px;
				bottom: -14px;
				@include media {
					width: vw(648);
					height: vw(48);
					bottom: vw(-28);
				}
			}
		}
		&__content {
			// height: 240px;
			overflow: hidden;
			// padding: 0 15px;
			display: flex;
			flex-direction: column;
			row-gap: 2px;
			@include media {
				// height: auto;
				// height: vw(476);
				// padding: 0 vw(30);
				row-gap: vw(4);
			}
			.mCSB_inside > .mCSB_container {
				margin-right: 0;
			}
			.mCSB_scrollTools .mCSB_draggerRail {
				background-color: #5f4822;
			}
			.mCSB_scrollTools {
				width: 4px;
				@include media {
					width: vw(8);
				}
			}
			.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
				width: 4px;
				background-color: #7d5534;
				border-radius: 0;
				@include media {
					width: vw(8);
				}
			}
		}
		&__item {
			font-size: 16px;
			padding: 15px 0 15px 15px;
			display: flex;
			align-items: center;
			background-image: linear-gradient(to right, rgba(#7f6b54, 0.2) 0%, rgba(194, 167, 121, 0) 90%);
			@include media {
				font-size: vw(32);
				padding: vw(30) 0 vw(30) vw(30);
			}
			&.complete {
				background-image: linear-gradient(to right, #c2a779 0%, rgba(#c2a779, 0) 90%);
				.create-task__item-info {
					span {
						&:first-child {
							color: #fffce3;
						}
						&:last-child {
							color: #e3d9c2;
						}
					}
				}
				.create-task__item-notice {
					border: none;
					&:before {
						content: "已完成";
						display: inline-block;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&-info {
				margin-right: auto;
				letter-spacing: -1px;
				span {
					display: block;
					position: relative;
					&:first-child {
						color: #baa990;
						// margin-bottom: 6px;
						@include media {
							// margin: vw(12);
						}
					}
					&:last-child {
						color: #7f6b54;
					}
				}
			}
			&-notice {
				width: 60px;
				height: 40px;
				flex-shrink: 0;
				font-size: 16px;
				color: #b68d67;
				// border: 1px solid #c69d7b;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				@include media {
					width: vw(120);
					height: vw(80);
					font-size: vw(32);
					// border: vw(2) solid #c69d7b;
				}
				&:before {
					content: "未完成";
					display: inline-block;
				}
			}
		}
	}
	&-btn {
		&__mission {
			display: none;
			@include media {
				position: fixed;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: block;
				width: vw(60);
				height: vw(120);
				background-size: cover;
				background-image: url("./images/create-mission-open.png");
				display: none;
			}
		}
		&__notice {
			&-box {
				width: 100%;
				order: 3;
				display: flex;
				justify-content: center;
				margin-top: 60px;
				@include media {
					display: none;
				}
			}
		}
	}
}
// @include spriteAnimation(play, 0.8s, 12, infinite, 0%, -1200%);
.splide__pagination {
	display: none;
}
.splide__arrow {
	background-color: transparent;
	border-radius: 0;
	opacity: 1;
	position: absolute;
	width: 100%;
	svg {
		display: none;
	}
}
.splide {
	visibility: visible;
}
