.create {
	&-content {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: center;
		position: relative;
		@include media {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}
	&-title {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		@include media {
			margin-bottom: vw(60);
		}
		span {
			display: inline-block;
			font-size: 0;
			width: 267px;
			height: 40px;
			background-size: 100%;
			background-image: url("./images/title-create-character.png");
			@include media {
				width: vw(533);
				height: vw(80);
			}
		}
	}
	&-event {
		width: 576px;
		height: 576px;
		background-size: 100%;
		background-image: url("./images/countdown-bg2.png");
		order: 2;
		position: relative;
		@include media {
			order: 1;
			width: vw(708);
			height: vw(708);
		}
		&:before {
			content: "";
			width: 90%;
			height: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100vmax;
			background-color: rgba(#000, 0.5);
			filter: blur(14px);
			@include media {
				filter: blur(vw(14));
			}
		}
	}
	&-left {
		width: 300px;
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 22px;
		margin-top: 35px;
		@include media {
			width: vw(608);
			margin-right: 0;
			margin-top: vw(220);
			order: 2;
		}
	}
	&-task {
		width: 100%;
		background-color: rgba(#000, 0.5);
		position: relative;
		padding: 37px 0 22px;
		margin-bottom: 60px;
		@include media {
			padding: vw(62) vw(32);
			margin-bottom: vw(120);
		}
		&:before {
			content: "";
			width: 320px;
			height: 35px;
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url("./images/line-top.png");
			background-size: 100%;
			background-position: center;
			@include media {
				width: vw(648);
				height: vw(71);
				top: vw(-62);
			}
		}
		&:after {
			content: "";
			width: 320px;
			height: 35px;
			position: absolute;
			bottom: -35px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url("./images/line-bottom.png");
			background-size: 100%;
			background-position: center;
			@include media {
				width: vw(648);
				height: vw(71);
				bottom: vw(-62);
			}
		}
	}
	&-action {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		@include media {
			margin-bottom: vw(68);
		}
		&__btn {
			&-group {
				font-size: 0;
				display: flex;
				position: relative;
				margin-top: auto;
				width: 100%;
				@include media {
					flex-direction: column;
					align-items: center;
					row-gap: vw(30);
					margin-top: vw(180);
				}
				&:before {
					content: "";
					width: 234px;
					height: 25px;
					background-size: 100%;
					background-image: url("./images/btn-line.png");
					position: absolute;
					top: 88px;
					left: 50%;
					transform: translateX(-50%);
					@include media {
						content: none;
					}
				}
			}
			&-protect {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-protect.png");
				background-size: 300%;
				background-position-x: -200%;
				font-size: 0;
				position: relative;
				overflow: hidden;
				margin-top: 7px;
				&.-disabled {
					background-position-x: 0%;
					cursor: not-allowed;
					@include hover {
						background-position-x: 0%;
					}
					.line {
						display: none;
					}
				}
				@include hover {
					background-position-x: -200%;
				}
				@include media {
					width: vw(301);
					height: vw(74);
					margin-top: vw(8);
				}
				.line {
					width: 12px;
					height: 150%;
					position: absolute;
					top: 50%;
					left: 40%;
					transform: translateY(-50%) rotate(30deg);
					opacity: 0;
					animation: move 3s linear infinite;
					@include media {
						width: vw(12);
					}
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						background-color: rgb(255 255 255 / 95%);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						filter: blur(4px);
						box-shadow: 0 0 28px #fff, 0 0 28px #fff, 0 0 28px #fff, 0 0 30px #fff;
						@include media {
							filter: blur(vw(4));
							box-shadow: 0 0 vw(28) #fff, 0 0 vw(28) #fff, 0 0 vw(28) #fff, 0 0 vw(30) #fff;
						}
					}
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 4px;
						height: 100%;
						background-color: #fff;
						filter: blur(1px);
						@include media {
							width: vw(4);
							filter: blur(vw(2));
						}
					}
				}
			}
			&-plunder {
				width: 245px;
				height: 60px;
				background-image: url("./images/btn-plunder.png");
				background-size: 300%;
				background-position-x: -100%;
				margin-left: auto;
				&.disabled {
					background-position-x: 0%;
				}
				@include hover {
					background-position-x: -200%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
					margin-left: 0;
				}
			}
		}
	}
	&-countdown {
		// position: absolute;
		// top: 0;
		// left: 50%;
		// transform: translateX(-50%);
		text-align: center;
		&__line {
			width: 468px;
			height: 51px;
			background-size: 100%;
			background-image: url("./images/countdown-light.png");
			display: block;
			@include media {
				width: vw(575);
				height: vw(64);
			}
		}
		&__title {
			font-size: 24px;
			color: #c7bfb3;
			margin-top: 142px;
			margin-bottom: 58px;
			@include media {
				font-size: vw(30);
				margin-top: vw(168);
				margin-bottom: vw(70);
			}
		}
		&__time {
			&-box {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 2px;
				margin-bottom: 3px;
				@include media {
					column-gap: vw(4);
				}
			}
			&-num {
			}
		}
	}
	&-pre {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-bottom: 30px;
		@include media {
		}
		&__title {
			font-size: 0;
			width: 113px;
			height: 20px;
			background-size: 100%;
			background-image: url("./images/hexagon-create-name.png");
			margin-bottom: 6px;
			@include media {
				width: vw(226);
				height: vw(40);
				margin-bottom: vw(12);
			}
		}
		&__name {
			font-size: 24px;
			font-weight: bold;
			color: #c2a779;
			margin-bottom: 16px;
			@include media {
				font-size: vw(48);
				margin-bottom: vw(40);
			}
		}
		&__realm {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #c2a779;
			position: relative;
			@include media {
				font-size: vw(40);
			}
			&:before {
				content: "";
				width: 60px;
				height: 20px;
				display: block;
				margin: 0 auto 6px;
				background-size: 100%;
				background-image: url("./images/hexagon-realm.png");
				@include media {
					width: vw(120);
					height: vw(40);
					margin-bottom: vw(12);
				}
			}
		}
		&__notice {
			font-size: 16px;
			color: #c7bfb3;
			margin-top: 12px;
			display: none;
			@include media {
				font-size: vw(32);
				margin-top: vw(24);
			}
		}
	}
	&-hold {
		position: relative;
		@include media {
		}
		&__title {
			font-size: 0;
			width: 273px;
			height: 34px;
			background-size: 100%;
			background-image: url("./images/create-name-title2.png");
			margin: 30px auto;
			@include media {
				width: vw(546);
				height: vw(68);
			}
		}
		&__box {
		}
		.swiper-pagination {
			@include media {
				color: #6b6b6b;
				font-size: vw(32);
				top: unset;
				bottom: vw(-52);
			}
		}
		&__list {
			width: 530px;
			margin: 0 auto;
			position: relative;
			display: flex;
			column-gap: 18px;
			justify-content: center;
			.swiper-slide {
				width: 158px;
				height: 158px;
				display: flex;
				@include media {
					width: vw(214);
					height: vw(214);
				}
			}
			@include media {
				width: 100%;
				column-gap: vw(15);
			}
		}
		&__item {
			width: 158px;
			height: 158px;
			border-radius: 100vmax;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// background-color: rgba(#000, 0.5);
			border: 1px solid var(--border-color, #6b6b6b);
			margin: auto;
			@include media {
				width: vw(214);
				height: vw(214);
				border: vw(1) solid var(--border-color, #6b6b6b);
			}
			&:before {
				content: "";
				width: 150px;
				height: 150px;
				fill: currentColor;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-size: contain;
				mask-position: center center;
				mask-repeat: no-repeat;
				mask-size: 100% 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				mask-image: url("./svg/svg_circle_01.svg");
				background-color: var(--circle, #6b6b6b);
				@include media {
					width: vw(200);
					height: vw(200);
				}
			}
			&:after {
				content: "";
				width: 150px;
				height: 150px;
				fill: currentColor;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-size: contain;
				mask-position: center center;
				mask-repeat: no-repeat;
				mask-size: 100% 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				mask-image: url("./svg/svg_circle_01_bg.svg");
				background-color: rgba(#000, 0.5);
				@include media {
					width: vw(200);
					height: vw(200);
				}
			}
			.circle-light {
				width: 140px;
				height: 140px;
				border-radius: 100vmax;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-image: linear-gradient(to bottom, var(--linear-gradient, #6b6b6b) 0%, rgba(#000, 0) 18%);
				z-index: 1;
				@include media {
					width: vw(198);
					height: vw(198);
				}
			}
			&[data-type="0"] {
				--border-color: rgba(114, 151, 211, 0);
				--color: #6b6b6b;
				--circle: #6b6b6b;
				--linear-gradient: rgba(114, 151, 211, 0);
			}
			&[data-type="1"] {
				--border-color: rgba(114, 151, 211, 0.5);
				--color: #abc8f7;
				--circle: #7297d3;
				--linear-gradient: rgba(114, 151, 211, 0.5);
			}
			&[data-type="2"] {
				--border-color: rgba(211, 114, 114 0.5);
				--color: #f8acac;
				--circle: #d37272;
				--linear-gradient: rgba(211, 114, 114, 0.5);
			}
			&[data-type="3"] {
				--border-color: rgba(178, 114, 211 0.5);
				--color: #d9adef;
				--circle: #b272d3;
				--linear-gradient: rgba(178, 114, 211, 0.5);
			}
			&[data-type="4"] {
				--border-color: rgba(185, 159, 116, 0.5);
				--color: #e9d2ad;
				--circle: #b99f74;
				--linear-gradient: rgba(185, 159, 116, 0.5);
			}
		}
		.i--plus {
			width: 30px;
			height: 30px;
			background-color: #6b6b6b;
			mask-image: url("./svg/svg_plus_01.svg");
			margin-bottom: 10px;
		}
		&__name {
			font-size: 16px;
			color: var(--color, #6b6b6b);
			font-weight: bold;
			text-align: center;
			word-break: break-all;
			position: relative;
			z-index: 1;
			padding: 0 26px;
			@include media {
				font-size: vw(20);
				padding: 0 vw(26);
			}
		}
		&__btn-set {
			position: relative;
			z-index: 1;
			color: #b68d67;
			background-color: #000;
			border: 2px solid #c2a779;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			width: 75px;
			height: 40px;
			font-size: 14px;
			border-radius: 20px;
			@include media {
				width: vw(100);
				height: vw(50);
				font-size: vw(18);
				border-radius: vw(28);
				border: vw(2) solid #c2a779;
			}
		}
		&__protect {
			&-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				z-index: 1;
			}
			&-title {
				width: 120px;
				height: 20px;
				background-image: url("./images/hexagon-protect-time.png");
				background-size: 100%;
				margin-bottom: 8px;
				font-size: 0;
				@include media {
					width: vw(240);
					height: vw(40);
					margin-bottom: vw(16);
				}
			}
			&-time {
				&-box {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 2px;
					@include media {
						column-gap: vw(2);
					}
				}
				&-num {
				}
			}
		}
	}
	&-task {
		&__list {
			width: 100%;
			background-image: url("./images/task-line-top.png"), url("./images/task-line-bottom.png");
			background-position: center top, center bottom;
			background-repeat: no-repeat;
			background-size: 300px 40px, 300px 24px;
			padding-top: 55px;
			padding-bottom: 40px;
			@include media {
				background-size: vw(600) vw(80), vw(600) vw(48);
				padding-top: vw(110);
				padding-bottom: vw(78);
			}
		}
		&__content {
			height: 240px;
			overflow: hidden;
			padding: 0 15px;
			@include media {
				height: vw(476);
				padding: 0 vw(30);
			}
		}
		&__item {
			font-size: 16px;
			padding: 15px;
			display: flex;
			align-items: center;
			@include media {
				font-size: vw(32);
				padding: vw(30);
			}
			&.complete {
				background-image: linear-gradient(to right, #c2a779 0%, rgba(#c2a779, 0) 90%);
				.create-task__item-info {
					span {
						&:first-child {
							color: #fffce3;
						}
						&:last-child {
							color: #e3d9c2;
						}
					}
				}
				.create-task__item-notice {
					border: none;
					&:before {
						content: "已完成";
						display: inline-block;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&-info {
				margin-right: auto;
				span {
					display: block;
					position: relative;
					&:first-child {
						color: #baa990;
						margin-bottom: 6px;
						@include media {
							margin: vw(12);
						}
					}
					&:last-child {
						color: #7f6b54;
					}
				}
			}
			&-notice {
				width: 60px;
				height: 40px;
				flex-shrink: 0;
				font-size: 16px;
				color: #b68d67;
				border: 1px solid #c69d7b;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				@include media {
					width: vw(120);
					height: vw(80);
					font-size: vw(32);
					border: vw(2) solid #c69d7b;
				}
				&:before {
					content: "去完成";
					display: inline-block;
				}
			}
		}
	}
	&-btn {
		&__mission {
			display: none;
			@include media {
				position: fixed;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: block;
				width: vw(60);
				height: vw(120);
				background-size: cover;
				background-image: url("./images/create-mission-open.png");
				display: none;
			}
		}
	}
}
// @include spriteAnimation(play, 0.8s, 12, infinite, 0%, -1200%);
