.entrance {
	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-logo {
		width: 323px;
		height: 250px;
		background-size: 100%;
		background-image: url("./images/index-logo.png");
		margin-bottom: 17px;
		@include media {
			width: vw(297);
			height: vw(230);
			margin-bottom: vw(67);
		}
	}
	&-slogan {
		width: 608px;
		height: 218px;
		background-size: 100%;
		background-image: url("./images/index-title-head.png");
		margin-bottom: 16px;
		@include media {
			width: vw(608);
			height: vw(218);
			margin-bottom: vw(52);
		}
	}
	&-date {
		width: 716px;
		height: 61px;
		background-size: 100%;
		background-image: url("./images/index-text-date.png");
		margin-bottom: 60px;
		@include media {
			width: vw(708);
			height: vw(61);
			background-image: url("./images/m-index-text-date.png");
			margin-bottom: vw(66);
		}
	}
	&-btn {
		&__in {
			width: 245px;
			height: 60px;
			background-size: 200%;
			background-image: url("./images/btn-enter.png");
			font-size: 0;
			margin-bottom: 60px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(490);
				height: vw(120);
				margin-bottom: vw(120);
			}
		}
	}
}
