[class*="i--"] {
	box-sizing: border-box;
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: top;
	fill: currentColor;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: contain;
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	min-height: 5px;
	min-width: 5px;
}

// 使用sass @for迴圈，將重複的部分簡化
@for $i from 0 through 9 {
	.i--number-#{$i} {
		mask-image: url(./svg/icon_number-#{$i}.svg);
	}
}
.i--colon {
	width: 18px;
	height: 22px;
	mask-image: url(./svg/icon-colon.svg);
	@include media {
		width: vw(24);
		height: vw(38);
	}
}
.icon {
	&--num {
		box-sizing: border-box;
		display: inline-flex;
		flex: 0 0 auto;
		vertical-align: top;
		fill: currentColor;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-size: contain;
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		min-height: 5px;
		min-width: 5px;
		width: 22px;
		height: 29px;
		&-style1 {
			// background-image: linear-gradient(to top, #ff0000 0%, #ad0000 100%);
		}
		&-style2 {
			background-color: #8b6f3d;
			// background-image: linear-gradient(to bottom, #ffe2ae 0%, #8b6f3d 100%);
			// filter: drop-shadow(0px 0px 4px #ffff00);
		}
		@include media {
			width: vw(43);
			height: vw(59);
		}
		@for $i from 0 through 9 {
			&[data-num="#{$i}"] {
				mask-image: url(./svg/icon_number-#{$i}.svg);
			}
		}
	}
	&--recommend {
		width: 14px;
		height: 12px;
		background-size: 100%;
		background-image: url("./images/icon-recommend.png");
		margin-left: 7px;
		@include media {
			width: vw(30);
			height: vw(26);
			margin-left: vw(20);
		}
	}
	&--new {
		width: 15px;
		height: 15px;
		background-size: cover;
		background-image: url("./images/icon-new.png");
		margin-left: 5px;
		@include media {
			width: vw(30);
			height: vw(30);
			margin-left: vw(10);
		}
	}
}
