.top {
	width: 40px;
	height: 40px;
	background-color: rgba(#000, 0.7);
	box-shadow: inset 0 0 0 1px #504338;
	background-position: center 11px;
	background-repeat: no-repeat;
	background-image: url("./images/icon-top.png");
	background-size: 15px 20px;
	position: fixed;
	bottom: 30px;
	right: 50%;
	margin-right: -700px;
	z-index: 99;
	display: none;
	@include media {
		width: vw(80);
		height: vw(80);
		box-shadow: inset 0 0 0 vw(2) #504338;
		background-size: vw(30) vw(40);
		background-position: center vw(22);
		bottom: vw(30);
		right: vw(30);
		margin-right: 0;
		// display: block;
	}
}

#app {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	background-image: url("./images/bg.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 148px 0 60px;
	@include media {
		background-image: url("./images/m-bg.jpg");
		padding: vw(148) vw(30) vw(60);
	}
	&.create,
	&.selected {
		.top {
			@include media {
				display: block;
			}
		}
	}
}
.btn-common {
	width: 150px;
	height: 40px;
	font-size: 16px;
	color: #b68d67;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1px #504338;
	background-color: #000;
	text-decoration: none;
	position: relative;
	@include hover {
		box-shadow: inset 0 0 0 1px #c2a779;
		color: #c2a779;
		background-image: url("./images/btn-common-bg.png");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		// background-image: linear-gradient(to right, #0c0a09 0%, #695315 100%);
	}
	@include media {
		width: vw(300);
		height: vw(80);
		font-size: vw(32);
		box-shadow: inset 0 0 0 vw(2) #504338;
	}
}
.loadingProgress {
	width: 100%;
	height: 100%;
	background: url(https://tw.hicdn.beanfun.com/beanfun/beanfun/common_assets/images/loading/type1.gif) 50% 50% rgba(0, 0, 0, 0.75) no-repeat;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2147483648;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
@keyframes shadow-animation {
	0%,
	100% {
		filter: drop-shadow(0 0 0px rgb(104, 196, 255));
	}
	50% {
		filter: drop-shadow(0 0 3px rgba(104, 196, 255, 0.5)) drop-shadow(0 0 6px rgba(104, 196, 255, 0.5)) drop-shadow(0 0 9px rgba(104, 196, 255, 0.5)) drop-shadow(0 0 12px rgba(104, 196, 255, 0.5));
	}
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
