@function vw($px) {
	@return ($px * 100vw) / 768;
}
@mixin media($breakpoint: 768px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}
@mixin hover($breakpoint: 768px) {
	@media screen and (min-width: $breakpoint) {
		&:hover {
			@content;
		}
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	&.-ovh {
		@include media {
			overflow: hidden;
		}
	}
}

body {
	min-width: 1200px;
	background-color: #1c1b18;
	@include media {
		min-width: 100%;
	}
}
