.nav-bar {
	background-color: rgba(#000, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	&__head {
		display: flex;
		position: relative;
		@include media {
			width: 100%;
			align-items: center;
		}
	}
	&__toggle {
		display: none;
		@include media {
			display: flex;
			margin-left: auto;
			width: vw(80);
			height: vw(88);
			flex-direction: column;
			row-gap: vw(8);
			position: relative;
			justify-content: center;
			align-items: center;
			&.-close {
				span {
					&:first-child {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:nth-child(2) {
						display: none;
					}
					&:last-child {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(135deg);
					}
				}
			}
		}
		span {
			width: vw(46);
			height: vw(8);
			background-color: #fff;
			position: relative;
		}
	}
	&__wrap {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		@include media {
			max-width: 100%;
			flex-direction: column;
		}
	}
	&__content {
		display: flex;
		width: 100%;
		margin-left: 80px;
		@include media {
			flex-direction: column;
			margin-left: 0;
			row-gap: vw(60);
			height: 100vh;
			height: 100dvh;
			display: none;
			&.-open {
				display: flex;
			}
		}
	}
	&__logo {
		width: 53px;
		height: 54px;
		background-size: cover;
		background-image: url("./images/icon-logo.png");
		margin-left: 8px;
		@include media {
			width: vw(53);
			height: vw(54);
			margin-left: vw(8);
		}
	}
	&__menu {
		&-list {
			list-style-type: none;
			display: flex;
			column-gap: 60px;
			@include media {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				column-gap: 0;
				row-gap: vw(60);
			}
		}
		&-item {
			a {
				font-size: 20px;
				color: #908f8e;
				padding: 34px 8px;
				position: relative;
				text-decoration: none;
				display: block;
				@include media {
					width: auto;
					font-size: vw(40);
					padding: vw(30) vw(24);
				}
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: #c69d7b;
					display: none;
					@include media {
						height: vw(6);
					}
				}
			}

			&.current {
				a {
					color: #fff;
					&:before {
						display: block;
					}
				}
			}
			@include hover {
				a {
					color: #fff;
					&:before {
						display: block;
					}
				}
			}
		}
	}
	&__social {
		&-list {
			display: flex;
			margin-left: auto;
			align-items: center;
			@include media {
				column-gap: vw(60);
				justify-content: center;
				margin-left: 0;
			}
		}
		&-item {
			&[data-type="yt"] {
				margin: 0 26px;
				width: 29px;
				height: 21px;
				background-image: url("./images/icon-yt.png");
				background-size: 200%;
				@include hover {
					background-position-x: 100%;
				}
				@include media {
					width: vw(102);
					height: vw(72);
					margin: 0 vw(10);
					background-repeat: no-repeat;
					order: 3;
				}
			}
			&[data-type="f"] {
				margin: 0 26px;
				width: 29px;
				height: 29px;
				background-image: url("./images/icon-f.png");
				background-size: 200%;
				@include hover {
					background-position-x: 100%;
				}
				@include media {
					width: vw(85);
					height: vw(85);
					margin: 0 vw(10);
					background-repeat: no-repeat;
					order: 2;
				}
			}
			&[data-type="baha"] {
				margin: 0 26px;
				width: 30px;
				height: 27px;
				background-image: url("./images/icon-baha.png");
				background-size: 200%;
				@include hover {
					background-position-x: 100%;
				}
				@include media {
					width: vw(102);
					height: vw(90);
					margin: 0 vw(10);
					order: 1;
				}
			}
		}
	}
}
