.selected {
	&-content {
		width: 1200px;
		margin: 0 auto;
		@include media {
			width: 100%;
		}
	}
	&-title {
		width: 258px;
		height: 36px;
		background-image: url("./images/title-select-realm.png");
		background-size: 100%;
		margin: 0 auto 32px;
		@include media {
			width: vw(523);
			height: vw(73);
			margin-bottom: vw(60);
		}
	}
	&-realm {
		&-box {
			width: 100%;
			padding: 60px 70px;
			background-color: #000;
			background-image: url("./images/icon-lt.png"), url("./images/icon-rt.png"), url("./images/icon-lb.png"), url("./images/icon-rb.png");
			background-repeat: no-repeat;
			background-position: 0 0, right 0, 0 bottom, right bottom;
			background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px;
			box-shadow: inset 0 0 0 1px #504338;
			margin-bottom: 60px;
			@include media {
				width: vw(708);
				background-size: vw(32) vw(32), vw(32) vw(32), vw(32) vw(32), vw(32) vw(32);
				margin-bottom: vw(120);
				box-shadow: inset 0 0 0 vw(2) #504338;
				padding: vw(60) vw(30);
			}
		}
		&__status {
			display: flex;
			column-gap: 12px;
			align-items: center;
			justify-content: center;
			margin-bottom: 24px;
			padding: 6px 0;
			@include media {
				column-gap: vw(24);
				margin-bottom: vw(60);
				padding: vw(12) 0;
			}
			&-item {
				font-size: 12px;
				position: relative;
				display: flex;
				align-items: center;
				@include media {
					font-size: vw(28);
				}
				&:before {
					content: "";
					display: inline-block;
					margin-right: 4px;
					@include media {
						margin-right: vw(5);
					}
				}
				&[data-type="recommend"] {
					color: #f3f3f3;
					&:before {
						width: 14px;
						height: 12px;
						background-size: cover;
						background-image: url("./images/icon-recommend.png");
						@include media {
							width: vw(30);
							height: vw(26);
						}
					}
				}
				&[data-type="new"] {
					color: #dfdf5e;
					&:before {
						width: 15px;
						height: 15px;
						background-size: cover;
						background-image: url("./images/icon-new.png");
						@include media {
							width: vw(30);
							height: vw(30);
						}
					}
				}
				&[data-type="0"] {
					color: #e9e95f;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #e9e95f;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
				&[data-type="1"] {
					color: #189ae5;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #189ae5;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
				&[data-type="2"] {
					color: #58bc7a;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #58bc7a;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
				&[data-type="3"] {
					color: #ff9900;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #ff9900;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
				&[data-type="4"] {
					color: #ff0000;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #ff0000;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
				&[data-type="5"] {
					color: #999;
					&:before {
						width: 10px;
						height: 10px;
						border-radius: 100vmax;
						background-color: #999;
						@include media {
							width: vw(20);
							height: vw(20);
						}
					}
				}
			}
		}
		&__row {
			width: 100%;
			margin-bottom: 24px;
			position: relative;
			@include media {
				width: vw(648);
				margin-bottom: vw(36);
				&.-open {
					.selected-realm__toggle {
						&:after {
							display: none;
						}
					}
					.selected-realm__box {
						grid-template-rows: 1fr;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__toggle {
			display: none;
			@include media {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: vw(48);
				height: vw(48);
				border-radius: vw(8);
				box-shadow: inset 0 0 0 vw(2) #504338;
				background-color: #000;
				&:before {
					content: "";
					width: vw(28);
					height: vw(4);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #c69d7b;
				}
				&:after {
					content: "";
					width: vw(28);
					height: vw(4);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(90deg);
					background-color: #c69d7b;
					display: block;
				}
			}
		}
		&__title {
			// width: 482px;
			// height: 32px;
			margin: 0 auto 30px;
			position: relative;
			text-align: center;
			span {
				font-weight: bold;
				font-size: 28px;
				color: #c2a779;
				position: relative;
				// position: absolute;
				// top: -6px;
				// left: 50%;
				// transform: translateX(-50%);
				display: inline-block;
				&:before {
					content: "";
					width: 118px;
					height: 15px;
					background-image: url("./images/select-realm-title1.png");
					background-repeat: no-repeat;
					background-size: 100%;
					position: absolute;
					bottom: 0;
					left: -140px;
				}
				&:after {
					content: "";
					width: 118px;
					height: 15px;
					background-image: url("./images/select-realm-title2.png");
					background-repeat: no-repeat;
					background-size: 100%;
					position: absolute;
					bottom: 0;
					right: -140px;
				}
				@include media {
					width: 100%;
					text-align: center;
					font-size: vw(48);
					padding: 0 vw(60);
					// top: vw(-12);
					&:before,
					&:after {
						content: none;
					}
				}
			}
			@include media {
				width: vw(648);
				// height: vw(64);
				margin-bottom: vw(16);
			}
			&:before {
				content: "";
				width: 657px;
				height: 13px;
				background-size: 100%;
				background-image: url("./images/select-line.png");
				position: absolute;
				bottom: -24px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				@include media {
					width: vw(583);
					height: vw(29);
					background-image: url("./images/m-select-line.png");
					bottom: vw(-44);
					background-repeat: no-repeat;
				}
			}
		}
		&__box {
			font-size: 20px;
			display: grid;
			// grid-template-columns: repeat(3, 1fr);
			// column-gap: 30px;
			position: relative;
			overflow: hidden;
			padding: 30px 0;
			@include media {
				font-size: vw(40);
				grid-template-columns: 1fr;
				column-gap: 0;
				row-gap: vw(40);
				// padding: 0 vw(115);
				padding: 0;
				background-color: rgba(#261e06, 0.5);
				grid-template-rows: 0fr;
				transition: 0.25s grid-template-rows ease;
			}
		}
		&__inner {
			overflow: hidden;
			&-box {
				display: grid;
				grid-template-columns: repeat(5, 200px);
				@include media {
					overflow: hidden;
					// row-gap: vw(40);
					padding-top: vw(44);
					padding-bottom: vw(40);
					grid-template-columns: 1fr;
				}
				input {
					display: none;
					opacity: 0;
					&:checked + div {
						color: #c2a779;
						background-image: url("./images/recommend-bg.png");
						background-size: 100%;
						@include media {
							background-image: none;
							background-image: linear-gradient(to right, rgba(#3f3627, 0) 5%, rgba(#3f3627, 0.1) 15%, rgba(#3f3627, 1) 35%, rgba(#3f3627, 1) 45%, rgba(#3f3627, 1) 55%, rgba(#3f3627, 1) 65%, rgba(#3f3627, 0.1) 85%, rgba(#3f3627, 0) 95%);
							&:before,
							&:after {
								content: "";
							}
						}
					}
				}
				&:after {
					content: none;
					@include media {
						content: "";
						width: vw(583);
						height: vw(4);
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						background-image: linear-gradient(to right, rgba(#c2a779, 0) 0%, rgba(#c2a779, 1) 25%, #c1a679 50%, rgba(#c2a779, 1) 75%, rgba(#c2a779, 0) 100%);
					}
				}
			}
		}
		&__item {
			.icon--circle {
				display: inline-block;
				margin-right: 4px;
				width: 10px;
				height: 10px;
				border-radius: 100vmax;
				@include media {
					width: vw(20);
					height: vw(20);
					margin-right: vw(12);
				}
			}
			width: 100%;
			height: 40px;
			text-decoration: none;
			color: #877f7f;
			position: relative;
			padding: 0 12px;
			// display: flex;
			align-items: center;
			cursor: pointer;
			display: inline-flex;
			&.current {
				color: #c2a779;
				@include media {
					background-image: linear-gradient(to right, rgba(#3f3627, 0) 5%, rgba(#3f3627, 0.1) 15%, rgba(#3f3627, 1) 35%, rgba(#3f3627, 1) 45%, rgba(#3f3627, 1) 55%, rgba(#3f3627, 1) 65%, rgba(#3f3627, 0.1) 85%, rgba(#3f3627, 0) 95%);
					&:after {
						content: "";
					}
				}
			}
			@include media {
				padding: 0;
				height: auto;
				padding: vw(20) vw(154);
				justify-content: center;
			}
			&:before {
				@include media {
					content: none;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: vw(1);
					background-image: linear-gradient(to right, rgba(194, 167, 121, 0) 0%, #c2a779 25%, #c1a679 50%, #c2a779 75%, rgba(194, 167, 121, 0) 100%);
					// background-image: linear-gradient(to right, rgba(#c2a779, 0) 10%, rgba(#c2a779, 1) 40%, rgba(#c2a779, 1) 60%, rgba(#c2a779, 0) 90%), linear-gradient(to right, rgba(#c2a779, 0) 10%, rgba(#c2a779, 1) 40%, rgba(#c2a779, 1) 60%, rgba(#c2a779, 0) 90%);
					background-repeat: no-repeat;
				}
			}
			&:after {
				@include media {
					content: none;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: vw(1);
					background-image: linear-gradient(to right, rgba(194, 167, 121, 0) 0%, #c2a779 25%, #c1a679 50%, #c2a779 75%, rgba(194, 167, 121, 0) 100%);
					// background-image: linear-gradient(to right, rgba(#c2a779, 0) 10%, rgba(#c2a779, 1) 40%, rgba(#c2a779, 1) 60%, rgba(#c2a779, 0) 90%), linear-gradient(to right, rgba(#c2a779, 0) 10%, rgba(#c2a779, 1) 40%, rgba(#c2a779, 1) 60%, rgba(#c2a779, 0) 90%);
					background-repeat: no-repeat;
				}
			}
			&[data-type="0"] {
				color: #e9e95f;
				.icon--circle {
					background-color: #e9e95f;
				}
			}
			// &[data-type="1"] {
			// 	&:before {
			// 		width: 10px;
			// 		height: 10px;
			// 		border-radius: 100vmax;
			// 		background-color: #f3f3f3;
			// 		@include media {
			// 			width: vw(20);
			// 			height: vw(20);
			// 		}
			// 	}
			// }
			&[data-type="1"] {
				.icon--circle {
					background-color: #58bc7a;
				}
			}
			&[data-type="2"] {
				.icon--circle {
					background-color: #ff9900;
				}
			}
			&[data-type="3"] {
				.icon--circle {
					background-color: #ff0000;
				}
			}
			&[data-type="4"] {
				cursor: default;
				.icon--circle {
					background-color: #999;
				}
			}
			&[data-type="5"] {
				cursor: default;
				.icon--circle {
					background-color: #999;
				}
			}
		}
	}
	&-chosen {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
		@include media {
			margin-bottom: vw(120);
		}
		&__title {
			font-size: 24px;
			font-weight: bold;
			color: #c2a779;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 15px;
			@include media {
				margin-bottom: vw(30);
				font-size: vw(48);
			}
			&-hexagon {
				width: 130px;
				height: 20px;
				background-size: 100%;
				background-image: url("./images/hexagon-select-server.png");
				@include media {
					width: vw(260);
					height: vw(40);
				}
			}
		}
		&__input {
			width: 400px;
			margin-bottom: 8px;
			@include media {
				width: vw(708);
				margin-bottom: vw(12);
			}
			input {
				width: 100%;
				background-color: #000;
				border: 1px solid #504338;
				font-size: 24px;
				color: #877f7f;
				text-align: center;
				padding: 18px 0;
				@include media {
					font-size: vw(48);
					border: vw(2) solid #504338;
					padding: vw(38) 0;
				}
				&::placeholder {
					font-size: 24px;
					color: #877f7f;
					@include media {
						font-size: vw(48);
					}
				}
			}
		}
		&__error {
			font-size: 14px;
			color: #ff3e3e;
			// margin: 8px 0;
			margin-bottom: 8px;
			text-align: center;
			@include media {
				font-size: vw(28);
				// margin: vw(24) 0;
				margin-bottom: vw(12);
				padding: 0 vw(40);
			}
		}
		&__notice {
			font-size: 16px;
			color: #c7bfb3;
			@include media {
				font-size: vw(32);
				text-align: center;
				span {
					display: block;
				}
			}
		}
		&__btn {
			&-submit {
				width: 245px;
				height: 60px;
				background-size: 200%;
				background-image: url("./images/btn-check.png");
				margin-bottom: 30px;
				font-size: 0;
				@include hover {
					background-position-x: 100%;
				}
				@include media {
					width: vw(490);
					height: vw(120);
					margin-bottom: vw(60);
				}
			}
		}
	}
	&-btn {
		&__notice {
			margin: 0 auto;
		}
	}
}
