@mixin spriteAnimation($name, $duration, $steps, $iteration, $position-from, $position-to) {
	animation: $name $duration steps($steps) $iteration;
	@keyframes #{$name} {
		from {
			background-position: $position-from;
		}
		to {
			background-position: $position-to;
		}
	}
}
@keyframes move {
	0% {
		left: 40%;
	}
	10% {
		opacity: 0.75;
		left: 40%;
	}
	100% {
		opacity: 0.75;
		left: 150%;
	}
}
// @include spriteAnimation(play, 0.8s, 12, infinite, 0%, -1200%);
