@mixin spriteAnimation($name, $duration, $steps, $iteration, $position-from, $position-to) {
  animation: $name $duration steps($steps) $iteration;
  @keyframes #{$name} {
    from {
      background-position: $position-from;
    }
    to {
      background-position: $position-to;
    }
  }
}

// @include spriteAnimation(play, 0.8s, 12, infinite, 0%, -1200%);