[class*="i--"] {
	box-sizing: border-box;
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: top;
	fill: currentColor;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: contain;
	mask-position: center center;
	-webkit-mask-position: center center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
	min-height: 5px;
	min-width: 5px;
}
.i--search {
	mask-image: url(./svg/icon-search.svg);
}
.i--plus {
	mask-image: url(./svg/icon_plus.svg);
}
.i--minus {
	mask-image: url(./svg/icon_minus.svg);
}
.i--xmark-2 {
	mask-image: url(./svg/icon_xmark_2.svg);
}
.i--guildmark {
	mask-image: url(./svg/icon_guildmark.svg);
}
.i--crown {
	mask-image: url(./svg/icon_crown.svg);
}
.i--member {
	mask-image: url(./svg/icon_member.svg);
}
.i--money {
	mask-image: url(./svg/icon_money.svg);
}
.i--money-percent {
	mask-image: url(./svg/icon_money_percent.svg);
}
.i--refresh {
	mask-image: url(./svg/icon_refresh.svg);
}
.i--garrison {
	mask-image: url(./svg/icon_garrison.svg);
}
.i--fortress {
	mask-image: url(./svg/icon_fortress.svg);
}
.i--castle {
	mask-image: url(./svg/icon_castle.svg);
}
.land--fortress,
.land--Fortress {
	background-image: url(./images/img_landbadge_fortress.png);
}
.land--garrison,
.land--Garrison {
	background-image: url(./images/img_landbadge_garrison.png);
}
.land--castle,
.land--Castle {
	background-image: url(./images/img_landbadge_castle.png);
}
.type--diamond {
	.land-wealth__icon {
		background-image: url(./images/img_wealth_diamond.png);
		background-position: 65% 50%;
		background-size: 65%;
	}
}
.type--ruby {
	.land-wealth__icon {
		background-image: url(./images/img_wealth_rudy.png);
		background-position: 65% 70%;
		background-size: 75%;
	}
}
.land-wealth__icon {
	background-repeat: no-repeat;
	border: 2px solid #504338;
	border-radius: 100vmax;
	display: inline-flex;
	height: 36px;
	margin-right: 8px;
	position: relative;
	width: 36px;
	box-sizing: border-box;
	&:before {
		background-image: url(./images/img_wealth_mark.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 21px;
		left: -3px;
		position: absolute;
		top: -1px;
		width: 14px;
	}
}
// 全部
.i--class-all {
	mask-image: url(./svg/icon_class_all.svg);
	width: 24px;
	height: 24px;
	@include media {
		width: vw(48);
		height: vw(48);
	}
}
// 幻影劍士
.i--class-MirageBlade {
	mask-image: url(./svg/icon_class_1.svg);
}
// 香射手
.i--class-IncenseArcher {
	mask-image: url(./svg/icon_class_2.svg);
}

// 咒文刻印師
.i--class-RuneScribe {
	mask-image: url(./svg/icon_class_3.svg);
}

// 執行官
.i--class-Enforcer {
	mask-image: url(./svg/icon_class_4.svg);
}

// 等級排行
.i--rank-lv {
	mask-image: url(./svg/icon_rank_lv.svg);
}

// 旅團排行
.i--rank-guild {
	mask-image: url(./svg/icon_rank_guild.svg);
}

.i--0 {
	mask-image: url(./svg/icon_zero.svg);
}
.i--1 {
	mask-image: url(./svg/icon_one.svg);
}
.i--2 {
	mask-image: url(./svg/icon_two.svg);
}
.i--3 {
	mask-image: url(./svg/icon_three.svg);
}
.i--4 {
	mask-image: url(./svg/icon_four.svg);
}
.i--5 {
	mask-image: url(./svg/icon_five.svg);
}
.i--6 {
	mask-image: url(./svg/icon_six.svg);
}
.i--7 {
	mask-image: url(./svg/icon_seven.svg);
}
.i--8 {
	mask-image: url(./svg/icon_eight.svg);
}
.i--9 {
	mask-image: url(./svg/icon_nine.svg);
}
.i--percent {
	width: 22px;
	height: 19px;
	mask-image: url(./svg/icon_percent.svg);
	background-color: #faecd7;
	@include media {
		width: vw(29);
		height: vw(25);
	}
}
.i--number {
	width: 13px;
	height: 19px;
	background-color: #faecd7;
	@include media {
		width: vw(18);
		height: vw(24);
	}
}
