[class*="i--"] {
	box-sizing: border-box;
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: top;
	fill: currentColor;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: contain;
	mask-position: center center;
	-webkit-mask-position: center center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
	min-height: 5px;
	min-width: 5px;
}
.i--plus {
	mask-image: url(./svg/icon_plus.svg);
}
.i--minus {
	mask-image: url(./svg/icon_minus.svg);
}
.i--xmark-2 {
	mask-image: url(./svg/icon_xmark_2.svg);
}
.i--guildmark {
	mask-image: url(./svg/icon_guildmark.svg);
}
.i--crown {
	mask-image: url(./svg/icon_crown.svg);
}
.i--member {
	mask-image: url(./svg/icon_member.svg);
}
.i--money {
	mask-image: url(./svg/icon_money.svg);
}
.i--money-percent {
	mask-image: url(./svg/icon_money_percent.svg);
}
.i--refresh {
	mask-image: url(./svg/icon_refresh.svg);
}
.i--garrison {
	mask-image: url(./svg/icon_garrison.svg);
}
.i--fortress {
	mask-image: url(./svg/icon_fortress.svg);
}
.i--castle {
	mask-image: url(./svg/icon_castle.svg);
}
.type--diamond {
	.land-wealth__icon {
		background-image: url(./images/img_wealth_diamond.png);
		background-position: 65% 50%;
		background-size: 65%;
	}
}
.type--ruby {
	.land-wealth__icon {
		background-image: url(./images/img_wealth_rudy.png);
		background-position: 65% 70%;
		background-size: 75%;
	}
}
.land-wealth__icon {
	background-repeat: no-repeat;
	border: 2px solid #504338;
	border-radius: 100vmax;
	display: inline-flex;
	height: 36px;
	margin-right: 8px;
	position: relative;
	width: 36px;
	box-sizing: border-box;
	&:before {
		background-image: url(./images/img_wealth_mark.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 21px;
		left: -3px;
		position: absolute;
		top: -1px;
		width: 14px;
	}
}

// 幻影劍士
.i--class-MirageBlade {
	mask-image: url(./svg/icon_class_1.svg);
}
// 香射手
.i--class-IncenseArcher {
	mask-image: url(./svg/icon_class_2.svg);
}

// 咒文刻印師
.i--class-RuneScribe {
	mask-image: url(./svg/icon_class_3.svg);
}

// 執行官
.i--class-Enforcer {
	mask-image: url(./svg/icon_class_4.svg);
}

// 等級排行
.i--lv-rank {
	mask-image: url(./svg/icon_lv_rank.svg);
}

// 旅團排行
.i--guild-rank {
	mask-image: url(./svg/icon_guild_rank.svg);
}
