:root {
	--maxvh: 100vh;
	--maxvh-without-navtop: 100vh;
	--navtop-gap: 149px;
	--navtop-height: 149px;
	--nexon-gnb-height: 63px;
	--nexon-gnb-gap: 63px;
	--gnb-height: 86px;
	--gnb-gap: 86px;
	--event-gnb-height: 0px;
	--event-gnb-gap: 0;
}
* {
	padding: 0;
	margin: 0;
}
body,
html {
	font-optical-sizing: auto;
	// min-height: 100%;
}
@function vw($px) {
	@return ($px * 100vw) / 768;
}
@mixin media($breakpoint: 768px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}
@mixin hover($breakpoint: 768px) {
	@media screen and (min-width: $breakpoint) {
		&:hover {
			@content;
		}
	}
}
html.use-custom-cursor,
html.use-custom-cursor a,
html.use-custom-cursor button,
html.use-custom-cursor h1,
html.use-custom-cursor h2,
html.use-custom-cursor h3,
html.use-custom-cursor h4,
html.use-custom-cursor h5,
html.use-custom-cursor h6,
html.use-custom-cursor input,
html.use-custom-cursor textarea {
	cursor: none !important;
}
body {
	background-color: #181512;
}
#app::-webkit-scrollbar,
body::-webkit-scrollbar {
	height: 0;
	opacity: 0;
	visibility: hidden;
	width: 0;
}
.dot-line {
	border-top: 3px dotted #ffffff4d;
	display: inline-block;
	height: 0;
	margin-left: 6px;
	margin-right: 10px;
	min-width: 15px;
	width: auto;
	width: 100%;
	@media (max-width: 768px) {
		border-width: 2px;
	}
}
.mask-text {
	box-sizing: border-box;
	color: inherit;
	display: inline-block;
	text-align: inherit;
	width: auto;
}
.hexatag {
	align-items: center;
	background-image: url(./svg/polygon_hexatag.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-size: 200% 100%;
	box-sizing: border-box;
	color: #615d59;
	display: inline-flex;
	flex: 0 0 auto;
	font-size: 14px;
	font-weight: 600;
	height: 30px;
	justify-content: center;
	line-height: 1;
	margin-left: 15px;
	margin-right: 15px;
	padding: 8px 0;
	position: relative;
	width: auto;
	transition: filter 0.2s ease;
	&.-stroke {
		background-image: url(./svg/polygon_hexatag_stroke.svg);
	}
	&:after,
	&:before {
		background-image: inherit;
		background-position: 50% 50%;
		background-position: 0 50%;
		background-repeat: no-repeat;
		background-size: contain;
		background-size: auto 100%;
		box-sizing: border-box;
		content: "";
		height: 100%;
		position: absolute;
		right: 100%;
		width: 15px;
	}
	&:before {
		transform: translate3d(0.2%, 0, 0);
	}
	&:after {
		background-position: 100% 50%;
		left: 100%;
		right: unset;
		transform: translate3d(-0.2%, 0, 0);
	}
}
[class*="button--"] {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	display: inline-block;
	flex: 0 0 auto;
	height: auto;
	vertical-align: top;
	width: auto;
}
.button--selector {
	align-items: center;
	border: 1px solid #e3e1e0;
	border-radius: 3px;
	box-sizing: border-box;
	color: #666;
	column-gap: 12px;
	cursor: pointer;
	display: inline-flex;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	min-height: 40px;
	padding: 12px 10px;
	position: relative;
	transition: border-color 0.2s ease, box-shadow 0.3s ease, background-color 0.3s ease;
	white-space: nowrap;
	will-change: width;
	@include media {
		padding: vw(24) vw(30);
	}
	&:after {
		box-sizing: border-box;
		content: "";
		display: inline-flex;
		height: 6px;
		vertical-align: top;
		width: 11px;
		fill: currentColor;
		background-color: #c2c0be;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		flex: 0 0 auto;
		margin-left: 16px;
		mask-image: url(./svg/icon_arrow_down.svg);
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		min-height: 5px;
		min-width: 5px;
		transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
		@include media {
			width: vw(22);
			height: vw(12);
		}
	}
	._name {
		color: #c2a779;
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		height: auto;
		line-height: 1;
		@include media {
			font-size: vw(32);
		}
	}
	._value {
		color: #877f7f;
		font-size: 14px;
		font-weight: 600;
		text-align: right;
		margin-left: auto;
		@include media {
			font-size: vw(28);
		}
	}
	.selector {
		max-height: 360px;
		width: 100%;
		@include media {
			min-width: 100%;
			margin-top: 0;
		}
	}
	.selector__content {
		background-color: #000;
		border: vw(1) solid #c2a779;
		ul li {
			@include media {
				font-size: vw(32);
				color: #877f7f;
				padding: vw(25);
				border-bottom: vw(1) solid #c2a779;
			}
			&.-selected {
				background-color: #61543d;
				span {
					color: #c2a779;
				}
			}
			span {
				color: #877f7f;
			}
		}
	}
}

.spinner--progress-dots {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	grid-gap: 2px;
	span {
		animation: bound-f905bb39 0.5s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate;
		background-color: var(--0dba516f);
		border-radius: 9999px;
		display: inline-block;
		height: 6px;
		width: 6px;
		&:nth-child(2) {
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
		}
	}
}
.selector {
	box-sizing: border-box;
	cursor: default;
	display: flex;
	left: 0;
	margin-top: 4px;
	position: absolute;
	top: 100%;
	width: auto;
	z-index: 100;
	select {
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		clip: rect(0, 0, 0, 0);
		border-width: 0;
		cursor: pointer !important;
		display: none !important;
		pointer-events: none !important;
		white-space: nowrap;
	}
}

.selector__box {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: relative;
	top: 0;
	touch-action: pan-y;
	visibility: hidden;
	width: 100%;
	&.-open {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
		display: block;
	}
	&.-hide {
		display: none;
	}
}
.selector__dimmed {
	display: none;
	opacity: 0;
	pointer-events: none;
}
.selector__transform {
	@media (min-width: 769px) {
		box-shadow: 0 4px 4px #00000026;
		height: 0;
		transform: none !important;
		will-change: height;
	}
	background-color: #fff;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: box-shadow 0.4s ease;
	width: auto;
	z-index: 2;
	.selector__close {
		@media (min-width: 769px) {
			display: none;
		}
		align-items: center;
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		margin: 0 auto;
		-webkit-user-select: all;
		user-select: all;
		-webkit-user-drag: auto;
		background: linear-gradient(180deg, #fffc 85%, #fff0);
		height: 40px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		span {
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			clip: rect(0, 0, 0, 0);
			border-width: 0;
			white-space: nowrap;
		}
	}
}
.selector__content {
	background-color: #fff;
	border: 1px solid #c2c0be;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	min-height: 0;
	overflow-y: overlay;
	transition: border 0.4s ease;
	width: 100%;
	&::-webkit-scrollbar {
		border-right: 2px solid #0000;
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: #c2a779;
	}
	&::-webkit-scrollbar-track {
		background-color: #0000;
	}
	ul {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		flex: 0 0 auto;
		flex-direction: column;
		height: auto;
		white-space: nowrap;
		li {
			&.-selected {
				@media (min-width: 769px) {
					background-color: #0000000d;
					color: #3e3731;
				}
			}
			box-sizing: border-box;
			display: flex;
			width: 100%;
			align-items: center;
			color: #66666680;
			cursor: pointer;
			font-size: 15px;
			font-weight: 500;
			height: 100%;
			justify-content: flex-start;
			padding: 9px 14px 9px 9px;
			text-align: left;
			transition: background-color 0.14s ease, color 0.14s ease;
			vertical-align: top;
		}
	}
}
@keyframes wave-b44e1f3e {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	10% {
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes outRing-b44e1f3e {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes bound-f905bb39 {
	0% {
		opacity: 0.35;
		transform: scale(0.6);
	}
	100% {
		opacity: 1;
	}
}
