.map-area-1 {
	._land {
		align-items: center;
		border-radius: 50px;
		cursor: pointer;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px 40px;
		pointer-events: all;
		position: absolute;
		transform: translate3d(-50%, -50%, 0);
		transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
		-webkit-user-select: none;
		user-select: none;
		will-change: transform;
		border: none;
		background-color: transparent;
		&.-occupy-elf {
			._land-more ._land-name {
				color: #fff;
			}
		}
		&.-hover,
		&.-chain {
			._land-badge {
				transform: translate3d(0, -40px, 0) scale(1);
				transition: transform 0.65s cubic-bezier(0.22, 1, 0.36, 1);
			}
			._land-more {
				opacity: 1;
				pointer-events: all;
				transform: translate3d(-50%, 0, 0);
				transition-delay: 30ms;
			}
			._land-guild-name {
				transform: translateZ(0);
				transition-delay: 60ms;
			}
			._land-more ._land-guild-name ._land-plus {
				opacity: 1;
				transform: translateZ(0);
			}
		}
		&.-select {
			._land-badge {
				transform: translate3d(0, -40px, 0) scale(1);
				transition: transform 0.65s cubic-bezier(0.22, 1, 0.36, 1);
			}
			._land-more {
				opacity: 1;
				pointer-events: all;
				transform: translate3d(-50%, 0, 0);
				transition-delay: 30ms;
			}
			._land-guild-name {
				transform: translateZ(0);
				transition-delay: 60ms;
			}
			._land-more ._land-guild-name ._land-plus {
				opacity: 1;
				transform: translateZ(0);
			}
		}
		._land-effect {
			border-radius: 100%;
			box-sizing: border-box;
			display: inline-flex;
			height: 30px;
			left: 50%;
			position: absolute;
			top: 72%;
			transform: translate3d(-50%, -50%, 0);
			transition: opacity 0.5s ease 0.4s;
			width: 60px;
			nimation-delay: 79ms;
			&:before {
				border: 4px solid #ffffffb3;
				border-radius: inherit;
				box-shadow: 0 0 30px 19px #ffffffb3;
				box-sizing: border-box;
				content: "";
				display: inline-block;
				height: 100%;
				left: 0;
				top: 0;
				transform: scale(0.6);
				width: 100%;
			}
			span {
				animation: wave-b44e1f3e 1.5s cubic-bezier(0.33, 1, 0.68, 1) infinite;
				border: 3px solid #fff;
				border-radius: inherit;
				box-sizing: border-box;
				display: inline-block;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				width: 100%;
				&:nth-child(2) {
					animation-delay: 0.4s;
				}
				&:nth-child(3) {
					animation-delay: 0.65s;
				}
			}
		}
		._land-badge {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.5));
			height: 47px;
			transform: translateZ(0) scale(0.95);
			transition: transform 0.45s cubic-bezier(0.65, 0, 0.35, 1);
			width: 35px;
			&.type--fortress {
				background-image: url(./images/img_landbadge_fortress.png);
			}
			&.type--garrison {
				background-image: url(./images/img_landbadge_garrison.png);
			}
		}
		._land-more {
			align-items: center;
			bottom: -7px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			left: 50%;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			transform: translate3d(-50%, 0, 0);
			transform: translate3d(-50%, 15px, 0);
			transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.33, 1, 0.68, 1), background-color 0.5s ease;
			white-space: nowrap;
			._land-name {
				color: #423b32;
				font-family: WarsOfPrasia, serif;
				font-size: 20px;
				line-height: 1;
			}
			._land-guild-name {
				align-items: center;
				background-color: #22110159;
				border-radius: 9999px;
				box-sizing: border-box;
				display: inline-flex;
				margin-top: 10px;
				padding: 5px 14px 4px;
				pointer-events: none;
				transform: translate3d(0, 5px, 0);
				transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.33, 1, 0.68, 1), background-color 0.5s ease;
				p {
					color: #fff;
					font-size: 14px;
					font-weight: 600;
				}
				._land-plus {
					align-items: center;
					background-color: #00000080;
					border: 2px solid #0000004d;
					border-radius: 9999px;
					box-sizing: border-box;
					display: inline-flex;
					width: 25px;
					height: 25px;
					justify-content: center;
					margin-left: 5px;
					margin-right: -8px;
					margin-top: -1px;
					opacity: 0;
					position: relative;
					transform: translate3d(-15px, 0, 0);
					transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.5s ease;

					&:nth-child(2) {
						animation-delay: 0.25s;
					}
					& > span {
						animation: outRing-b44e1f3e 1s cubic-bezier(0.33, 1, 0.68, 1) infinite;
						border: 0.5px solid #0006;
						border-radius: 9999px;
						box-sizing: border-box;
						height: 100%;
						position: absolute;
						width: 100%;
						&:nth-child(2) {
							animation-delay: 0.25s;
						}
					}
					i {
						background-color: #fff;
						height: 10px;
						width: 10px;
					}
				}
				.spinner--progress-dots {
					margin-right: 6px;
				}
			}
		}
	}
}
