.map-detail {
	box-sizing: border-box;
	display: flex;
	left: 50%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate3d(calc(400px - 50%), -50%, 0);
	transition: opacity 0.2s ease;
	width: 500px;
	z-index: 3;
	._elf-title {
		color: #666;
		font-size: 19px;
		margin-top: 12px;
		text-align: center;
	}
	&.-active {
		opacity: 1;
		pointer-events: all;
	}
	&.-occupy-elf {
		._land-info {
			border-top: 1px solid #0000001a;
			margin-top: 20px;
			padding-top: 20px;
		}
	}
	&__close {
		align-items: center;
		background-color: #000;
		border: 1px solid #0000001a;
		border-radius: 100vmax;
		display: inline-flex;
		height: 28px;
		justify-content: center;
		margin: 11px;
		position: absolute;
		right: 0;
		top: 0;
		width: 28px;
		z-index: 3;
		cursor: pointer;
		i {
			background-color: #fff;
			border-radius: 9999px;
			height: 15px;
			width: 15px;
		}
		span {
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			clip: rect(0, 0, 0, 0);
			border-width: 0;
			white-space: nowrap;
		}
	}
	&__box {
		// background-image: url(./images/bg_pattern_1.jpg);
		background-color: rgba(#000, 0.8);
		background-repeat: repeat;
		border-radius: 3px;
		box-shadow: 0 15px 20px #00000080;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 30px 25px;
		position: relative;
		width: 100%;
	}
	._guild-info {
		color: #666;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		._name {
			align-items: center;
			display: inline-flex;
			font-size: 16px;
			margin-right: 4px;
			min-width: 100px;
			flex-shrink: 0;
			i {
				background-color: #666;
				margin-right: 10px;
			}
		}
		._guild-title {
			align-items: center;
			display: flex;
			i {
				height: 18px;
				width: 16px;
			}
			._guild-level {
				align-items: center;
				border: 1px solid #66666680;
				border-radius: 9999px;
				box-sizing: border-box;
				color: #666;
				display: inline-flex;
				font-size: 11px;
				font-weight: 600;
				height: 20px;
				justify-self: center;
				line-height: 1;
				padding: 3px 8px 2px;
			}
			._guild-name {
				color: #c2a779;
				font-size: 16px;
			}
			._guild-ranking {
				align-items: center;
				color: #c2a779;
				display: inline-flex;
				font-size: 14px;
				font-weight: 400;
				margin-top: 3px;
				&:before {
					background-color: #c2c0be;
					border-radius: 9999px;
					content: "";
					display: inline-block;
					height: 4px;
					margin: 0 5px;
					width: 4px;
				}
			}
		}
		._guild-master {
			align-items: center;
			display: inline-flex;
			font-size: 15px;
			i {
				height: 14px;
				margin-bottom: 1px;
				margin-left: -2px;
				width: 19px;
			}
			._value {
				color: #c2a779;
			}
		}
		._guild-member {
			align-items: center;
			display: inline-flex;
			font-size: 15px;
			i {
				height: 15px;
				width: 14px;
			}
			strong {
				font-weight: inherit;
			}
			._value {
				color: #c2a779;
			}
		}
	}
	._guild-description {
		background-color: rgba(#000, 0.8);
		border-radius: 3px;
		box-sizing: border-box;
		color: #c2a779;
		font-size: 16px;
		margin-top: 22px;
		margin-bottom: 22px;
		padding: 10px 18px;
		width: 100%;
		word-wrap: break-word;
	}
	._land-info {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		white-space: nowrap;
		li {
			align-items: center;
			display: flex;
			&._land-total-tax {
				margin-bottom: 16px;
			}
			._title {
				align-items: center;
				color: #877f7f;
				display: inline-flex;
				font-size: 16px;
				.i--money {
					background-color: #877f7f;
					height: 14px;
					margin-right: 5px;
					width: 20px;
				}
			}
			.dot-line {
				border-color: #877f7f;
				min-width: 27px;
			}
			._land-wealth {
				align-items: center;
				display: inline-flex;
				&.type--diamond {
					.land-wealth__icon {
						background-image: url(./images/img_wealth_diamond.png);
						background-position: 65% 50%;
						background-size: 65%;
					}
				}
				&.type--rudy {
					.land-wealth__icon {
						background-image: url(./images/img_wealth_rudy.png);
						background-position: 65% 70%;
						background-size: 75%;
					}
				}
				& + ._land-wealth {
					margin-left: 66px;
				}
			}
			._value {
				color: #c2a779;
				// font-family: WarsOfPrasia, serif;
				font-size: 20px;
				padding-bottom: 4px;
			}
			.i--money-percent {
				background-color: #666;
				height: 14px;
				margin-right: 5px;
				width: 20px;
			}
			.i--money-percent {
				background-color: #666;
				height: 14px;
				margin-right: 5px;
				width: 20px;
			}
		}
		hr {
			height: 0;
			margin: 0;
			opacity: 0;
			overflow: hidden;
			width: 100%;
		}
		._land-craft-tax {
			margin-left: 58px;
		}
	}
}
