.territory-table {
	display: none;
	flex-direction: column;
	@media (max-width: 768px) {
		display: flex;
		margin-bottom: vw(200);
		min-height: calc(100vh - vw(1000));
		min-height: calc(100dvh - vw(1000));
	}
	&__notice {
		font-size: vw(28);
		color: #877f7f;
		margin-bottom: vw(18);
	}
	&__list {
		align-items: center;
		display: flex;
		flex-direction: column;
		row-gap: vw(30);
	}
	&__item {
		width: 100%;
		background-color: rgba(#000, 0.5);
		box-shadow: inset 0 0 0 vw(1) rgba(#504338, 0.5);
		padding: 0 vw(30);
		box-sizing: border-box;
		&.active {
			box-shadow: inset 0 0 0 vw(4) #b89b69;
		}
		.land-info__badge {
			width: vw(29);
			height: vw(40);
			background-size: 100%;
			margin-right: vw(19);
			background-repeat: no-repeat;
			flex-shrink: 0;
		}
		&.type--garrison {
			.land-info__badge {
				background-image: url(./images/img_landbadge_garrison.png);
			}
		}
		&.type--castle {
			.land-info__badge {
				background-image: url(./images/img_landbadge_castle.png);
			}
		}
		&.type--fortress {
			.land-info__badge {
				background-image: url(./images/img_landbadge_fortress.png);
			}
		}
		&.type--occpuy-elf {
			.land-info__name,
			.land-info__occupy-elf,
			.land-wealth__value,
			.land-trade-tax__value {
				color: #c7bfb3;
			}
			.land-info__occupy-elf {
				margin-left: auto;
				font-size: vw(28);
				flex-shrink: 0;
				align-self: center;
			}
		}
		.land {
			&-box {
				font-size: vw(28);
				display: flex;
				align-items: center;
				padding: vw(30) 0;
				border-bottom: vw(1) solid #504338;
				&:last-child {
					border-bottom: none;
				}
			}
			&-tax {
				padding: vw(25) 0;
			}
			&-info {
				&__badge {
				}
				&__name {
					color: #c2a779;
					font-size: vw(32);
				}
			}
			&-guild {
				display: flex;
				flex-direction: column;
				row-gap: vw(16);
				&__mark {
					margin: 0 vw(22);
					.i--guildmark {
						min-height: vw(40);
						min-width: vw(36);
						background-color: #c2a779;
					}
				}
				&__name {
					font-size: vw(48);
					color: #c2a779;
					font-weight: bold;
				}
				&__member {
					font-size: vw(32);
					color: #c2a779;
					margin-left: auto;
					flex-shrink: 0;
				}
				&__master {
					span {
						font-size: vw(32);
						&:first-child {
							color: #877f7f;
						}
						&:nth-child(2) {
							color: #c2a779;
							margin-left: vw(20);
						}
					}
				}
				&__description {
					display: flex;
					align-items: center;
					span {
						font-size: vw(32);
						&:first-child {
							color: #877f7f;
						}
						&:nth-child(2) {
							color: #c2a779;
							margin-left: vw(20);
							width: vw(480);
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}
			&-tax-stack {
				font-size: vw(28);
				color: #877f7f;
				display: flex;
				align-items: center;
				flex-shrink: 0;
				margin-right: vw(20);
				.i--money {
					width: vw(40);
					height: vw(26);
					background-color: #877f7f;
					margin-right: vw(20);
				}
			}
			&-wealth {
				display: flex;
				align-items: center;
				&.type--diamond {
					margin-left: auto;
					margin-right: vw(30);
					.land-wealth__icon {
						background-image: url(./images/img_wealth_diamond.png);
						background-position: 65% 50%;
						background-size: 65%;
					}
				}
				&.type--ruby {
					.land-wealth__icon {
						background-image: url(./images/img_wealth_rudy.png);
						background-position: 55% 50%;
						background-size: 65%;
					}
				}
				&__icon {
					background-repeat: no-repeat;
					border: vw(1) solid rgba(#c2a779, 1);
					border-radius: 100vmax;
					display: inline-flex;
					height: vw(40);
					margin-right: vw(10);
					position: relative;
					width: vw(40);
					background-color: rgba(#000, 0.5);
					&:before {
						background-image: url(./images/img_wealth_mark.png);
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: contain;
						content: "";
						display: inline-block;
						height: vw(35);
						left: vw(-6);
						position: absolute;
						top: vw(-8);
						width: vw(16);
					}
				}
				&__value {
					font-size: vw(28);
					color: #c2a779;
				}
			}
			&-trade-tax {
				font-size: vw(28);
				color: #877f7f;
				display: flex;
				align-items: center;
				flex-shrink: 0;
				margin-right: vw(20);
				.i--money {
					width: vw(40);
					height: vw(26);
					background-color: #877f7f;
					margin-right: vw(20);
				}
				&__value {
					font-size: vw(28);
					color: #c2a779;
					margin-left: auto;
				}
			}
		}
	}
}
