@charset "UTF-8";
:root {
  --maxvh: 100vh;
  --maxvh-without-navtop: 100vh;
  --navtop-gap: 149px;
  --navtop-height: 149px;
  --nexon-gnb-height: 63px;
  --nexon-gnb-gap: 63px;
  --gnb-height: 86px;
  --gnb-gap: 86px;
  --event-gnb-height: 0px;
  --event-gnb-gap: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-optical-sizing: auto;
}

html.use-custom-cursor,
html.use-custom-cursor a,
html.use-custom-cursor button,
html.use-custom-cursor h1,
html.use-custom-cursor h2,
html.use-custom-cursor h3,
html.use-custom-cursor h4,
html.use-custom-cursor h5,
html.use-custom-cursor h6,
html.use-custom-cursor input,
html.use-custom-cursor textarea {
  cursor: none !important;
}

body {
  background-color: #181512;
}

#app::-webkit-scrollbar,
body::-webkit-scrollbar {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.dot-line {
  border-top: 3px dotted rgba(255, 255, 255, 0.3019607843);
  display: inline-block;
  height: 0;
  margin-left: 6px;
  margin-right: 10px;
  min-width: 15px;
  width: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .dot-line {
    border-width: 2px;
  }
}

.mask-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: inline-block;
  text-align: inherit;
  width: auto;
}

.hexatag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./svg/polygon_hexatag.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 200% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #615d59;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 0;
  position: relative;
  width: auto;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}
.hexatag.-stroke {
  background-image: url(./svg/polygon_hexatag_stroke.svg);
}
.hexatag:after, .hexatag:before {
  background-image: inherit;
  background-position: 50% 50%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  height: 100%;
  position: absolute;
  right: 100%;
  width: 15px;
}
.hexatag:before {
  -webkit-transform: translate3d(0.2%, 0, 0);
          transform: translate3d(0.2%, 0, 0);
}
.hexatag:after {
  background-position: 100% 50%;
  left: 100%;
  right: unset;
  -webkit-transform: translate3d(-0.2%, 0, 0);
          transform: translate3d(-0.2%, 0, 0);
}

[class*=button--] {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: auto;
  vertical-align: top;
  width: auto;
}

.button--selector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e3e1e0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  min-height: 40px;
  padding: 12px 10px;
  position: relative;
  -webkit-transition: border-color 0.2s ease, background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.2s ease, background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.2s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  transition: border-color 0.2s ease, box-shadow 0.3s ease, background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  white-space: nowrap;
  will-change: width;
}
@media screen and (max-width: 768px) {
  .button--selector {
    padding: 3.125vw 3.90625vw;
  }
}
.button--selector:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6px;
  vertical-align: top;
  width: 11px;
  fill: currentColor;
  background-color: #c2c0be;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 16px;
  -webkit-mask-image: url(./svg/icon_arrow_down.svg);
          mask-image: url(./svg/icon_arrow_down.svg);
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  min-height: 5px;
  min-width: 5px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
@media screen and (max-width: 768px) {
  .button--selector:after {
    width: 2.8645833333vw;
    height: 1.5625vw;
  }
}
.button--selector ._name {
  color: #c2a779;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .button--selector ._name {
    font-size: 4.1666666667vw;
  }
}
.button--selector ._value {
  color: #c2a779;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .button--selector ._value {
    font-size: 3.6458333333vw;
  }
}
.button--selector .selector {
  max-height: 360px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .button--selector .selector {
    min-width: 100%;
    margin-top: 0;
  }
}
.button--selector .selector__content {
  background-color: #000;
  border: 1px solid #c2a779;
  border-radius: 0;
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: var(--animation-time, 0.5s) linear;
  transition: var(--animation-time, 0.5s) linear;
}
.button--selector .selector__content.open {
  grid-template-rows: 1fr;
}
.button--selector .selector__content ul {
  overflow: auto;
}
.button--selector .selector__content ul li {
  border-bottom: 1px solid #504338;
}
.button--selector .selector__content ul li:last-child {
  border-bottom: 0;
}
@media screen and (max-width: 768px) {
  .button--selector .selector__content ul li {
    font-size: 4.1666666667vw;
    color: #877f7f;
    padding: 3.2552083333vw;
    border-bottom: 0.1302083333vw solid #504338;
  }
}
.button--selector .selector__content ul li.-selected {
  background-color: #61543d;
}
.button--selector .selector__content ul li.-selected span {
  color: #c2a779;
}
.button--selector .selector__content ul li span {
  color: #877f7f;
}

.spinner--progress-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2px;
}
.spinner--progress-dots span {
  -webkit-animation: bound-f905bb39 0.5s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate;
          animation: bound-f905bb39 0.5s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate;
  background-color: var(--0dba516f);
  border-radius: 9999px;
  display: inline-block;
  height: 6px;
  width: 6px;
}
.spinner--progress-dots span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.spinner--progress-dots span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.selector {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin-top: 4px;
  position: absolute;
  top: 100%;
  width: auto;
  z-index: 100;
}
.selector select {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer !important;
  display: none !important;
  pointer-events: none !important;
  white-space: nowrap;
}

.selector__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  pointer-events: none;
  position: relative;
  top: 0;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  visibility: hidden;
  width: 100%;
}
.selector__box.-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  display: block;
}
.selector__box.-open .selector__content {
  grid-template-rows: 1fr;
}
.selector__box.-hide {
  display: none;
}

.selector__dimmed {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.selector__transform {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  width: auto;
  z-index: 2;
}
@media (min-width: 769px) {
  .selector__transform {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1490196078);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1490196078);
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    will-change: height;
  }
}
.selector__transform .selector__close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-user-select: all;
  -moz-user-select: all;
       user-select: all;
  -webkit-user-drag: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 85%, rgba(255, 255, 255, 0));
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;
}
@media (min-width: 769px) {
  .selector__transform .selector__close {
    display: none;
  }
}
.selector__transform .selector__close span {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

.selector__content {
  background-color: #fff;
  border: 1px solid #c2c0be;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  overflow-y: overlay;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
  width: 100%;
}
.selector__content-box {
  overflow: hidden;
}
.selector__content-box ul::-webkit-scrollbar {
  border-right: 2px solid rgba(0, 0, 0, 0);
  width: 6px;
}
.selector__content-box ul::-webkit-scrollbar-thumb {
  background: #c2a779;
}
.selector__content-box ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.selector__content ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  white-space: nowrap;
}
.selector__content ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(102, 102, 102, 0.5019607843);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 9px 14px 9px 9px;
  text-align: left;
  -webkit-transition: background-color 0.14s ease, color 0.14s ease;
  transition: background-color 0.14s ease, color 0.14s ease;
  vertical-align: top;
}
@media (min-width: 769px) {
  .selector__content ul li.-selected {
    background-color: rgba(0, 0, 0, 0.0509803922);
    color: #3e3731;
  }
}

.pagination-content {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .pagination-content {
    margin-top: 7.8125vw;
  }
}
.pagination-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media screen and (max-width: 768px) {
  .pagination-numbers {
    -webkit-column-gap: 1.0416666667vw;
       -moz-column-gap: 1.0416666667vw;
            column-gap: 1.0416666667vw;
  }
}
.pagination-numbers li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.pagination-numbers__item {
  font-size: 16px;
  color: #877f7f;
  padding: 6px 6px 8px;
}
@media screen and (max-width: 768px) {
  .pagination-numbers__item {
    font-size: 4.1666666667vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .pagination-numbers__item {
    padding: 0.78125vw 0.78125vw 1.0416666667vw;
  }
}
.pagination-numbers__item.active {
  color: #c2a779;
}
.pagination-numbers__symbol span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.-empty {
  height: 300px;
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c2a779;
}
.-empty::after {
  content: "目前沒有資料";
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .-empty {
    font-size: 4.1666666667vw;
    height: 39.0625vw;
  }
}

.-loading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .-loading {
    height: 39.0625vw;
  }
}
.-loading > * {
  display: none !important;
}
.-loading:after {
  content: "";
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1.2s linear infinite;
          animation: rotation 1.2s linear infinite;
}
@media screen and (max-width: 768px) {
  .-loading:after {
    width: 7.8125vw;
    height: 7.8125vw;
    border-width: 0.6510416667vw;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes wave-b44e1f3e {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes wave-b44e1f3e {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes outRing-b44e1f3e {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@keyframes outRing-b44e1f3e {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@-webkit-keyframes bound-f905bb39 {
  0% {
    opacity: 0.35;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bound-f905bb39 {
  0% {
    opacity: 0.35;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
  }
}
[class*=i--] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  vertical-align: top;
  fill: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: contain;
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  min-height: 5px;
  min-width: 5px;
}

.i--search {
  -webkit-mask-image: url(./svg/icon-search.svg);
          mask-image: url(./svg/icon-search.svg);
}

.i--plus {
  -webkit-mask-image: url(./svg/icon_plus.svg);
          mask-image: url(./svg/icon_plus.svg);
}

.i--minus {
  -webkit-mask-image: url(./svg/icon_minus.svg);
          mask-image: url(./svg/icon_minus.svg);
}

.i--xmark-2 {
  -webkit-mask-image: url(./svg/icon_xmark_2.svg);
          mask-image: url(./svg/icon_xmark_2.svg);
}

.i--guildmark {
  -webkit-mask-image: url(./svg/icon_guildmark.svg);
          mask-image: url(./svg/icon_guildmark.svg);
}

.i--crown {
  -webkit-mask-image: url(./svg/icon_crown.svg);
          mask-image: url(./svg/icon_crown.svg);
}

.i--member {
  -webkit-mask-image: url(./svg/icon_member.svg);
          mask-image: url(./svg/icon_member.svg);
}

.i--money {
  -webkit-mask-image: url(./svg/icon_money.svg);
          mask-image: url(./svg/icon_money.svg);
}

.i--money-percent {
  -webkit-mask-image: url(./svg/icon_money_percent.svg);
          mask-image: url(./svg/icon_money_percent.svg);
}

.i--refresh {
  -webkit-mask-image: url(./svg/icon_refresh.svg);
          mask-image: url(./svg/icon_refresh.svg);
}

.i--garrison {
  -webkit-mask-image: url(./svg/icon_garrison.svg);
          mask-image: url(./svg/icon_garrison.svg);
}

.i--fortress {
  -webkit-mask-image: url(./svg/icon_fortress.svg);
          mask-image: url(./svg/icon_fortress.svg);
}

.i--castle {
  -webkit-mask-image: url(./svg/icon_castle.svg);
          mask-image: url(./svg/icon_castle.svg);
}

.land--fortress,
.land--Fortress {
  background-image: url(./images/img_landbadge_fortress.png);
}

.land--garrison,
.land--Garrison {
  background-image: url(./images/img_landbadge_garrison.png);
}

.land--castle,
.land--Castle {
  background-image: url(./images/img_landbadge_castle.png);
}

.type--diamond .land-wealth__icon {
  background-image: url(./images/img_wealth_diamond.png);
  background-position: 65% 50%;
  background-size: 65%;
}

.type--ruby .land-wealth__icon {
  background-image: url(./images/img_wealth_rudy.png);
  background-position: 65% 70%;
  background-size: 75%;
}

.land-wealth__icon {
  background-repeat: no-repeat;
  border: 2px solid #504338;
  border-radius: 100vmax;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 36px;
  margin-right: 8px;
  position: relative;
  width: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.land-wealth__icon:before {
  background-image: url(./images/img_wealth_mark.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 21px;
  left: -3px;
  position: absolute;
  top: -1px;
  width: 14px;
}

.i--class-all {
  -webkit-mask-image: url(./svg/icon_class_all.svg);
          mask-image: url(./svg/icon_class_all.svg);
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .i--class-all {
    width: 6.25vw;
    height: 6.25vw;
  }
}

.i--class-MirageBlade,
.i--class-mirageblade {
  -webkit-mask-image: url(./svg/icon_class_1.svg);
          mask-image: url(./svg/icon_class_1.svg);
}

.i--class-IncenseArcher,
.i--class-incensearcher {
  -webkit-mask-image: url(./svg/icon_class_2.svg);
          mask-image: url(./svg/icon_class_2.svg);
}

.i--class-RuneScribe,
.i--class-runescribe {
  -webkit-mask-image: url(./svg/icon_class_3.svg);
          mask-image: url(./svg/icon_class_3.svg);
}

.i--class-Enforcer,
.i--class-enforcer {
  -webkit-mask-image: url(./svg/icon_class_4.svg);
          mask-image: url(./svg/icon_class_4.svg);
}

.i--rank-lv {
  -webkit-mask-image: url(./svg/icon_rank_lv.svg);
          mask-image: url(./svg/icon_rank_lv.svg);
}

.i--rank-guild {
  -webkit-mask-image: url(./svg/icon_rank_guild.svg);
          mask-image: url(./svg/icon_rank_guild.svg);
}

.i--0 {
  -webkit-mask-image: url(./svg/icon_zero.svg);
          mask-image: url(./svg/icon_zero.svg);
}

.i--1 {
  -webkit-mask-image: url(./svg/icon_one.svg);
          mask-image: url(./svg/icon_one.svg);
}

.i--2 {
  -webkit-mask-image: url(./svg/icon_two.svg);
          mask-image: url(./svg/icon_two.svg);
}

.i--3 {
  -webkit-mask-image: url(./svg/icon_three.svg);
          mask-image: url(./svg/icon_three.svg);
}

.i--4 {
  -webkit-mask-image: url(./svg/icon_four.svg);
          mask-image: url(./svg/icon_four.svg);
}

.i--5 {
  -webkit-mask-image: url(./svg/icon_five.svg);
          mask-image: url(./svg/icon_five.svg);
}

.i--6 {
  -webkit-mask-image: url(./svg/icon_six.svg);
          mask-image: url(./svg/icon_six.svg);
}

.i--7 {
  -webkit-mask-image: url(./svg/icon_seven.svg);
          mask-image: url(./svg/icon_seven.svg);
}

.i--8 {
  -webkit-mask-image: url(./svg/icon_eight.svg);
          mask-image: url(./svg/icon_eight.svg);
}

.i--9 {
  -webkit-mask-image: url(./svg/icon_nine.svg);
          mask-image: url(./svg/icon_nine.svg);
}

.i--percent {
  width: 22px;
  height: 19px;
  -webkit-mask-image: url(./svg/icon_percent.svg);
          mask-image: url(./svg/icon_percent.svg);
  background-color: #faecd7;
}
@media screen and (max-width: 768px) {
  .i--percent {
    width: 3.7760416667vw;
    height: 3.2552083333vw;
  }
}

.i--number {
  width: 13px;
  height: 19px;
  background-color: #faecd7;
}
@media screen and (max-width: 768px) {
  .i--number {
    width: 2.34375vw;
    height: 3.125vw;
  }
}

.i--pagination-last {
  width: 14px;
  height: 14px;
  background-color: #877f7f;
  -webkit-mask-image: url("./svg/pagination-last.svg");
          mask-image: url("./svg/pagination-last.svg");
}
@media screen and (max-width: 768px) {
  .i--pagination-last {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
  }
}

.i--pagination-next {
  width: 14px;
  height: 14px;
  background-color: #877f7f;
  -webkit-mask-image: url("./svg/pagination-next.svg");
          mask-image: url("./svg/pagination-next.svg");
}
@media screen and (max-width: 768px) {
  .i--pagination-next {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
  }
}

.i--pagination-first {
  width: 14px;
  height: 14px;
  background-color: #877f7f;
  -webkit-mask-image: url("./svg/pagination-first.svg");
          mask-image: url("./svg/pagination-first.svg");
}
@media screen and (max-width: 768px) {
  .i--pagination-first {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
  }
}

.i--pagination-prev {
  width: 14px;
  height: 14px;
  background-color: #877f7f;
  -webkit-mask-image: url("./svg/pagination-prev.svg");
          mask-image: url("./svg/pagination-prev.svg");
}
@media screen and (max-width: 768px) {
  .i--pagination-prev {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
  }
}

.main-territory {
  background-image: url("./images/mainTerritory/bg.jpg");
}
@media screen and (max-width: 768px) {
  .main-territory {
    background-image: url("./images/mainTerritory/bg-m.jpg");
    overflow: hidden;
  }
}
.main-territory__wrap {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .main-territory__wrap {
    width: 100%;
    padding: 7.8125vw 0;
  }
}
.main-territory__title {
  width: 593px;
  height: 51px;
  background-image: url("./images/mainTerritory/title.png");
  background-size: 100%;
  margin: 0 auto 30px;
  font-size: 0;
}
@media screen and (max-width: 768px) {
  .main-territory__title {
    width: 96.484375vw;
    height: 8.4635416667vw;
    background-image: url("./images/mainTerritory/title-m.png");
  }
}
.main-territory__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .main-territory__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 7.8125vw;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 3.90625vw;
    padding: 0 3.90625vw;
  }
}
.main-territory__nav .button--selector {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(80, 67, 56, 0.5);
  cursor: pointer;
  min-height: 0;
  padding: 11px 10px;
  pointer-events: all;
  position: relative;
  border-radius: 0;
  width: 275px;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector {
    padding: 3.125vw 3.90625vw;
    font-size: 4.1666666667vw;
    width: 100%;
    color: #c2a779;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: inset 0 0 0 0.1302083333vw #c2a779;
            box-shadow: inset 0 0 0 0.1302083333vw #c2a779;
  }
}
.main-territory__nav .button--selector:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6px;
  vertical-align: top;
  width: 11px;
  fill: currentColor;
  background-color: #c2c0be;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 16px;
  -webkit-mask-image: url(./svg/icon_arrow_down.svg);
          mask-image: url(./svg/icon_arrow_down.svg);
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  min-height: 5px;
  min-width: 5px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector:after {
    width: 2.8645833333vw;
    height: 1.5625vw;
    margin-left: 3.7760416667vw;
    background-color: #c2a779;
  }
}
.main-territory__nav .button--selector ._name {
  color: #c2a779;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector ._name {
    font-size: 4.1666666667vw;
    color: #c2a779;
  }
}
.main-territory__nav .button--selector ._value {
  color: #877f7f;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector ._value {
    font-size: 4.1666666667vw;
  }
}
.main-territory__nav .button--selector .selector {
  max-height: 360px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector .selector {
    min-width: 100%;
    margin-top: 0;
  }
}
.main-territory__nav .button--selector .selector__transform {
  border-radius: 0;
  background-color: transparent;
}
.main-territory__nav .button--selector .selector__close {
  display: none;
}
.main-territory__nav .button--selector .selector__content {
  background-color: black;
  border: 1px solid rgba(80, 67, 56, 0.5);
  border-radius: 0;
}
.main-territory__nav .button--selector .selector__content ul li {
  border-bottom: 1px solid #504338;
}
.main-territory__nav .button--selector .selector__content ul li.-selected {
  background-color: #61543d;
}
.main-territory__nav .button--selector .selector__content ul li.-selected span {
  color: #c2a779;
}
.main-territory__nav .button--selector .selector__content ul li span {
  color: #877f7f;
}
@media screen and (max-width: 768px) {
  .main-territory__nav .button--selector .selector__content {
    background-color: #000;
    border: 0.1302083333vw solid #c2a779;
  }
  .main-territory__nav .button--selector .selector__content ul li {
    font-size: 4.1666666667vw;
    color: #877f7f;
    padding: 3.2552083333vw;
    border-bottom: 0.1302083333vw solid #c2a779;
  }
  .main-territory__nav .button--selector .selector__content ul li:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav .button--selector .selector__content ul li .i--garrison {
    min-width: 2.6041666667vw;
    min-height: 4.0364583333vw;
    -webkit-mask-image: url(./svg/icon_garrison.svg);
            mask-image: url(./svg/icon_garrison.svg);
    background-color: #877f7f;
    margin-right: 2.9947916667vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav .button--selector .selector__content ul li .i--castle {
    min-width: 4.6875vw;
    min-height: 4.0364583333vw;
    -webkit-mask-image: url(./svg/icon_castle.svg);
            mask-image: url(./svg/icon_castle.svg);
    background-color: #877f7f;
    margin-right: 2.0833333333vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav .button--selector .selector__content ul li .i--fortress {
    min-width: 4.8177083333vw;
    min-height: 3.6458333333vw;
    -webkit-mask-image: url(./svg/icon_fortress.svg);
            mask-image: url(./svg/icon_fortress.svg);
    background-color: #877f7f;
    margin-right: 1.953125vw;
  }
}
.main-territory__nav-type {
  display: none;
}
@media screen and (max-width: 768px) {
  .main-territory__nav-type {
    display: block;
  }
  .main-territory__nav-type .button--selector:after {
    margin-left: auto;
  }
  .main-territory__nav-type .button--selector .selector__content ul li.-selected {
    background-color: #61543d;
  }
  .main-territory__nav-type .button--selector .selector__content ul li.-selected i {
    background-color: #c2a779;
  }
  .main-territory__nav-type .button--selector .selector__content ul li.-selected span {
    color: #c2a779;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav-type .button--selector ._name .i--garrison {
    min-width: 2.6041666667vw;
    min-height: 4.0364583333vw;
    -webkit-mask-image: url(./svg/icon_garrison.svg);
            mask-image: url(./svg/icon_garrison.svg);
    background-color: #c2a779;
    margin-right: 2.9947916667vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav-type .button--selector ._name .i--castle {
    min-width: 4.6875vw;
    min-height: 4.0364583333vw;
    -webkit-mask-image: url(./svg/icon_castle.svg);
            mask-image: url(./svg/icon_castle.svg);
    background-color: #c2a779;
    margin-right: 2.0833333333vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main-territory__nav-type .button--selector ._name .i--fortress {
    min-width: 4.8177083333vw;
    min-height: 3.6458333333vw;
    -webkit-mask-image: url(./svg/icon_fortress.svg);
            mask-image: url(./svg/icon_fortress.svg);
    background-color: #c2a779;
    margin-right: 1.953125vw;
  }
}
.main-territory__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .main-territory__tab {
    display: none;
  }
}
.main-territory__tab-item {
  width: 120px;
  height: 40px;
  background-image: url("./images/mainTerritory/tab-type-bg.png");
  background-size: 200%;
  font-size: 16px;
  color: #877f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.main-territory__tab-item i {
  margin-right: 10px;
  background-color: #877f7f;
}
.main-territory__tab-item i.i--garrison {
  width: 10px;
  height: 16px;
  -webkit-mask-image: url(./svg/icon_garrison.svg);
          mask-image: url(./svg/icon_garrison.svg);
}
.main-territory__tab-item i.i--fortress {
  width: 18px;
  height: 14px;
  -webkit-mask-image: url(./svg/icon_fortress.svg);
          mask-image: url(./svg/icon_fortress.svg);
}
.main-territory__tab-item i.i--castle {
  width: 18px;
  height: 16px;
  -webkit-mask-image: url(./svg/icon_castle.svg);
          mask-image: url(./svg/icon_castle.svg);
}
@media screen and (min-width: 768px) {
  .main-territory__tab-item:hover {
    background-position-x: 100%;
    color: #c2a779;
  }
  .main-territory__tab-item:hover i {
    background-color: #c2a779;
  }
}
.main-territory__tab-item.active {
  background-position-x: 100%;
  color: #c2a779;
}
.main-territory__tab-item.active i {
  background-color: #c2a779;
}
.main-territory__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 280px;
  right: 60px;
}
@media screen and (max-width: 768px) {
  .main-territory__info {
    position: relative;
    top: 0;
    right: 0;
    padding: 0 3.90625vw;
    margin-bottom: 2.0833333333vw;
  }
}
.main-territory__info-total {
  font-size: 14px;
  color: #877f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .main-territory__info-total {
    font-size: 3.6458333333vw;
    margin-right: 0;
  }
}
.main-territory__info-total span {
  font-size: 16px;
  color: #c2a779;
  margin-left: 3px;
}
@media screen and (max-width: 768px) {
  .main-territory__info-total span {
    font-size: 4.1666666667vw;
    margin-left: 0.390625vw;
  }
}
.main-territory__info-notice {
  position: relative;
}
.main-territory__info-notice.-open .main-territory__info-notice-popup {
  display: block;
}
@media screen and (max-width: 768px) {
  .main-territory__info-notice {
    margin-left: auto;
  }
}
.main-territory__info-notice .i--notice {
  width: 20px;
  height: 20px;
  background-image: url("./images/mainTerritory/icon_notice.png");
  background-size: cover;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-territory__info-notice .i--notice {
    display: none;
  }
}
.main-territory__info-notice-popup {
  border: 1px solid #c2a779;
  font-size: 14px;
  color: #c2a779;
  background-color: black;
  padding: 6px 11px;
  position: absolute;
  top: -100%;
  margin-top: -24px;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  display: none;
}
@media screen and (max-width: 768px) {
  .main-territory__info-notice-popup {
    font-size: 3.6458333333vw;
    border: none;
    color: #877f7f;
    background-color: transparent;
    padding: 0;
    top: 0;
    margin-top: 0;
    position: relative;
  }
}
.main-territory__info-notice-popup span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 8px;
  vertical-align: top;
  width: 8px;
  bottom: -8px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  right: 6px;
}
.main-territory__info-notice-popup span:before {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 100%;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  width: 100%;
  border-left: 1px solid #c2a779;
  border-top: 1px solid #c2a779;
}
@media screen and (max-width: 768px) {
  .main-territory__info-notice-popup span {
    display: none;
  }
}
.main-territory__swiper {
  width: 1080px;
  margin: 0 auto 60px;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper {
    width: 100%;
    overflow: visible;
    margin: 0 auto;
  }
}
.main-territory__swiper-box {
  position: relative;
}
.main-territory__swiper-box.stop-swiper .swiper-wrapper {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-box.stop-swiper .swiper-wrapper {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
.main-territory__swiper-box.stop-swiper .main-territory__swiper-prev,
.main-territory__swiper-box.stop-swiper .main-territory__swiper-next {
  display: none;
}
.main-territory__swiper-box.-empty {
  height: 456px;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-box.-empty {
    height: 92.578125vw;
  }
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-box {
    padding: 0 15%;
  }
}
.main-territory__swiper-slide {
  width: 340px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 0 2px #504338;
          box-shadow: inset 0 0 0 2px #504338;
  padding: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-territory__swiper-slide.swiper-slide-active {
  -webkit-box-shadow: inset 0 0 0 2px #b89b69;
          box-shadow: inset 0 0 0 2px #b89b69;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-slide.swiper-slide-active {
    width: 71.6145833333vw;
    -webkit-box-shadow: inset 0 0 0 0.2604166667vw #b89b69;
            box-shadow: inset 0 0 0 0.2604166667vw #b89b69;
    padding: 3.90625vw;
  }
}
@media screen and (min-width: 768px) {
  .main-territory__swiper-slide:hover {
    -webkit-box-shadow: inset 0 0 0 2px #b89b69;
            box-shadow: inset 0 0 0 2px #b89b69;
  }
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-slide {
    width: 71.6145833333vw;
    -webkit-box-shadow: inset 0 0 0 0.2604166667vw #504338;
            box-shadow: inset 0 0 0 0.2604166667vw #504338;
    padding: 3.90625vw;
  }
}
.main-territory__swiper-next {
  width: 29px;
  height: 40px;
  background-size: cover;
  background-image: url("./images/mainTerritory/btn-next.png");
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-next {
    display: none;
  }
}
.main-territory__swiper-prev {
  width: 29px;
  height: 40px;
  background-size: cover;
  background-image: url("./images/mainTerritory/btn-prev.png");
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-territory__swiper-prev {
    display: none;
  }
}
.main-territory__btn {
  width: 245px;
  height: 60px;
  background-size: 200%;
  background-image: url("./images/mainTerritory/btn-more.png");
  margin: 0 auto;
  font-size: 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .main-territory__btn:hover {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-territory__btn {
    width: 58.59375vw;
    height: 14.3229166667vw;
    background-image: url("./images/mainTerritory/btn-more-m.png");
    background-size: 100%;
  }
}
.main-territory__land-box {
  border-bottom: 1px solid #504338;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .main-territory__land-box {
    border-bottom-width: 0.1302083333vw;
    padding: 3.125vw 0;
  }
}
.main-territory__land-box:first-child {
  padding: 15px 0;
}
@media screen and (max-width: 768px) {
  .main-territory__land-box:first-child {
    padding: 3.90625vw 0;
  }
}
.main-territory__land-box:last-child {
  border-bottom: 0;
}
.main-territory__land-box--guild {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 31px 0;
}
.main-territory__land-type i {
  background-color: #c2a779;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .main-territory__land-type i {
    margin-right: 5.2083333333vw;
  }
}
.main-territory__land-type i.i--garrison {
  width: 19px;
  height: 30px;
  -webkit-mask-image: url(./svg/icon_garrison.svg);
          mask-image: url(./svg/icon_garrison.svg);
}
@media screen and (max-width: 768px) {
  .main-territory__land-type i.i--garrison {
    width: 4.9479166667vw;
    height: 7.8125vw;
  }
}
.main-territory__land-type i.i--fortress {
  width: 39px;
  height: 30px;
  -webkit-mask-image: url(./svg/icon_fortress.svg);
          mask-image: url(./svg/icon_fortress.svg);
}
@media screen and (max-width: 768px) {
  .main-territory__land-type i.i--fortress {
    height: 10.2864583333vw;
    height: 7.8125vw;
  }
}
.main-territory__land-type i.i--castle {
  width: 34px;
  height: 30px;
  -webkit-mask-image: url(./svg/icon_castle.svg);
          mask-image: url(./svg/icon_castle.svg);
}
@media screen and (max-width: 768px) {
  .main-territory__land-type i.i--castle {
    width: 9.1145833333vw;
    height: 7.8125vw;
  }
}
.main-territory__land-name {
  color: #c2a779;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .main-territory__land-name {
    font-size: 4.1666666667vw;
  }
}
.main-territory__land-guild__lv {
  min-width: 96px;
  height: 30px;
  color: #c7bfb3;
  font-size: 16px;
  border: 2px solid #504338;
  border-radius: 100vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .main-territory__land-guild__lv {
    min-width: 25vw;
    height: 7.8125vw;
    font-size: 4.1666666667vw;
    border-width: 0.2604166667vw;
    margin-bottom: 3.90625vw;
  }
}
.main-territory__land-guild__lv.npc {
  border: none;
}
.main-territory__land-guild__name {
  color: #8e5f3f;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main-territory__land-guild__name {
    font-size: 6.25vw;
  }
}
.main-territory__land-tax .land-tax-stack {
  font-size: 14px;
  color: #877f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-tax-stack {
    font-size: 3.6458333333vw;
  }
}
.main-territory__land-tax .land-tax-stack .i--money {
  width: 20px;
  height: 13px;
  margin-right: 10px;
  background-color: #877f7f;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-tax-stack .i--money {
    width: 5.2083333333vw;
    height: 3.3854166667vw;
    margin-right: 2.6041666667vw;
  }
}
.main-territory__land-tax .land-wealth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-territory__land-tax .land-wealth.type--diamond {
  margin-left: auto;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-wealth.type--diamond {
    margin-right: 2.34375vw;
  }
}
.main-territory__land-tax .land-wealth.type--diamond .land-wealth__icon {
  background-image: url(./images/img_wealth_diamond.png);
  background-position: 65% 50%;
  background-size: 65%;
}
.main-territory__land-tax .land-wealth.type--ruby .land-wealth__icon {
  background-image: url(./images/img_wealth_rudy.png);
  background-position: 55% 50%;
  background-size: 65%;
}
.main-territory__land-tax .land-wealth__icon {
  background-repeat: no-repeat;
  border: 1px solid #c2a779;
  border-radius: 100vmax;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  margin-right: 6px;
  position: relative;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-wealth__icon {
    width: 7.03125vw;
    height: 7.03125vw;
    margin-right: 1.3020833333vw;
    border-width: 0.1302083333vw;
  }
}
.main-territory__land-tax .land-wealth__icon:before {
  background-image: url(./images/img_wealth_mark.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 24px;
  left: -4px;
  position: absolute;
  top: -6px;
  width: 11px;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-wealth__icon:before {
    width: 2.9947916667vw;
    height: 5.2083333333vw;
    top: -0.78125vw;
    left: -1.0416666667vw;
  }
}
.main-territory__land-tax .land-wealth__value {
  font-size: 16px;
  color: #c2a779;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-wealth__value {
    font-size: 4.1666666667vw;
  }
}
.main-territory__land-tax .land-trade-tax {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #877f7f;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-trade-tax {
    font-size: 3.6458333333vw;
  }
}
.main-territory__land-tax .land-trade-tax .i--money {
  width: 20px;
  height: 13px;
  margin-right: 10px;
  background-color: #877f7f;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-trade-tax .i--money {
    width: 5.2083333333vw;
    height: 3.3854166667vw;
    margin-right: 2.6041666667vw;
  }
}
.main-territory__land-tax .land-trade-tax__value {
  color: #c2a779;
  font-size: 16px;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .main-territory__land-tax .land-trade-tax__value {
    font-size: 4.1666666667vw;
  }
}
.main-territory__content {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .main-territory__content {
    margin-bottom: 7.8125vw;
  }
}
.main-territory__content.-loading {
  height: 456px;
}
@media screen and (max-width: 768px) {
  .main-territory__content.-loading {
    height: 92.578125vw;
  }
}/*# sourceMappingURL=main-territory.css.map */