.fixed-box {
	position: absolute;
	top: calc(50% + 33px);
	left: calc(56px + 16px);
	min-width: 240px;
	display: none;
	@include media {
		top: unset;
		bottom: vw(80);
		left: 20%;
		min-width: 80%;
	}
	&__title {
		font-size: 16px;
		background-color: rgba(50, 62, 82, 0.85);
		color: #fff;
		padding: 6px;
		display: flex;
		@include media {
			font-size: vw(30);
			padding: vw(12);
		}
	}
	&__close {
		margin-left: auto;
	}
	&__content {
		background-color: rgba(244, 244, 244, 0.95);
		display: flex;
		flex-direction: column;
		padding: 6px;
		@include media {
			padding: vw(12);
		}
		.layer {
			&-label {
				display: flex;
				padding: 6px;
				cursor: pointer;
				border-bottom: 1px solid #999;
				font-size: 16px;
				@include media {
					padding: vw(12);
					font-size: vw(30);
				}
				&:last-child {
					border-bottom: 0;
				}
			}
			&-text {
				margin-left: 6px;
				@include media {
					margin-left: vw(12);
				}
			}
		}
	}
}
.layer-sliderBar {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
	padding: 0;
	margin: 0;
	display: flex;
	padding: 12px 6px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-size: 14px;
	@include media {
		padding: vw(16) vw(8);
		font-size: vw(26);
	}
	.sliderRange {
		flex: 1;
		margin: 0 6px;
		@include media {
			margin: 0 vw(8);
		}
	}
}
