.fixed-box {
	position: absolute;
	top: calc(50% + 33px);
	left: calc(56px + 16px);
	min-width: 240px;
	display: none;
	@include media {
		top: unset;
		bottom: vw(80);
		left: 50%;
		min-width: 80%;
	}
	&__title {
		font-size: 16px;
		background-color: rgba(50, 62, 82, 0.85);
		color: #fff;
		padding: 6px;
		display: flex;
		@include media {
			font-size: vw(30);
			padding: vw(12);
		}
	}
	&__close {
		margin-left: auto;
	}
	&__content {
		background-color: rgba(244, 244, 244, 0.95);
		display: flex;
		flex-direction: column;
		padding: 6px;
		@include media {
			padding: vw(12);
		}
		.layer {
			&-label {
				display: flex;
				padding: 6px;
				cursor: pointer;
				border-bottom: 1px solid #999;
				font-size: 16px;
				@include media {
					padding: vw(12);
					font-size: vw(30);
				}
				&:last-child {
					border-bottom: 0;
				}
			}
			&-text {
				margin-left: 6px;
				@include media {
					margin-left: vw(12);
				}
			}
		}
	}
}
