<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./css/default.css" />
		<script src="https://tw.hicdn.beanfun.com/plugins/gsap/3.11.5/gsap.min.js"></script>
		<!-- 開發用 -->
		<script src="https://tw.hicdn.beanfun.com/plugins/vue/3.4.19/vue.global.min.js"></script>
		<!-- 正式用 -->
		<!-- <script src="https://tw.hicdn.beanfun.com/plugins/vue/3.4.19/vue.global.prod.min.js"></script> -->
	</head>
	<body>
		<div id="app">
			<div id="plate--base">
				<div class="cursor -before-press" :class="[isPress?'-press':'',isHoverPointer?'-hover':'']">
					<span class="cursor__pointer" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px)">
						<span class="cursor__visual type--drag-text-2" v-if="!isHoverPointer"><span></span><span></span><span></span></span>
					</span>
				</div>
			</div>
			<div id="plate--page">
				<div class="page--records-territory">
					<div class="layout__wrap">
						<div class="page__nav">
							<div class="page__nav__dimmed"></div>
							<div class="page__nav__depth1"></div>
							<div class="page__nav__depth2">
								<div class="button--selector">
									<span class="_name">世界選擇</span>
									<div class="mask-text _value"><div>아우리엘</div></div>
									<div class="selector type--fly">
										<select>
											<option v-for="world in worlds" :value="world.value">{{world.name}}</option>
										</select>
										<div class="selector__box -open type--fly">
											<span class="selector__dimmed"></span>
											<div class="selector__transform" style="height: 360px">
												<span class="selector__close"><span>닫기</span></span>
												<div class="selector__content" style="max-height: 360px">
													<ul>
														<li class="-selected" v-for="world in worlds"><span>{{world.name}}</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button--selector">
									<span class="_name">領域選擇</span>
									<div class="mask-text _value"><div>아우리엘 01</div></div>
								</div>
							</div>
							<div class="page__nav__depth3"></div>
							<p class="_interval-notice">※ 據點佔領現況每小時更新一次。</p>
							<p class="_viewport-notice">※1920 解析為據點佔領現況最佳化解析度。</p>
						</div>
						<div class="page__content">
							<div class="territory-map">
								<svg class="territory-map__filter">
									<defs>
										<linearGradient id="gradient-hover-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(255,255,255,0.3)"></stop>
											<stop offset="110%" stop-color="rgba(255,238,204,1)"></stop>
										</linearGradient>
									</defs>
									<defs>
										<linearGradient id="gradient-select-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(255,255,255,0.3)"></stop>
											<stop offset="110%" stop-color="rgba(255,178,64,1)"></stop>
										</linearGradient>
									</defs>
									<defs>
										<linearGradient id="gradient-occupy-elf-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(31,26,18,0)"></stop>
											<stop offset="110%" stop-color="rgba(31,26,18,0.89)"></stop>
										</linearGradient>
									</defs>
								</svg>
								<div class="territory-map__canvas">
									<div class="map-area-1">
										<button v-for="(territory,index) in territoryFilter" class="_land" :class="[territory.ui.isOccupyElf?'-occupy-elf':'',r.activeIndex == index?'-select':'']" :style="`left:${territory.ui.coords[0]}%;top:${territory.ui.coords[1]}%;`" @click="landClick(territory.territory_id,index)">
											<span class="_land-effect"><span></span><span></span><span></span></span><span class="_land-badge" :class="`type--${territory.ui.gradeType}`"></span>
											<div class="_land-more">
												<p class="_land-name">{{territory.ui.name}}</p>
												<div class="_land-guild-name">
													<div v-if="territory.guild_id == null" class="spinner--progress-dots" style="--0dba516f: #fff"><span></span><span></span><span></span></div>
													<p>{{territory.guild_id === null ?'엘프 군단 점령중':territory.guild_name}}</p>
													<span class="_land-plus"><span></span><span></span><i class="i--plus"></i></span>
												</div>
											</div>
										</button>
									</div>
									<div class="map-area-2">
										<div class="_border" :class="[territory.ui.isOccupyElf?'-occupy-elf':'',r.activeIndex == index?'-select':'']" v-for="(territory,index) in territoryFilter" :style="`left:${territory.ui.coords[0]}%;top:${territory.ui.coords[1]}%;`">
											<svg xmlns="http://www.w3.org/2000/svg" :width="territory.ui.size[0]" :height="territory.ui.size[1]" :viewBox="`0 0 ${territory.ui.size[0]} ${territory.ui.size[1]}`" style="transform: scale(1)"><path fill-rule="evenodd" clip-rule="evenodd" :d="territory.ui.d"></path></svg>
										</div>
									</div>
									<canvas class="map-canvas" width="1912" height="238"></canvas>
								</div>
								<div class="map-detail" :class="[detailActive?'-active':'',territoryFilter[r.activeIndex]?.guild_id == null?'-occupy-elf':'']">
									<button class="map-detail__close" @click="detailBoxClose">
										<i class="i--xmark-2"></i>
										<span></span>
									</button>
									<div class="map-detail__box" v-if="r.activeIndex !== -1">
										<div class="_guild-info" v-if="territoryFilter[r.activeIndex]?.guild_id !== null">
											<div class="_guild-title">
												<span class="_name">
													<i class="i--guildmark"></i>
													旅團名稱
												</span>
												<span class="_guild-name">{{territoryFilter[r.activeIndex]?.guild_name}}</span>
											</div>
											<div class="_guild-master">
												<span class="_name"> <i class="i--crown"></i>會長名稱</span>{{territoryFilter[r.activeIndex]?.guild_master_gc_name}}
											</div>
											<div class="_guild-member">
												<span class="_name"><i class="i--member"></i>旅團成員</span>{{territoryFilter[r.activeIndex]?.guild_member_count}}<strong>/{{territoryFilter[r.activeIndex]?.max_guild_member_count}}</strong>
											</div>
										</div>
										<div class="_guild-description" v-if="territoryFilter[r.activeIndex]?.guild_id !== null">{{territoryFilter[r.activeIndex]?.guild_description}}</div>
										<div class="spinner--progress-dots" style="--0dba516f: rgba(200, 200, 200, 1)" v-if="territoryFilter[r.activeIndex].guild_id === null">
											<span></span>
											<span></span>
											<span></span>
										</div>
										<p class="_elf-title" v-if="territoryFilter[r.activeIndex].guild_id === null">佔領精靈軍隊</p>
										<ul class="_land-info">
											<li class="_land-total-tax">
												<span class="_title"><i class="i--money"></i>累計稅率</span><span class="dot-line"></span>
												<div class="_land-wealth type--diamond -guild">
													<span class="_land-wealth__icon"></span>
													<div class="_value">{{territoryFilter[r.activeIndex]?.tax_dia}}</div>
												</div>
												<div class="_land-wealth type--rudy -guild">
													<span class="_land-wealth__icon"></span>
													<div class="_value">{{territoryFilter[r.activeIndex]?.tax_ruby}}</div>
												</div>
											</li>
											<hr />
											<li class="_land-shop-tax">
												<span class="_title"><i class="i--money-percent"></i>一般商店稅率</span><span class="dot-line"></span>
												<div class="_value">{{territoryFilter[r.activeIndex]?.shop_tax_rate}}%</div>
											</li>
											<li class="_land-craft-tax">
												<span class="_title"><i class="i--money-percent"></i>鐵匠稅率</span><span class="dot-line"></span>
												<div class="_value">{{territoryFilter[r.activeIndex]?.craft_tax_rate}}%</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="territory-map__scale">
									<button class="_scale-up"><i class="i--plus"></i><span>放大</span></button><button class="_scale-down"><i class="i--minus"></i><span>맵 축소</span></button>
								</div>
							</div>
							<div class="sort--garrison territory-table">
								<div class="territory-table__focus type--garrison">
									<div class="_wrap">
										<div class="_header">
											<span></span>
											<h3 class="_name">축제수림 주둔지</h3>
											<button class="_refresh"><i class="i--refresh"></i><span>새로고침</span></button>
										</div>
										<div class="_content">
											<div class="_guild">
												<span class="_guild-level">Lv.21</span>
												<p class="_guild-name">KlN</p>
											</div>
											<ul class="_taxs">
												<li class="_info-item _tax-stack">
													<div class="_info-name"><i class="i--money"></i> 누적 세금</div>
													<span class="dot-line"></span>
													<div class="_info-wealth type--diamond">
														<span class="_info-wealth__icon"></span>
														<div class="_info-value">0</div>
													</div>
													<div class="_info-wealth type--rudy">
														<span class="_info-wealth__icon"></span>
														<div class="_info-value">0</div>
													</div>
												</li>
												<!---->
												<li class="_info-item _shop-tax">
													<div class="_info-name"><i class="i--money-percent"></i> 잡화 상점 세율</div>
													<span class="dot-line"></span>
													<div class="_info-value">20%</div>
												</li>
												<li class="_craft-tax _info-item">
													<div class="_info-name"><i class="i--money-percent"></i> 대장간 세율</div>
													<span class="dot-line"></span>
													<div class="_info-value">30%</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<p class="_interval-notice">※ 거점 보유 현황은 1시간마다 갱신됩니다.</p>
								<div class="territory-table__list">
									<div class="territory-table__group"><span>거점</span><span>레벨 / 결사명 / 순위</span><span>결사장 / 결사원</span></div>
									<ul>
										<li class="territory-table__item type--garrison">
											<ul class="_wrap">
												<li class="_land-name">검은숲 주둔지</li>
												<li class="_guild-info-1">
													<span class="_guild-level">Lv. 17</span>
													<p class="_guild-name">DS</p>
													<p class="_guild-ranking">41위</p>
												</li>
												<li class="_guild-info-2">
													<span class="_guild-master">쟌느</span><span class="_guild-member">5 <strong>/37</strong></span>
												</li>
											</ul>
											<ul class="_taxs">
												<li class="_tax-stack _info-item">
													<span class="_info-name"><i class="i--money"></i>누적 세금 </span><span class="dot-line"></span>
													<div class="_info-wealth type--diamond">
														<span class="_info-wealth__icon"></span>
														<div class="_info-value">0</div>
													</div>
													<div class="_info-wealth type--rudy">
														<span class="_info-wealth__icon"></span>
														<div class="_info-value">0</div>
													</div>
												</li>
												<!---->
												<li class="_trade-tax _info-item">
													<span class="_info-name"><i class="i--money-percent"></i>잡화 상점 세율 </span><span class="dot-line"></span><span class="_info-value">20%</span>
												</li>
												<li class="_trade-tax _info-item">
													<span class="_info-name"><i class="i--money-percent"></i>대장간 세율 </span><span class="dot-line"></span><span class="_info-value">30%</span>
												</li>
											</ul>
											<p class="_guild-description">중립입니다. 직장인 터치 없어요. 편히 함께해요.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="module" src="./js/default.js"></script>
	</body>
</html>
