<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./assets/css/default.css" />
		<script src="https://tw.hicdn.beanfun.com/plugins/gsap/3.11.5/gsap.min.js"></script>
		<!-- 開發用 -->
		<script src="https://tw.hicdn.beanfun.com/plugins/vue/3.4.19/vue.global.min.js"></script>
		<!-- 正式用 -->
		<!-- <script src="https://tw.hicdn.beanfun.com/plugins/vue/3.4.19/vue.global.prod.min.js"></script> -->
	</head>
	<body>
		<div id="app">
			<div id="plate--base">
				<div class="cursor -before-press" :class="[isPress?'-press':'',isHoverPointer?'-hover':'']">
					<span class="cursor__pointer" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px)">
						<span class="cursor__visual type--drag-text-2" v-if="!isHoverPointer"><span></span><span></span><span></span></span>
					</span>
				</div>
			</div>
			<div id="plate--page">
				<div class="page--records-territory">
					<div class="layout__wrap">
						<div class="page__nav">
							<div class="page__nav__dimmed"></div>
							<!-- 頁面切換按鈕 -->
							<div class="page__nav-item page__nav__depth1">
								<div class="page__nav__depth1-item">戰榜RANK</div>
								<div class="page__nav__depth1-item">賽季戰況</div>
								<div class="page__nav__depth1-item current">據點現況</div>
							</div>
							<div class="page__nav-item page__nav__depth2">
								<div class="button--selector button--selector-world" @click="selectToggle('world',$event)">
									<span class="_name">世界選擇</span>
									<div class="mask-text _value"><div>{{worldSelectComputed?.name}}</div></div>
									<div class="selector type--fly">
										<select v-model="worldSelect">
											<option v-for="world in worlds" :value="world.W">{{world.name}}</option>
										</select>
										<div class="selector__box type--fly" :class="[worldSelectToggle?'-open':'']">
											<span class="selector__dimmed"></span>
											<div class="selector__transform" v-if="worldSelectToggle">
												<span class="selector__close"><span></span></span>
												<div class="selector__content" style="max-height: 360px">
													<ul>
														<li v-for="world in worlds" :class="[worldSelect === world.W?'-selected':'']" @click="selected('world',world.W)"><span>{{world.name}}</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button--selector button--selector-territory" @click="selectToggle('territory',$event)">
									<span class="_name">領域選擇</span>
									<div class="mask-text _value"><div>{{territorySelectComputed?.name}}</div></div>
									<div class="selector type--fly">
										<select v-model="worldSelect">
											<option v-for="territory in worldSelectComputed?.realms" :value="territory.R">{{territory.name}}</option>
										</select>
										<div class="selector__box type--fly" :class="[territorySelectToggle?'-open':'']">
											<span class="selector__dimmed"></span>
											<div class="selector__transform" v-if="territorySelectToggle">
												<span class="selector__close"><span></span></span>
												<div class="selector__content" style="max-height: 360px">
													<ul>
														<li v-for="territory in worldSelectComputed?.realms" :class="[territorySelect === territory.R?'-selected':'']" @click="selected('territory',territory.R)"><span>{{territory.name}}</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="page__nav-item page__nav__depth3">
								<div class="button--selector button--selector-world" @click="selectToggle('landType',$event)">
									<span class="_name"><i :class="`i--${landTypeSelect?.value}`"></i>{{landTypeSelect?.name}}</span>
									<div class="selector type--fly">
										<select v-model="landTypeSelect">
											<option v-for="l in landType" :value="l.value">{{l.name}}</option>
										</select>
										<div class="selector__box type--fly" :class="[landTypeSelectToggle?'-open':'']">
											<span class="selector__dimmed"></span>
											<div class="selector__transform" v-if="landTypeSelectToggle">
												<span class="selector__close"><span></span></span>
												<div class="selector__content" style="max-height: 360px">
													<ul>
														<li v-for="l in landType" :class="[landTypeSelect === l.value?'-selected':'']" @click="selected('landType',l)"><i :class="`i--${l?.value}`"></i><span>{{l.name}}</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="_interval-notice">※ 據點佔領現況每小時更新一次。</p>
							<p class="_viewport-notice">※1920 解析為據點佔領現況最佳化解析度。</p>
						</div>
						<div class="page__content">
							<div class="territory-map">
								<svg class="territory-map__filter">
									<defs>
										<linearGradient id="gradient-hover-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(255,255,255,0.3)"></stop>
											<stop offset="110%" stop-color="rgba(255,238,204,1)"></stop>
										</linearGradient>
									</defs>
									<defs>
										<linearGradient id="gradient-select-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(255,255,255,0.3)"></stop>
											<stop offset="110%" stop-color="rgba(255,178,64,1)"></stop>
										</linearGradient>
									</defs>
									<defs>
										<linearGradient id="gradient-occupy-elf-border" gradientTransform="rotate(90)">
											<stop offset="0%" stop-color="rgba(31,26,18,0)"></stop>
											<stop offset="110%" stop-color="rgba(31,26,18,0.89)"></stop>
										</linearGradient>
									</defs>
								</svg>
								<div class="territory-map__canvas">
									<div class="map-area-1">
										<button v-for="(territory,index) in territoryFilter" class="_land" :class="[territory.ui.isOccupyElf?'-occupy-elf':'',r.activeIndex == index?'-select':'']" :style="`left:${territory.ui.coords[0]}%;top:${territory.ui.coords[1]}%;`" @click="landClick(territory.territory_id,index)">
											<span class="_land-effect"><span></span><span></span><span></span></span><span class="_land-badge" :class="`type--${territory.ui.gradeType}`"></span>
											<div class="_land-more">
												<p class="_land-name">{{territory.ui.name}}</p>
												<div class="_land-guild-name">
													<div v-if="territory.guild_id == null" class="spinner--progress-dots" style="--0dba516f: #fff"><span></span><span></span><span></span></div>
													<p>{{territory.guild_id === null ?'엘프 군단 점령중':territory.guild_name}}</p>
													<span class="_land-plus"><span></span><span></span><i class="i--plus"></i></span>
												</div>
											</div>
										</button>
									</div>
									<div class="map-area-2">
										<div class="_border" :class="[territory.ui.isOccupyElf?'-occupy-elf':'',r.activeIndex == index?'-select':'']" v-for="(territory,index) in territoryFilter" :style="`left:${territory.ui.coords[0]}%;top:${territory.ui.coords[1]}%;`">
											<svg xmlns="http://www.w3.org/2000/svg" :width="territory.ui.size[0]" :height="territory.ui.size[1]" :viewBox="`0 0 ${territory.ui.size[0]} ${territory.ui.size[1]}`" style="transform: scale(1)"><path fill-rule="evenodd" clip-rule="evenodd" :d="territory.ui.d"></path></svg>
										</div>
									</div>
									<canvas class="map-canvas" width="1912" height="238"></canvas>
								</div>
								<div class="map-detail" :class="[detailActive?'-active':'',territoryFilter[r.activeIndex]?.guild_id == null?'-occupy-elf':'']">
									<button class="map-detail__close" @click="detailBoxClose">
										<i class="i--xmark-2"></i>
										<span></span>
									</button>
									<div class="map-detail__box" v-if="r.activeIndex !== -1">
										<div class="_guild-info" v-if="territoryFilter[r.activeIndex]?.guild_id !== null">
											<div class="_guild-title">
												<span class="_name">
													<i class="i--guildmark"></i>
													旅團名稱:
												</span>
												<span class="_guild-name">{{territoryFilter[r.activeIndex]?.guild_name}}</span>
											</div>
											<div class="_guild-master">
												<span class="_name"> <i class="i--crown"></i>會長名稱:</span><span class="_value">{{territoryFilter[r.activeIndex]?.guild_master_gc_name}}</span>
											</div>
											<div class="_guild-member">
												<span class="_name"><i class="i--member"></i>旅團成員:</span><span class="_value">{{territoryFilter[r.activeIndex]?.guild_member_count}}<strong>/{{territoryFilter[r.activeIndex]?.max_guild_member_count}}</strong></span>
											</div>
										</div>
										<div class="_guild-description" v-if="territoryFilter[r.activeIndex]?.guild_id !== null">{{territoryFilter[r.activeIndex]?.guild_description}}</div>
										<div class="spinner--progress-dots" style="--0dba516f: rgba(200, 200, 200, 1)" v-if="territoryFilter[r.activeIndex].guild_id === null">
											<span></span>
											<span></span>
											<span></span>
										</div>
										<p class="_elf-title" v-if="territoryFilter[r.activeIndex].guild_id === null">佔領精靈軍隊</p>
										<ul class="_land-info">
											<li class="_land-total-tax">
												<span class="_title"><i class="i--money"></i>累計稅率</span><span class="dot-line"></span>
												<div class="_land-wealth type--diamond -guild">
													<span class="_land-wealth__icon"></span>
													<div class="_value">{{territoryFilter[r.activeIndex]?.tax_dia}}</div>
												</div>
												<div class="_land-wealth type--rudy -guild">
													<span class="_land-wealth__icon"></span>
													<div class="_value">{{territoryFilter[r.activeIndex]?.tax_ruby}}</div>
												</div>
											</li>
											<hr />
											<li class="_land-shop-tax">
												<span class="_title"><i class="i--money-percent"></i>一般商店稅率</span><span class="dot-line"></span>
												<div class="_value">{{territoryFilter[r.activeIndex]?.shop_tax_rate}}%</div>
											</li>
											<li class="_land-craft-tax">
												<span class="_title"><i class="i--money-percent"></i>鐵匠稅率</span><span class="dot-line"></span>
												<div class="_value">{{territoryFilter[r.activeIndex]?.craft_tax_rate}}%</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="territory-map__scale">
									<button class="_scale-up"><i class="i--plus"></i><span>放大</span></button><button class="_scale-down"><i class="i--minus"></i><span>맵 축소</span></button>
								</div>
							</div>
							<div class="sort--garrison territory-table">
								<p class="territory-table__notice">※據點佔領現況每小時更新一次</p>
								<ul class="territory-table__list">
									<li class="territory-table__item type--garrison">
										<div class="land-box">
											<span class="land-info__badge"></span>
											<span class="land-info__name">紅淵駐紮地</span>
										</div>
										<div class="land-box">
											<span class="land-guild__mark"><i class="i--guildmark"></i></span>
											<span class="land-guild__name">台灣菁英團</span>
											<span class="land-guild__member">44/99</span>
										</div>
										<div class="land-box">
											<div class="land-guild">
												<div class="land-guild__master">
													<span>會長名稱</span>
													<span>台灣南波萬</span>
												</div>
												<div class="land-guild__description">
													<span>招募資訊</span>
													<span>愛戰的休揪一起</span>
												</div>
											</div>
										</div>
										<div class="land-box land-tax">
											<span class="land-tax-stack"> <i class="i--money"></i>累積稅金 </span>
											<div class="land-wealth type--diamond">
												<span class="land-wealth__icon"></span>
												<span class="land-wealth__value">0</span>
											</div>
											<div class="land-wealth type--ruby">
												<span class="land-wealth__icon"></span>
												<span class="land-wealth__value">0</span>
											</div>
										</div>
										<div class="land-box land-tax">
											<span class="land-trade-tax"> <i class="i--money"></i>一般商店稅率 </span>
											<span class="land-trade-tax__value">30%</span>
										</div>
										<div class="land-box land-tax">
											<span class="land-trade-tax"> <i class="i--money"></i>鐵匠稅率 </span>
											<span class="land-trade-tax__value">30%</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="module" src="./js/default.js"></script>
	</body>
</html>
