.aside {
	position: relative;
	margin-right: 30px;
	&-power {
		&-group {
			position: relative;
			margin-bottom: 26px;
		}
		&-box {
			position: relative;
			width: 320px;
			height: 136px;
			margin-bottom: 16px;
			padding: 24px 28px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: "";
				width: 82px;
				height: 145px;
				background-image: url("../img/left.png");
				background-size: cover;
				position: absolute;
				top: 50%;
				left: -9px;
				transform: translateY(-50%);
			}
			&:after {
				content: "";
				width: 74px;
				height: 138px;
				background-image: url("../img/right.png");
				background-size: cover;
				position: absolute;
				top: 50%;
				right: -9px;
				transform: translateY(-50%);
			}
		}
	}
	&-esd {
		&-group {
			width: 320px;
			height: 350px;
			position: relative;
			margin-bottom: 22px;
			&:before {
				content: "";
				width: 322px;
				height: 352px;
				background-size: cover;
				background-image: url("../img/border.png");
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	&-rmp {
		&-group {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 15px;
			gap: 5px;
			width: 320px;
			height: 168px;
			border: 1px solid #4f4f4f;
			border-radius: 6px;
		}
	}
}
