.gauge {
	&__card {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		&-left {
			margin-right: 15px;
			@include media {
				margin-right: vw(15);
			}
		}
		&-right {
			display: flex;
			flex-direction: column;
			span {
				&:first-child {
					width: 222px;
					font-family: "Abel";
					color: #fff;
					font-size: 22px;
					@include media {
						width: vw(222);
						font-size: vw(22);
					}
				}
				&:last-child {
					font-family: "Roboto";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					color: #bdbdbd;
					@include media {
						font-size: vw(16);
					}
				}
			}
		}
	}
	&-inner {
		width: 136px;
		height: 70px;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		@include media {
			width: vw(136);
			height: vw(70);
			margin-bottom: vw(20);
		}
		.inner {
			width: 136px;
			height: 70px;
			display: block;
			background-color: #444444;
			border-radius: 136px 136px 0 0;
			z-index: 1;
			@include media {
				width: vw(136);
				height: vw(70);
				border-radius: vw(136) vw(136) 0 0;
			}
		}
		.inner:after {
			content: "";
			width: 58px;
			height: 58px;
			top: 40px;
			left: 50%;
			background-color: #262835;
			border-radius: 136px 136px 0 0;
			position: absolute;
			transform: translateX(-50%);
			z-index: 3;
			@include media {
				width: vw(58);
				height: vw(58);
				top: vw(40);
				border-radius: vw(136) vw(136) 0 0;
			}
		}
	}
	&-box {
		width: 136px;
		height: 146px;
		position: relative;
		text-align: center;
		@include media {
			width: vw(136);
			height: vw(146);
		}
		&:before {
			content: attr(data-min);
			position: absolute;
			left: 0;
			top: 72px;
			font-family: "Roboto";
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			color: #828282;
			@include media {
				top: vw(72);
				font-size: vw(13);
			}
		}
		&:after {
			content: attr(data-max);
			position: absolute;
			right: 0;
			top: 72px;
			font-family: "Roboto";
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			color: #828282;
			@include media {
				top: vw(72);
				font-size: vw(13);
			}
		}
		.spinner {
			width: 136px;
			height: 70px;
			background-image: linear-gradient(to right, #f6f688, #d3f79e);
			position: absolute;
			z-index: 2;
			transform-origin: top center;
			transform: rotate(0deg);
			transition: transform 2s linear;
			transform: translateZ(0);
			border-radius: 0 0 136px 136px;
			@include media {
				width: vw(136);
				height: vw(70);
				border-radius: 0 0 vw(136) vw(136);
			}
		}

		.pointer {
			display: block;
			width: 4px;
			height: 77px;
			background-color: #e0e0e0;
			border-radius: 4px 4px 0 0;
			position: absolute;
			z-index: 4;
			bottom: 76px;
			left: 50%;
			margin-left: -2px;
			transform: rotate(-90deg);
			transform-origin: center bottom;
			transition: transform 2s linear;
			@include media {
				width: vw(4);
				height: vw(77);
				border-radius: vw(4) vw(4) 0 0;
				bottom: vw(76);
				margin-left: vw(-2);
			}
		}

		.pointer-knob {
			width: 10px;
			height: 10px;
			background-color: #e0e0e0;
			position: absolute;
			left: 50%;
			bottom: -5 + 76px;
			z-index: 5;
			border-radius: 50%;
			transform: translateX(-50%);
			@include media {
				width: vw(10);
				height: vw(10);
				bottom: vw(calc(-5 + 76));
			}
		}
	}
	&-num {
		color: #6fcf97;
		font-family: "Abel";
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		@include media {
			font-size: vw(50);
		}
	}
}
