.line-bar {
	--width: 378;
	position: relative;
	width: calc(var(--width) * 1px);
	height: 12px;
	background-color: #474b64;
	border-radius: 100vmax;
	overflow: hidden;
}
.line-bar span {
	--width: 0;
	--color1: #ff0844;
	--color2: #ffb199;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
	width: calc(var(--width) * 1%);
	height: 100%;
	border-radius: 0 12px 12px 0;
}

.line-card {
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 5px;
		height: 100%;
	}
	&__top {
		width: 100%;
		display: flex;
		align-items: center;
		&__num {
			font-weight: 700;
			font-size: 50px;
			color: #f2f2f2;
		}
		&__text {
			display: flex;
			margin-left: auto;
			span {
				display: inline-block;
				&:first-child {
					font-family: "Antonio";
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					color: #f2994a;
					margin-right: 4px;
				}
				&:last-child {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 4px 8px;
					width: 37px;
					height: 29px;
					border: 1px solid #f2994a;
					border-radius: 6px;
					color: #f2994a;
				}
			}
		}
	}
	&__body {
		margin-bottom: 29px;
		position: relative;
		&:before {
			content: attr(data-min);
			position: absolute;
			top: 14px;
			left: 0;
			font-family: "Antonio";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			color: #bdbdbd;
		}
		&:after {
			content: attr(data-max);
			position: absolute;
			top: 14px;
			right: 0;
			font-family: "Antonio";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			color: #bdbdbd;
		}
	}
	&__bottom {
		span {
			color: #fff;
			display: block;
			&:first-child {
				font-size: 22px;
			}
			&:last-child {
				font-size: 16px;
			}
		}
	}
}
