.main {
	&-top {
		&-group {
			display: flex;
			margin-bottom: 37px;
		}
	}
	&-slide {
		&-box {
			width: 980px;
			height: 420px;
			position: relative;
			margin-right: 30px;
			&:before {
				content: "";
				width: 970px;
				height: 420px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: linear-gradient(180deg, rgba(105, 136, 123, 0.31) -2.77%, rgba(89, 102, 62, 0) 118.03%);
				filter: blur(6px);
			}
		}
	}
	&-waterball {
		&-box {
			width: 320px;
			height: 363px;
			position: relative;
			margin-right: 30px;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: linear-gradient(180deg, rgba(105, 136, 123, 0.31) -2.77%, rgba(89, 102, 62, 0) 118.03%);
				filter: blur(6px);
			}
		}
	}
	&-speedomester {
		&-group {
			position: relative;
			margin-bottom: 82px;
			display: flex;
		}
		&-box {
			position: relative;
			padding: 12px;
			width: 416px;
			height: 162px;
			border: 2px solid #4f4f4f;
			border-radius: 5px;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-doughnut {
		&-group {
			position: relative;
			margin-bottom: 67px;
		}
		&-box {
			position: relative;
			width: 410px;
			height: 135px;
			margin-right: 35px;
			border: 1px solid #fff;
			&:last-child {
				margin-right: 0;
			}
		}
		&-single {
			display: flex;
			margin-bottom: 85px;
		}
		&-double {
			display: flex;
		}
	}
	&-statistics {
		&-group {
			position: relative;
			display: flex;
		}
		&-box {
			position: relative;
			padding: 15px;
			gap: 5px;
			width: 410px;
			height: 234px;
			border: 2px solid #4f4f4f;
			border-radius: 5px;
			margin-right: 27px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
