.speedometer {
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;

		&-left {
			margin-right: 12px;
		}
		&-right {
			display: flex;
			flex-direction: column;
			span {
				&:nth-child(1) {
					font-family: "Cambay";
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					color: #ffffff;
					line-height: 1;
				}
				&:nth-child(2) {
					font-family: "Roboto";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					color: #868686;
					margin-bottom: 8px;
				}
				&:nth-child(3) {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 5px 0px;
					width: 200px;
					height: 43px;
					background: #27ae60;
					border-radius: 4px;
					font-family: "Abel";
					font-style: normal;
					font-weight: 400;
					font-size: 26px;
					color: #fff;
				}
			}
		}
	}
	&-wrap {
		width: 168px;
		height: 146px;
		position: relative;
		background-size: cover;
		background-image: url("../img/speedometer.png");
		display: flex;
		justify-content: center;
		align-content: center;
	}
	&-container {
		width: 146px;
		height: 146px;
		position: relative;
	}
	.details {
		display: flex;
		position: absolute;
		top: 116px;
		left: 50%;
		transform: translate(-50%, 0);
		align-items: center;
	}
	.text {
		font-size: 12px;
		color: #fff;
		margin-right: 4px;
	}
	.speed {
		font-size: 12px;
		color: #fff;
		padding: 4px 8px;
		border: 1px solid #fff;
		border-radius: 4px;
	}
	.progress {
		width: 146px;
		height: 146px;
		position: absolute;
		top: 6px;
		left: 0;
		border-radius: 50%;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 4px;
			height: 50%;
			border-radius: 50%;
			background-color: #f1252e;
		}
	}
}
