.speedometer {
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;

		&-left {
			margin-right: 12px;
			@include media {
				margin-right: vw(12);
			}
		}
		&-right {
			display: flex;
			flex-direction: column;
			span {
				&:nth-child(1) {
					font-family: "Cambay";
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					color: #ffffff;
					line-height: 1;
					@include media {
						font-size: vw(24);
					}
				}
				&:nth-child(2) {
					font-family: "Roboto";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					color: #868686;
					margin-bottom: 8px;
					@include media {
						font-size: vw(16);
						margin-bottom: vw(8);
					}
				}
				&:nth-child(3) {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 5px 0px;
					width: 200px;
					height: 43px;
					background: #27ae60;
					border-radius: 4px;
					font-family: "Abel";
					font-style: normal;
					font-weight: 400;
					font-size: 26px;
					color: #fff;
					@include media {
						padding: vw(5) 0;
						width: vw(200);
						height: vw(43);
						border-radius: vw(4);
						font-size: vw(26);
					}
				}
			}
		}
	}
	&-wrap {
		width: 168px;
		height: 146px;
		position: relative;
		background-size: cover;
		background-image: url("../img/speedometer.png");
		display: flex;
		justify-content: center;
		align-content: center;
		@include media {
			width: vw(168);
			height: vw(146);
		}
	}
	&-container {
		width: 146px;
		height: 146px;
		position: relative;
		@include media {
			width: vw(146);
			height: vw(146);
		}
	}
	.details {
		display: flex;
		position: absolute;
		top: 116px;
		left: 50%;
		transform: translate(-50%, 0);
		align-items: center;
		@include media {
			top: vw(116);
		}
	}
	.text {
		font-size: 12px;
		color: #fff;
		margin-right: 4px;
		@include media {
			font-size: vw(12);
			margin-right: vw(4);
		}
	}
	.speed {
		font-size: 12px;
		color: #fff;
		padding: 4px 8px;
		border: 1px solid #fff;
		border-radius: 4px;
		@include media {
			font-size: vw(12);
			padding: vw(4) vw(8);
			border-radius: vw(4);
		}
	}
	.progress {
		width: 146px;
		height: 146px;
		position: absolute;
		top: 6px;
		left: 0;
		border-radius: 50%;
		@include media {
			width: vw(146);
			height: vw(146);
			top: vw(6);
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 4px;
			height: 50%;
			border-radius: 50%;
			background-color: #f1252e;
			@include media {
				width: vw(4);
			}
		}
	}
}
