.temperature {
	&__card {
		display: flex;
		justify-content: center;
		&-text {
			&--1 {
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				span {
					&:first-child {
						font-family: "Antonio";
						font-style: normal;
						font-weight: 400;
						font-size: 20px;
						color: #f2c94c;
						margin-right: 8px;
					}
					&:last-child {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						padding: 4px 8px;
						width: 51px;
						height: 29px;
						border: 1px solid #f2c94c;
						border-radius: 6px;
						color: #f2c94c;
					}
				}
			}
			&--2 {
				font-family: "Abel";
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				color: #ffffff;
				margin-bottom: 14px;
			}
			&--3 {
				display: flex;
				align-items: flex-end;
				font-family: "Arimo", sans-serif;
				font-weight: 700;
				font-size: 55px;
				color: var(--text);
			}
		}
		&-left {
			--width: 240;
			--text: #fff;
			padding: 10px;
			width: calc(var(--width) * 1px);
			margin-right: 25px;
		}
		&-right {
			--color1: #ff0844;
			--color2: #ffb199;
		}
	}
	&-wrap {
		width: 42px;
		background: #38383f;
		height: 160px;
		position: relative;
		border: 6px solid #bdbdbd;
		border-radius: 100vmax;
		z-index: 1;
		margin-bottom: 50px;
		box-sizing: border-box;
		&:before,
		&:after {
			position: absolute;
			content: "";
			border-radius: 50%;
		}
		&:before {
			transform: translateX(-50%);
			width: 30px;
			height: 100%;
			background-color: #343b41;
			bottom: 0;
			left: 50%;
			border-radius: 100vmax;
		}
		&:after {
			transform: translateX(-50%);
			width: 72px;
			height: 72px;
			background-color: #343b41;
			bottom: -52px;
			border: 6px solid #bdbdbd;
			z-index: -3;
			left: 50%;
			box-sizing: border-box;
		}
	}
	&-box {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 16px;
		height: 140px;
		border-radius: 20px 20px 0 0;
		overflow: hidden;
	}
	&-temperature {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
		width: 100%;
		background-size: 100% 240px;
		transition: all 0.2s ease-in-out;
	}
	&-graduations {
		width: 42px;
		height: 42px;
		position: absolute;
		bottom: -38px;
		left: 50%;
		transform: translateX(-50%);
		background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
		border-radius: 50%;
	}
	&-line {
		width: 12px;
		height: 5px;
		border-radius: 4px;
		background-color: #bdbdbd;
		position: absolute;
		bottom: 0;
		right: -16px;
		&:before {
			content: attr(data-num);
			font-family: "Antonio";
			font-style: normal;
			font-weight: 400;
			font-size: 10px;
			color: #e0e0e0;
			position: absolute;
			top: 50%;
			right: -44px;
			transform: translateY(-50%);
		}
		&[data-type="1"] {
			bottom: calc(100% / 7 * 1);
		}
		&[data-type="2"] {
			bottom: calc(100% / 7 * 2);
		}
		&[data-type="3"] {
			bottom: calc(100% / 7 * 3);
		}
		&[data-type="4"] {
			bottom: calc(100% / 7 * 4);
		}
		&[data-type="5"] {
			bottom: calc(100% / 7 * 5);
		}
		&[data-type="6"] {
			bottom: calc(100% / 7 * 6);
		}
	}
}
