$bg: #a5d6ed;
.title {
	width: 589px;
	height: 229px;
	background-image: url(./img/title.png);
	background-size: cover;
}
.cloud {
	&-left {
		&__1 {
			width: 610px;
			height: 272px;
			background-size: cover;
			background-image: url("./img/cloud-left-01.png");
		}
		&__2 {
			width: 403px;
			height: 308px;
			background-size: cover;
			background-image: url("./img/cloud-left-02.png");
		}
	}
	&-right {
		&__1 {
			width: 320px;
			height: 231px;
			background-size: cover;
			background-image: url("./img/cloud-right-01.png");
		}
		&__2 {
			width: 756px;
			height: 312px;
			background-size: cover;
			background-image: url("./img/cloud-right-02.png");
		}
	}
}
.menu {
	&-sprite {
		background-size: 200%;
		@include hover {
			background-position-x: 100%;
		}
	}
	&-join {
		width: 157px;
		height: 42px;
		background-image: url("./img/menu-join.png");
	}
	&-event-info {
		width: 203px;
		height: 42px;
		background-image: url("./img/menu-event-info.png");
	}
	&-focus {
		width: 246px;
		height: 42px;
		background-image: url("./img/menu-focus.png");
	}
	&-statistics {
		width: 157px;
		height: 42px;
		background-image: url("./img/menu-statistics.png");
	}
	&-winning {
		width: 157px;
		height: 42px;
		background-image: url("./img/menu-winning.png");
	}
}
.maple {
	width: 526px;
	height: 592px;
	background-size: 1100%;
	background-image: url("./img/maple.png");
}
.btn-close {
	width: 59px;
	height: 59px;
	background-size: 200%;
	background-image: url("./img/btn-close.png");
	@include hover {
		background-position-x: 100%;
	}
}
.btn {
	&-join {
		width: 218px;
		height: 146px;
		background-size: 900%;
		background-image: url("./img/btn-join.png");
	}
	&-event-info {
		width: 218px;
		height: 185px;
		background-size: cover;
		background-image: url("./img/btn-event-info.png");
	}
	&-statistics {
		width: 218px;
		height: 188px;
		background-size: cover;
		background-image: url(./img/btn-statistics.png);
	}
	&-winning {
		width: 218px;
		height: 199px;
		background-size: cover;
		background-image: url("./img/btn-winning.png");
	}
}
.top {
	&-btn {
		width: 54px;
		height: 54px;
		background-size: 200%;
		@include hover {
			background-position-x: 100%;
		}
	}
	&-home {
		background-image: url("./img/btn-home.png");
	}
	&-f_b {
		background-image: url("./img/btn-f_b.png");
	}
	&-yt {
		background-image: url("./img/btn-yt.png");
	}
	&-menu {
		&__close {
			background-image: url("./img/btn-menu-close.png");
		}
		&__open {
			background-image: url("./img/btn-menu-open.png");
		}
	}
}
