@charset "UTF-8";
/* 中文 */
@import "./mixins/_mixins";
// @import "./base/_layout";
@import "./base/_base";
// @import "./utils/_loading";
@import "./base/_normalize";
@import "./base/_init";
@import "./utils/_gbox";
@import "./pages/_index";
@import "./pages/_common";
@import "./pages/_sec1";
@import "./pages/_sec2";
@import "./pages/_sec3";
