:root {
	--bg-color: #1e1a38;
	--safe-area-left: 0;
	--safe-area-right: 0;
	--safe-area-top: 0;
	--safe-area-bottom: 0;
	--scroll-width: 5px;
	--scroll-height: 8px;
	--scroll-bar-color: #ddd;
	--scroll-bar-thumb: #000;
}
@supports (bottom: env(safe-area-inset-top)) {
	:root {
		--safe-area-left: env(safe-area-inset-left);
		--safe-area-right: env(safe-area-inset-right);
		--safe-area-top: env(safe-area-inset-top);
		--safe-area-bottom: env(safe-area-inset-bottom);
	}
}
#header {
	padding-top: calc(1em + var(--safe-area-top));
}
#footer {
	bottom: calc(1em + var(--safe-area-bottom));
}
.UNI-footer.dark {
	position: relative;
	z-index: 2;
}
html {
	// scroll-behavior: smooth;
	&.ovh {
		overflow: hidden;
	}
}
.h-1000 {
	height: 1000px;
}
body {
	background-color: var(--bg-color, #fff);
	position: relative;
	// min-width: 1200px;
	background-image: url("./images/bg.jpg");
	background-position: center 0;
	background-size: vw3(1920px) vw3(3440px);
	background-repeat: no-repeat;
	@include media {
		--bg-color: #1b1634;
		background-image: url("./images/m-bg.jpg");
		background-position: center 0;
		background-size: vw(768) vw(4202);
		min-width: 100%;
	}
}
.scroll-style {
	&::-webkit-scrollbar {
		width: var(--scroll-width, 5px);
		height: var(--scroll-height, 8px);
		background-color: var(--scroll-bar-color, #ddd);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--scroll-bar-thumb, #000);
	}
}

#app {
	width: 100%;
	position: relative;
	width: calc(var(--width) * 1px);
	overflow: hidden;
}
.sec {
	width: 100%;
	position: relative;
	&-wrap {
		width: vw3(1200px);
		height: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		@include media {
			width: 100%;
		}
	}
}
[v-cloak] {
	display: none;
}

.btn-step1 {
	font-size: 0;
	@include media {
		width: vw(273);
		height: vw(273);
		background-image: url("./images/btn-step1.png");
		background-size: cover;
	}
}
.btn-step2 {
	font-size: 0;
	@include media {
		width: vw(273);
		height: vw(273);
		background-image: url("./images/btn-step2.png");
		background-size: cover;
	}
}

.btn-more {
	width: vw3(327px);
	height: vw3(72px);
	background: url("./images/btn-more.png") -0 -0;
	background-size: 200%;
	font-size: 0;
	@include hover {
		background-position-x: 100%;
	}
	@include media {
		width: vw(327);
		height: vw(72);
	}
}
.btn-calender2 {
	width: vw3(184px);
	height: vw3(72px);
	background: url("./images/btn-calender2.png") -0 -0;
	font-size: 0;
	background-size: 200%;
	@include hover {
		background-position-x: 100%;
	}
	@include media {
		width: vw(184);
		height: vw(72);
	}
}
@keyframes flash {
	0%,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(300%);
	}
}
@keyframes moveLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-300%);
	}
}
@keyframes meteor1 {
	0% {
		top: 0;
		right: 0;
	}
	100% {
		top: vw3(720px);
		right: vw3(1920px);
	}
}

@keyframes meteor2 {
	0% {
		top: vw3(512px);
		right: 0;
	}
	100% {
		top: vw3(1220px);
		right: vw3(1920px);
	}
}
@keyframes meteor3 {
	0% {
		top: vw3(212px);
		right: 0;
	}
	100% {
		top: vw3(920px);
		right: vw3(1920px);
	}
}
@keyframes sec3title {
	from {
		background-position: 0px;
	}

	to {
		background-position: -1400%;
	}
}
@keyframes btnNormal {
	from {
		background-position: 0px;
	}

	to {
		background-position: -2300%;
	}
}
@keyframes character {
	from {
		background-position: 0px;
	}

	to {
		background-position: -2500%;
	}
}
