.menu {
	width: 314px;
	height: 100%;
	position: fixed;
	right: 0;
	z-index: 999;
	transition: right 0.5s;
	@include media {
		display: none;
	}
	&.hide {
		right: -314px;
	}
	.wrap {
		width: 100%;
		height: 100%;
		overflow: auto;
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		left: 0;
		top: 0;
		a {
			display: block;
		}
		.menu-title {
			width: 314px;
			height: 94px;
			background: url(./img/menu/menu-top.jpg) 50% 50% no-repeat;
			a {
				font-size: 0;
				&:nth-child(1) {
					width: 206px;
					height: 100%;
				}
				&:nth-child(2) {
					width: 108px;
					height: 100%;
				}
			}
		}
		.menu1-link-title {
			position: relative;
			width: 314px;
			height: 34px;
			background: url(./img/menu/menu1-title.png) 50% 50% no-repeat;
		}
		.menu1-link {
			height: 116px;
			border-left: 6px solid #005ed4;
			font-size: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position-x: 0;
			position: relative;
			&:after {
				content: "";
				width: 0;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transition: width 0.3s ease-in-out;
				background-size: cover;
				background-repeat: no-repeat;
				background-position-x: -308px;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
			&.on {
				&:after {
					width: 100%;
				}
			}
		}
		.menu1-link1 {
			background-image: url(./img/menu/menu1-link1.png);
			&:after {
				background-image: url(./img/menu/menu1-link1.png);
			}
		}
		.menu1-link2 {
			background-image: url(./img/menu/menu1-link2.png);
			&:after {
				background-image: url(./img/menu/menu1-link2.png);
			}
		}
		.menu1-link3 {
			background-image: url(./img/menu/menu1-link3.png);
			&:after {
				background-image: url(./img/menu/menu1-link3.png);
			}
		}
		.menu1-text {
			height: 96px;
			background-color: #000;
			font-size: 0;
			background-position: 0 0;
			background-repeat: no-repeat;
			position: relative;
			&:before,
			&:after {
				content: "";
				width: var(--width);
				height: var(--height);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.3s;
			}
			&:before {
				opacity: 1;
			}
			&:after {
				z-index: 1;
				opacity: 0;
			}
			@include hover {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
		.menu1-text1 {
			&:before,
			&:after {
				--width: 174px;
				--height: 17px;
				background-image: url("./img/menu/text1.png");
			}
			&:after {
				background-position-x: 174 * -1px;
			}
		}
		.menu1-text2 {
			&:before,
			&:after {
				--width: 188px;
				--height: 17px;
				background-image: url("./img/menu/text2.png");
			}
			&:after {
				background-position-x: 188 * -1px;
			}
		}
		.menu1-text3 {
			&:before,
			&:after {
				--width: 94px;
				--height: 17px;
				background-image: url("./img/menu/text3.png");
			}
			&:after {
				background-position-x: 94 * -1px;
			}
		}
		.menu3-link {
			height: 95px;
			line-height: 95px;
			font-size: 16px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px solid #3c3c3c;
			&.disabled {
				color: #565656;
				cursor: default;
			}
			&:hover {
				background: rgba(0, 0, 0, 0.5);
			}
			&.disabled:hover {
				background: none;
			}
		}
	}
	.toggle {
		width: 35px;
		height: 70px;
		background: url(./img/menu/menu-toggle.png) 50% 100% no-repeat;
		position: absolute;
		left: -35px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		&.closed {
			background-position: 50% 0%;
		}
	}
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background: rgba(135, 135, 135, 0.75);
}
.mCSB_inside > .mCSB_container {
	margin: 0;
}
.mCSB_scrollTools {
	width: 6px;
}
