.sec3 {
	&-con {
		width: 100%;
		height: 1080px;
		// background-size: cover;
		// background-image: url("./img/sec3-bg.jpg");
		// background-position: center center;
		@include media {
			background-image: url("./img/m/sec3-bg.jpg");
			background-size: cover;
			background-position: center center;
			height: vh(2667);
		}
		.btn-scroll {
			display: none;
			@include media {
				display: block;
			}
		}
		.sec-logo {
			display: none;
			@include media {
				display: block;
				width: vh(137);
				height: vh(112);
				background-image: url("./img/m/logo.png");
				display: block;
				position: absolute;
				top: vh(68);
				left: 50%;
				margin-left: 0;
				transform: translateX(-50%);
			}
		}
		.sec-desc {
			display: none;
			@include media {
				display: block;
				position: absolute;
				top: 0;
				left: vh(36);
				width: vh(158);
				height: vh(182);
				background-size: cover;
				background-image: url("./img/m/sec-deco.png");
			}
		}
	}
	&-btn {
		width: 292px;
		height: 116px;
		background-size: 200%;
		@include hover {
			background-position-x: 100%;
		}
		@include media {
			width: vh(566);
			height: vw(255);
			background-size: cover;
		}
		&-group {
			position: absolute;
			top: 0;
			left: 50%;
			top: 753px;
			transform: translateX(-50%);
			@include media {
				top: vh(1500);
			}
		}
	}
	&-btn1 {
		background-image: url("./img/sec3-btn1.png");
		@include media {
			background-image: url("./img/m/sec3-btn1.png");
			margin-bottom: vh(80);
		}
	}
	&-btn2 {
		background-image: url("./img/sec3-btn2.png");
		@include media {
			background-image: url("./img/m/sec3-btn2.png");
			margin-bottom: vh(80);
		}
	}
	&-btn3 {
		background-image: url("./img/sec3-btn3.png");
		@include media {
			background-image: url("./img/m/sec3-btn3.png");
		}
	}
	&-title {
		width: 431px;
		height: 147px;
		background-size: cover;
		background-image: url("./img/sec3-title.png");
		position: absolute;
		top: 178px;
		left: 50%;
		margin-left: calc(-431px / 2);
		@include media {
			width: vh(535);
			height: vh(184);
			background-image: url("./img/m/sec3-title.png");
			margin-left: 0;
			top: vh(280);
			transform: translateX(-50%);
		}
	}
	&-content {
		width: 781px;
		height: 574px;
		background-size: cover;
		background-image: url("./img/sec3-content.png");
		position: absolute;
		top: 256px;
		left: 50%;
		margin-left: -459.5px;
		@include media {
			width: vh(606);
			height: vh(990);
			background-image: url("./img/m/sec3-content.png");
			top: vh(524);
			left: 0;
			margin-left: 0;
		}
	}
	&-title {
		margin-top: 100%;
		@include media {
			margin-top: 0;
		}
	}
	&-info {
		opacity: 0;
		@include media {
			opacity: 1;
		}
	}
}
