.sec2 {
	// height: 1080px;
	overflow: hidden;
	@include media {
		height: vw(1334);
	}
	&-title {
		width: vw3(453px);
		height: vw3(177px);
		background-size: cover;
		background-image: url("./images/sec2-title.png");
		margin: 0px auto vw3(36px);
		position: relative;
		opacity: 1;
		// position: absolute;
		// top: 98px;
		// left: 50%;
		// transform: translateX(-50%);
		@include media {
			width: vw(453);
			height: vw(177);
			opacity: 1;
			// top: 0;
			// left: 0;
			// transform: none;
			position: relative;
			margin: vw(127) auto vw(36);
		}
		&:before {
			content: "";
			width: vw3(10px);
			height: vw3(10px);
			position: absolute;
			top: vw3(120px);
			left: vw3(137px);
			background-color: #92ffee;
			transform: rotate(45deg);
			// animation: flash 2s infinite;
			@include media {
				width: vw(10);
				height: vw(10);
				top: vw(120);
				left: vw(137);
			}
		}
		&:after {
			content: "";
			width: vw3(10px);
			height: vw3(10px);
			position: absolute;
			top: vw3(98px);
			left: vw3(316px);
			background-color: #92ffee;
			transform: rotate(45deg);
			// animation: flash 1.6s infinite;
			// animation-delay: 0.5s;
			@include media {
				width: vw(10);
				height: vw(10);
				top: vw(98);
				left: vw(316);
			}
		}
	}
	&-tab {
		display: none;
		@include media {
			display: flex;
			margin-bottom: vw(63);
			padding: 0 vw(24);
			justify-content: space-around;
			position: relative;
			z-index: 1;
		}
		&__title {
			@include media {
				width: vw(150);
				// height: vw(100);
				padding: vw(16) 0;
				font-size: vw(30);
				position: relative;
				color: #fff7af;
				letter-spacing: -1px;
				display: flex;
				justify-content: center;
				align-items: center;
				&.active {
					color: #8deae3;
					&:before {
						background-image: url("./images/sec2-title-top-on.png");
					}
					&:after {
						background-image: url("./images/sec2-title-bottom-on.png");
					}
				}
			}
			&:before {
				content: "";
				width: 100%;
				height: 1px;
				background-size: cover;
				background-image: url("./images/sec2-title-top-off.png");
				position: absolute;
				top: 0;
				left: 0;
			}
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background-size: cover;
				background-image: url("./images/sec2-title-bottom-off.png");
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	&-container {
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	&-wrap {
		position: relative;
		z-index: 1;
		transform: translateX(105%);
		@include media {
			width: 51vw;
			height: vw(664);
			margin: 0 auto;
			transform: translateX(0);
		}
	}
	&-swiper-wrap {
		@include media {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
		}
	}
	&-content {
		width: vw3(1200px);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		@include media {
			width: 100%;
			margin: 0 auto;
		}
	}
	&-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		transform-style: preserve-3d;
		&.active {
			.sec2-card__item-front {
				transform: rotateY(0deg);
			}
			@include hover {
				.sec2-card__item-front--img2 {
					clip-path: circle(100% at 50% 50%);
				}
			}
		}

		&[data-event="1"] {
			.sec2-card__item-front--img1 {
				background-image: url(./images/sec2/sec2-card-border.png), url(./images/sec2/sec2-card1.png);
			}
			.sec2-card__item-front--img2 {
				background-image: url(./images/sec2/sec2-card1.png);
			}
		}
		&[data-event="2"] {
			.sec2-card__item-front--img1 {
				background-image: url(./images/sec2/sec2-card-border.png), url(./images/sec2/sec2-card2.png);
			}
			.sec2-card__item-front--img2 {
				background-image: url(./images/sec2/sec2-card2.png);
			}
		}
		&[data-event="3"] {
			.sec2-card__item-front--img1 {
				background-image: url(./images/sec2/sec2-card-border.png), url(./images/sec2/sec2-card3.png);
			}
			.sec2-card__item-front--img2 {
				background-image: url(./images/sec2/sec2-card3.png);
			}
		}
		&[data-event="4"] {
			.sec2-card__item-front--img1 {
				background-image: url(./images/sec2/sec2-card-border.png), url(./images/sec2/sec2-card4.png);
			}
			.sec2-card__item-front--img2 {
				background-image: url(./images/sec2/sec2-card4.png);
			}
		}
		&__title {
			width: vw3(158px);
			padding: vw3(16px) 0;
			// height: vw3(100px);
			margin-bottom: vw3(12px);
			position: relative;
			font-size: vw3(30px);
			color: #fff7af;
			letter-spacing: -1px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotateY(180deg);
			@include media {
				display: none;
			}
			&:before {
				content: "";
				width: 100%;
				height: 1px;
				background-size: cover;
				background-image: url("./images/sec2-title-top-off.png");
				position: absolute;
				top: 0;
				left: 0;
			}
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background-size: cover;
				background-image: url("./images/sec2-title-bottom-off.png");
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		&__item {
			width: vw3(260px);
			height: vw3(438px);
			transform-style: preserve-3d;
			position: relative;
			cursor: pointer;
			@include hover {
				.sec2-card__item-front--img2 {
					clip-path: circle(100% at 50% 50%);
				}
			}
			@include media {
				width: 51vw;
				height: vw(664);
			}
			&-front {
				position: absolute;
				top: 0;
				left: 0;
				backface-visibility: hidden;
				transform: rotateY(180deg);
				width: 100%;
				height: 100%;
				@include media {
					transform: rotateY(0deg);
				}
				&--img1 {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-image: url("./images/sec2-card-hover.png");
					position: relative;
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: url(./images/sec2/sec2-card-border.png);
						background-size: cover;
						z-index: 2;
					}
					.blue {
						width: 100%;
						height: 100%;
						background-color: rgba(#92ffee, 0.7);
						position: relative;
						border-radius: vw3(30px);
						&:before {
							content: "";
							width: 100%;
							height: 100%;
							background-color: #92ffee;
							mix-blend-mode: color;
							border-radius: vw3(30px);
							position: absolute;
							top: 0;
							left: 0;
						}
						&:after {
							content: "";
							width: 100%;
							height: 100%;
							background-color: rgba(#211f2c, 0.4);
							border-radius: vw3(30px);
							position: absolute;
							top: 0;
							left: 0;
						}
					}
					@include media {
						display: none;
					}
				}
				&--img2 {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-image: url("./images/sec2-card-front.png");
					transition: clip-path 0.6s linear;
					clip-path: circle(0 at 50% 50%);
					will-change: clip-path;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					@include media {
						clip-path: circle(100% at 50% 50%);
					}
				}
			}
			&-back {
				position: absolute;
				top: 0;
				left: 0;
				backface-visibility: hidden;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-image: url("./images/sec2-card-back.png");
				z-index: -1;
			}
		}
	}
	.swiper-button-prev {
		display: none;
		@include media {
			display: block;
			width: vw(78);
			height: vw(121);
			background-image: url("./images/m-sec2-arrow-left.png");
			background-size: cover;
			font-size: 0;
			top: 50%;
			left: vw(-118);
			transform: translateY(-50%);
			z-index: 9;
			opacity: 1;
			&.swiper-button-disabled {
				opacity: 0.25;
			}
			&:after {
				content: none;
			}
		}
	}
	.swiper-button-next {
		display: none;
		@include media {
			display: block;
			width: vw(78);
			height: vw(121);
			background-image: url("./images/m-sec2-arrow-right.png");
			background-size: cover;
			font-size: 0;
			top: 50%;
			right: vw(-118);
			transform: translateY(-50%);
			z-index: 9;
			opacity: 1;
			&.swiper-button-disabled {
				opacity: 0.25;
			}
			&:after {
				content: none;
			}
		}
	}
}
