.sec1 {
	height: vw3(1080px);
	@include media {
		height: vw(1334);
	}
	&:before {
		content: "";
		width: vw3(1920px);
		height: vw3(1407px);
		background-image: url("./images/sec1-bg-deco.png");
		background-size: cover;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		@include media {
			content: none;
		}
	}
	&-bg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: vw3(1920px);
		height: vw3(1080px);
		// display: none;
		video {
			width: 100%;
			height: 100%;
		}
		@include media {
			display: none;
		}
	}
	&-cloud {
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		display: none;
		@include media {
			display: block;
		}
		&1 {
			@include media {
				width: vw(735);
				height: vw(254);
				top: vw(33);
				left: vw(-760);
				background-image: url("./images/sec1-cloud1.png");
				animation: moveRight 18s linear infinite;
			}
		}
		&2 {
			@include media {
				width: vw(497);
				height: vw(288);
				top: vw(-18);
				left: vw(-497);
				background-image: url("./images/sec1-cloud2.png");
				animation: moveRight 10s linear infinite;
			}
		}
		&4 {
			@include media {
				width: vw(911);
				height: vw(148);
				top: vw(319);
				left: vw(-903);
				background-image: url("./images/sec1-cloud4.png");
				animation: moveRight 16s linear infinite;
			}
		}
		&5 {
			@include media {
				width: vw(911);
				height: vw(148);
				top: vw(418);
				left: vw(-911);
				background-image: url("./images/sec1-cloud5.png");
				animation: moveRight 14s linear infinite;
				animation-delay: 6s;
			}
		}
	}
	&-left {
		width: vw3(353px);
		height: vw3(488px);
		background-size: cover;
		background-image: url("./images/sec1-reward-bg.png");
		position: absolute;
		top: vw3(305px);
		left: vw3(-16px);
		z-index: 3;
		display: flex;
		flex-direction: column;
		font-size: vw3(24px);
		padding-top: vw3(133px);
		padding-left: vw3(112px);
		padding-right: vw3(24px);
		// @include media2 {
		// 	display: none;
		// 	width: vw2(353);
		// 	height: vw2(488);
		// 	top: vw2(205px);
		// 	left: vw2(-16px);
		// 	font-size: vw2(24);
		// 	padding-top: vw2(133);
		// 	padding-left: vw2(112);
		// 	padding-right: vw2(24);
		// 	&.show {
		// 		display: block;
		// 	}
		// }
		@include media {
			width: vw(353);
			height: vw(449);
			background-image: url("./images/m-sec1-reward-bg.png");
			top: vw(536);
			left: vw(-6px);
			font-size: vw(24);
			padding-top: vw(132);
			padding-left: vw(112);
			padding-right: vw(24);
		}

		&:before {
			content: "";
			width: vw3(122px);
			height: vw3(52px);
			background-image: url("./images/sec1-box-desc-top.png");
			background-size: cover;
			position: absolute;
			top: vw3(-22px);
			left: 50%;
			transform: translateX(-50%);
			@include media2 {
				// width: vw2(122);
				// height: vw2(52);
				// top: vw2(-22);
			}
			@include media {
				content: none;
			}
		}
		&__link {
			color: #fdf5a6;
			text-decoration: none;
			margin-bottom: vw3(36px);
			position: relative;
			@include media2 {
				// margin-bottom: vw2(24);
			}
			@include media {
				margin-bottom: vw(32);
			}
			&:last-child {
				margin-bottom: 0;
			}
			&--icon1 {
				&:before {
					content: "";
					width: vw3(29px);
					height: vw3(30px);
					background-size: cover;
					background-image: url("./images/sec1-icon1.png");
					position: absolute;
					top: 50%;
					left: vw3(-63px);
					transform: translateY(-50%);
					@include media2 {
						// width: vw2(29);
						// height: vw2(30);
						// left: vw2(-63);
					}
					@include media {
						width: vw(29);
						height: vw(30);
						left: vw(-62);
					}
				}
			}
			&--icon2 {
				&:before {
					content: "";
					width: vw3(35px);
					height: vw3(29px);
					background-size: cover;
					background-image: url("./images/sec1-icon2.png");
					position: absolute;
					top: 50%;
					left: vw3(-63px);
					transform: translateY(-50%);
					@include media2 {
						// width: vw2(35);
						// height: vw2(29);
						// left: vw2(-63);
					}
					@include media {
						width: vw(35);
						height: vw(29);
						left: vw(-62);
					}
				}
			}
			&--icon3 {
				&:before {
					content: "";
					width: vw3(34px);
					height: vw3(28px);
					background-size: cover;
					background-image: url("./images/sec1-icon3.png");
					position: absolute;
					top: 50%;
					left: vw3(-63px);
					transform: translateY(-50%);
					@include media2 {
						// width: vw2(34);
						// height: vw2(28);
						// left: vw2(-63);
					}
					@include media {
						width: vw(34);
						height: vw(28);
						left: vw(-62);
					}
				}
			}
			&--icon4 {
				&:before {
					content: "";
					width: vw3(79px);
					height: vw3(24px);
					background-size: cover;
					background-image: url("./images/sec1-icon4.png");
					position: absolute;
					top: 50%;
					left: vw3(-84px);
					transform: translateY(-50%);
					@include media2 {
						// width: vw2(79);
						// height: vw2(24);
						// left: vw2(-84);
					}
					@include media {
						width: vw(79);
						height: vw(24);
						left: vw(-84);
					}
				}
			}
			&--icon5 {
				&:before {
					content: "";
					width: vw3(82px);
					height: vw3(62px);
					background-size: cover;
					background-image: url("./images/sec1-icon5.png");
					position: absolute;
					top: 50%;
					left: vw3(-84px);
					transform: translateY(-50%);
					@include media2 {
						// width: vw2(82);
						// height: vw2(62);
						// left: vw2(-84);
					}
					@include media {
						width: vw(82);
						height: vw(62);
						left: vw(-84);
					}
				}
			}
		}
	}
	&-title {
		width: vw3(426px);
		height: vw3(395px);
		background-size: cover;
		background-image: url("./images/sec1-title.png");
		position: absolute;
		top: vw3(138px);
		left: vw3(144px);
		@include media {
			width: vw(400);
			height: vw(371);
			top: vw(136);
			left: vw(18);
			z-index: 1;
		}
	}
	&-btn {
		&__link {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: vw3(273px);
			height: vw3(273px);
			border-radius: 100vmax;
			z-index: 3;
			@include media {
				width: vw(273);
				height: vw(273);
			}
			@include hover {
				& + .canvas1 {
					opacity: 0;
				}
				& + .canvas1 + .canvas2 {
					opacity: 1;
				}
				& + .sec1-btn--normal {
					opacity: 0;
				}
				& + .sec1-btn--normal + .sec1-btn--hover {
					opacity: 1;
				}
			}
		}
	}
	&-btn-group {
		@include media {
			position: absolute;
			top: vw(1013);
			display: flex;
			justify-content: center;
			width: 100%;
			gap: vw(32);
		}
	}
	&-btn {
		&--normal {
			width: 100%;
			height: 100%;
			background-size: 2300%;
			animation: btnNormal 2s steps(23) infinite;
			background-image: url("./images/btn-normal2.png");
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			@include media {
				display: none;
			}
		}
		&--hover {
			width: 100%;
			height: 100%;
			background-size: 2300%;
			animation: btnNormal 2s steps(23) infinite;
			background-image: url("./images/btn-hover2.png");
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			@include media {
				display: none;
			}
		}
	}
	&-btn__step1 {
		width: vw3(400);
		height: vw3(400);
		// background-size: vw3(400) vw3(400);
		// background-size: 2300%;
		background-position: center center;
		position: absolute;
		top: vw3(537px);
		left: 0;
		@include media {
			width: vw(273);
			height: vw(273);
			background-size: 100%;
			position: relative;
			top: 0;
			left: 0;
		}
		&:before {
			content: "";
			width: vw3(225px);
			height: vw3(163px);
			background-size: cover;
			background-image: url("./images/btn-step1-text.png");
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			@include media {
				content: none;
			}
		}
		&.loading {
			// background-image: url("./images/btn-normal/Normal_00000.png");
			// background-image: url("./images/btn-normal2.png");
			// animation: btnNormal 1.5s steps(23) infinite;
			@include media {
				background-image: url("./images/m-sec1-btn-step1.png");
			}
		}
		canvas {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			@include media {
				display: none;
			}
		}

		.canvas1 {
			opacity: 1;
		}
		.canvas2 {
			opacity: 0;
		}
	}
	&-btn__step2 {
		width: vw3(400px);
		height: vw3(400px);
		background-size: vw3(400px) vw3(400px);
		background-position: center center;
		background-image: url("./images/btn-normal/Normal_00000.png");
		position: absolute;
		top: vw3(537px);
		left: vw3(305px);
		@include media {
			width: vw(273);
			height: vw(273);
			background-size: 100%;
			position: relative;
			top: 0;
			left: 0;
		}
		&:before {
			content: "";
			width: vw3(225px);
			height: vw3(152px);
			background-size: cover;
			background-image: url("./images/btn-step2-text.png");
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			@include media {
				content: none;
			}
		}
		.sec1-btn__link {
			&:before {
				content: "";
				width: vw3(242px);
				height: vw3(311px);
				background-size: cover;
				background-image: url("./images/step2-pop.png");
				position: absolute;
				top: vw3(16px);
				left: vw3(290px);
				display: none;
				z-index: 2;
				@include media {
					display: none;
				}
			}
			@include hover {
				&:before {
					display: block;
				}
			}
		}
		&.loading {
			background-image: url("./images/btn-normal/Normal_00000.png");
			@include media {
				background-image: url("./images/m-sec1-btn-step2.png");
			}
		}
		canvas {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include media {
				display: none;
			}
		}
		.canvas1 {
			opacity: 1;
		}
		.canvas2 {
			opacity: 0;
		}
	}
	&-btn__step3 {
		width: vw3(400px);
		height: vw3(400px);
		background-size: vw3(400px) vw3(400px);
		background-position: center center;
		position: absolute;
		top: vw3(537px);
		left: vw3(188px);
		@include media {
			width: vw(273);
			height: vw(273);
			background-size: 100%;
			position: relative;
			top: 0;
			left: 0;
		}
		&:before {
			content: "";
			width: vw3(184px);
			height: vw3(52px);
			background-size: cover;
			background-image: url("./images/btn-step3-text.png");
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			@include media {
				content: none;
			}
		}
		canvas {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include media {
				display: none;
			}
		}

		.canvas1 {
			opacity: 1;
		}
		.canvas2 {
			opacity: 0;
		}
		&.loading {
			background-image: url("./images/btn-normal/Normal_00000.png");
			@include media {
				background-image: url("./images/m-sec1-btn-step3.png");
			}
		}
	}
	&-character {
		width: vw3(829px);
		height: vw3(829px);
		background-size: cover;
		position: absolute;
		top: vw3(98px);
		left: vw3(540px);
		@include hover {
			.sec1-character__canvas1 {
				opacity: 0;
			}
			.sec1-character__canvas2 {
				opacity: 1;
			}
			.sec1-character--normal {
				opacity: 0;
			}
			.sec1-character--hover {
				opacity: 1;
			}
		}
		&--normal {
			width: 100%;
			height: 100%;
			background-size: 2500%;
			animation: character 1.75s steps(25) infinite;
			background-image: url("./images/character-normal.png");
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			@include media {
				// display: none;
			}
		}
		&--hover {
			width: 100%;
			height: 100%;
			background-size: 2500%;
			animation: character 1.75s steps(25) infinite;
			background-image: url("./images/character-hover.png");
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			@include media {
				display: none;
			}
		}
		@include media {
			width: vw(829);
			height: vw(829);
			top: vw(165);
			left: vw(182);
		}
		&.loading {
			@include media {
				// background-image: url("./images/character-normal/Comp 1_00000.png");
			}
		}
		&__canvas1 {
			width: vw3(829);
			height: vw3(829);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: none;
			@include media {
				display: none;
			}
		}
		&__canvas2 {
			width: vw3(829);
			height: vw3(829);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			display: none;
			@include media {
				display: none;
			}
		}
	}
}
