.sec4 {
	&-con {
		width: 100%;
		height: 1080px;
		// background-size: cover;
		// background-image: url("./img/sec4-bg.png");
		// background-position: center center;
		@include media {
			height: vh(1305);
			background-size: cover;
			background-image: url("./img/m/sec4-bg.jpg");
			background-position: center center;
		}
		.btn-scroll {
			display: none;
		}
		.sec-logo {
			display: none;
			@include media {
				display: block;
				width: vh(137);
				height: vh(112);
				background-image: url("./img/m/logo.png");
				display: block;
				position: absolute;
				top: vh(68);
				left: 50%;
				margin-left: 0;
				transform: translateX(-50%);
			}
		}
		.sec-desc {
			display: none;
			@include media {
				display: block;
				position: absolute;
				top: 0;
				left: vh(36);
				width: vh(158);
				height: vh(182);
				background-size: cover;
				background-image: url("./img/m/sec-deco.png");
			}
		}
	}
	&-title {
		width: 322px;
		height: 214px;
		background-size: cover;
		background-image: url("./img/sec4-title.png");
		position: absolute;
		top: 249px;
		left: 50%;
		margin-left: -380px;
		@include media {
			display: none;
		}
	}
	&-tab1 {
		position: absolute;
		top: 500px;
		left: 50%;
		margin-left: -489px;
		&__title {
			width: 491px;
			height: 48px;
			background-image: url("./img/sec4-tab1.png");
			background-size: cover;
			margin: 0 auto 16px;
			@include media {
				display: none;
			}
		}
		&__btn {
			&-group {
				display: flex;
				@include media {
					flex-wrap: wrap;
					column-gap: vh(50);
					row-gap: vh(20);
					justify-content: center;
					position: absolute;
					top: vh(396);
				}
			}
		}
		&__btn {
			width: 65px;
			height: 65px;
			background-size: cover;
			position: relative;
			margin-right: 14px;
			@include media {
				width: vh(116);
				height: vh(116);
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				background-size: cover;
				background-image: url("./img/sec4-tab1-btn-mask.png");
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				@include media {
					background-image: none;
				}
			}
			@include hover {
				&:before {
					opacity: 1;
				}
			}
			&-1 {
				background-image: url("./img/sec4-tab1-btn1.png");
				@include media {
					background-image: none;
				}
			}
			&-2 {
				background-image: url("./img/sec4-tab1-btn2.png");
				@include media {
					background-image: none;
				}
			}
			&-3 {
				background-image: url("./img/sec4-tab1-btn3.png");
				@include media {
					background-image: none;
				}
			}
			&-4 {
				background-image: url("./img/sec4-tab1-btn4.png");
				@include media {
					background-image: none;
				}
			}
			&-5 {
				background-image: url("./img/sec4-tab1-btn5.png");
				@include media {
					background-image: none;
				}
			}
			&-6 {
				background-image: url("./img/sec4-tab1-btn6.png");
				@include media {
					background-image: none;
				}
			}
			&-7 {
				background-image: url("./img/sec4-tab1-btn7.png");
				@include media {
					background-image: none;
				}
			}
		}
	}
	&-tab2 {
		position: absolute;
		top: 663px;
		left: 50%;
		margin-left: -458px;
		&__title {
			width: 491px;
			height: 47px;
			background-image: url("./img/sec4-tab2.png");
			background-size: cover;
			margin: 30px auto 8px;
			@include media {
				display: none;
			}
		}
		&__btn {
			width: 471px;
			height: 63px;
			background-size: 200%;
			background-image: url("./img/sec4-tab2-btn.png");
			display: block;
			margin: 0 auto;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				background-image: none;
				width: vh(629);
				height: vh(82);
				top: vh(740);
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&-title {
		margin-top: 100%;
		@include media {
			margin-top: 0;
		}
	}
	&-info {
		opacity: 0;
		@include media {
			opacity: 1;
			width: vh(680);
			height: vh(821);
			background-size: cover;
			background-image: url("./img/m/sec4-content.png");
			top: vh(236);
			margin-left: 0;
			transform: translateX(-50%);
		}
	}
}
