.sec6 {
	&-con {
		width: 100%;
		height: 1080px;
		background-size: cover;
		@include media {
			background-image: url("./img/m/sec6-bg.jpg");
			height: vh(2188);
		}
		.btn-scroll {
			display: none;
		}
		.sec-logo {
			display: none;
			@include media {
				display: block;
				width: vh(137);
				height: vh(112);
				background-image: url("./img/m/logo.png");
				display: block;
				position: absolute;
				top: vh(68);
				left: 50%;
				margin-left: 0;
				transform: translateX(-50%);
			}
		}
		.sec-desc {
			display: none;
			@include media {
				display: block;
				position: absolute;
				top: 0;
				left: vh(36);
				width: vh(158);
				height: vh(182);
				background-size: cover;
				background-image: url("./img/m/sec-deco.png");
			}
		}
	}
	&-title {
		width: 400px;
		height: 179px;
		background-size: cover;
		background-image: url("./img/sec6-title.png");
		position: absolute;
		top: 181px;
		left: 50%;
		margin-left: calc(-400px / 2);
		@include media {
			width: vh(472);
			height: vh(196);
			background-image: url("./img/m/sec6-title.png");
			position: absolute;
			top: vh(128);
			margin-left: 0;
			transform: translateX(-50%);
		}
	}
	&-tab {
		position: absolute;
		top: 263px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		@include media {
			flex-direction: column;
			align-items: center;
			top: vh(200);
		}
	}
	&-tab1 {
		width: 456px;
		height: 633px;
		background-size: cover;
		background-image: url("./img/sec6-tab1.png");
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 24px;
		padding-top: 353px;
		@include media {
			width: vh(632);
			height: vh(879);
			margin-right: 0;
			background-image: url("./img/m/sec6-tab1.png");
			padding-top: vh(484);
			margin-right: 0;
		}
		&__btn1 {
			width: 299px;
			height: 57px;
			background-size: 200%;
			background-image: url("./img/sec6-tab1-btn1.png");
			margin-bottom: 3px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vh(415);
				height: vh(79);
				background-image: none;
				margin-bottom: vh(8);
			}
		}
		&__btn2 {
			width: 299px;
			height: 58px;
			background-size: 200%;
			background-image: url("./img/sec6-tab1-btn2.png");
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vh(415);
				height: vh(79);
				background-image: none;
				margin-bottom: vh(8);
			}
		}
	}
	&-tab2 {
		width: 456px;
		height: 633px;
		background-size: cover;
		background-image: url("./img/sec6-tab2.png");
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 353px;
		@include media {
			width: vh(632);
			height: vh(879);
			background-image: url("./img/m/sec6-tab2.png");
			padding-top: vh(484);
		}
		&__btn1 {
			width: 299px;
			height: 57px;
			background-size: 200%;
			background-image: url("./img/sec6-tab2-btn1.png");
			margin-bottom: 3px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vh(415);
				height: vh(79);
				background-image: none;
				margin-bottom: vh(8);
			}
		}
		&__btn2 {
			width: 299px;
			height: 58px;
			background-size: 200%;
			background-image: url("./img/sec6-tab2-btn2.png");
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vh(415);
				height: vh(79);
				background-image: none;
				margin-bottom: vh(8);
			}
		}
	}
	&-title {
		margin-top: 100%;
		@include media {
			margin-top: 0;
		}
	}
	&-info {
		opacity: 0;
		@include media {
			opacity: 1;
		}
	}
}
