body{
    font-family: "PingFangTC-Regular", arial, "微軟正黑體","sans-serif";
    line-height: 1.6;
}
.bfm-footer {
    padding: 14px 0;
    color: #fff;
    font-size: 21px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ghq-logo {
    width: 180px;
    height: 32px;
    background: url(https://tw.hicdn.beanfun.com/beanfun/beanfun/common_assets/gama-group/images/ghq-text2.png) 50% 1px no-repeat;
    background-size: contain;
}