@import "_getvw";

@mixin triangle($direction: top, $color: #000, $width: 100px, $side: 50px) {
	@if $direction == top {
		border-color: transparent transparent $color transparent;
		border-width: 0 $side $width $side;
	} @else if $direction == right {
		border-color: transparent $color transparent transparent;
		border-width: $side $width $side 0;
	} @else if $direction == bottom {
		border-color: $color transparent transparent transparent;
		border-width: $width $side 0 $side;
	} @else if $direction == left {
		border-color: transparent transparent transparent $color;
		border-width: $side 0 $side $width;
	}
	width: 0;
	height: 0;
	border-style: solid;
}

@mixin media($breakpoint: 769px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}
@mixin media2($width: 1300px) {
	@media screen and (max-width: 1300px) and (min-width: 769px) {
		@content;
	}
}
@mixin hover($breakpoint: 769px) {
	@media screen and (min-width: $breakpoint) {
		&:hover {
			@content;
		}
	}
}

@mixin bg($name) {
	background-image: url(../images/#{$name});
	background-size: cover;
	background-repeat: no-repeat;
}
