.territory-table {
	display: none;
	flex-direction: column;
	@media (max-width: 768px) {
		display: flex;
	}
	&__focus {
		color: #fff;
		filter: drop-shadow(0 7px 13px rgba(0, 0, 0, 0.4));
		padding: 20px 16px;
		&.type--garrison {
			._header {
				&:before {
					background-image: url(../images/img_landbadge_garrison.png);
				}
			}
		}
		&.type--fortress {
			._header {
				&:before {
					background-image: url(../images/img_landbadge_fortress.png);
				}
			}
		}
		&.type--castle {
			._header {
				&:before {
					background-image: url(../images/img_landbadge_castle.png);
				}
			}
		}
		._wrap {
			background-color: #ad7028;
			clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px);
			._taxs {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				grid-gap: 8px;
			}
		}
		._header {
			align-items: center;
			background-color: #9b6c36;
			display: flex;
			padding: 14px 20px;
			position: relative;
			&:before {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: inline-block;
				height: 28px;
				margin-right: 7px;
				width: 21px;
			}
			h3 {
				color: #fff;
				font-family: WarsOfPrasia, serif;
				font-size: 20px;
				text-shadow: 0 3px 2px #0000004d;
			}
			._refresh {
				align-items: center;
				display: inline-flex;
				margin-left: auto;
				i {
					background-color: #fffc;
					height: 16px;
					width: 18px;
				}
			}
		}
		._content {
			padding: 24px 20px 22px;
			._guild {
				align-items: center;
				column-gap: 5px;
				display: flex;
				justify-content: center;
				row-gap: 8px;
			}
		}
	}
	._guild-level {
		border: 1px solid #ffffff80;
		border-radius: 9999px;
		display: inline-block;
		font-size: 10px;
		font-weight: 600;
		line-height: 1;
		padding: 2px 8px 3px;
	}
	._guild-name {
		font-size: 18px;
		font-weight: 500;
	}
	._info-item {
		align-items: center;
		display: flex;
		white-space: nowrap;
		width: 100%;
		._info-name {
			align-items: center;
			color: #ffffffb3;
			display: flex;
			font-size: 14px;
			i {
				background-color: #ffffffb3;
				height: 12px;
				margin-right: 5px;
				width: 18px;
			}
		}
		._info-value {
			font-family: WarsOfPrasia, serif;
			font-size: 19px;
			font-style: italic;
		}
	}
	._info-wealth {
		align-items: center;
		display: inline-flex;
		&.type--diamond {
			._info-wealth__icon {
				background-image: url(../images/icon_diamond.png);
				background-position: 65% 50%;
				background-size: 65%;
			}
		}
		&.type--rudy {
			._info-wealth__icon {
				background-image: url(../images/icon_rudy.png);
				background-position: 55% 50%;
				background-size: 65%;
			}
		}
		& + ._info-wealth {
			margin-left: 16px;
		}
		._info-wealth__icon {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			border: 1px solid #ffffff40;
			border-radius: 9999px;
			display: inline-flex;
			height: 22px;
			margin-right: 5px;
			position: relative;
			width: 22px;
			&:before {
				background-image: url(../images/icon_diamond.png);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: none;
				display: inline-block;
				height: 11px;
				left: -3px;
				position: absolute;
				top: -1px;
				width: 8px;
			}
		}
	}
	._interval-notice {
		color: #c2c0be;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 20px;
		text-align: center;
	}
	&__list {
		display: flex;
		flex-direction: column;
		ul {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}
	&__group {
		border-top: 1px solid #0000001a;
		box-shadow: 0 2px 4px #0000001a;
		box-sizing: border-box;
		display: flex;
		padding: 13px 16px;
		text-align: center;
		span {
			box-sizing: border-box;
			color: #666;
			display: inline-flex;
			font-size: 13px;
			font-weight: 600;
			justify-content: center;
			& + span {
				&:before {
					background-color: #e3e1e080;
					content: "";
					display: inline-block;
					height: 16px;
					left: 0;
					position: absolute;
					top: 0;
					transform: translate3d(-50%, 0, 0);
					width: 1px;
				}
			}
			&:first-child {
				width: 60px;
			}
			&:nth-child(2) {
				flex: 1;
			}
			&:nth-child(3) {
				flex: 1;
			}
		}
	}
	&__item {
		border-bottom: 2px solid #e3e1e0;
		display: none;
		flex-direction: column;
		padding-bottom: 18px;
		padding-top: 12px;
		&.type--garrison,
		&.type--fortress,
		&.type--castle {
			display: flex;
		}
		ul {
			&._wrap {
				border-bottom: 1px solid #e3e1e080;
				display: flex;
			}
		}
		._taxs {
			margin-top: 12px;
		}
	}
}
