@mixin gboxStyle(){
    .gbox-wrap {
        width: 584px;
        max-width: 584px;
        background-color: #F5E8DA;
        padding: 18px 20px 42px;
    }

    .gbox-wrap.vp750 {
        .gbox-content {
            position: relative;
            z-index: 1;
            color: #222;
            font-size: 30px;
            line-height: 1.5;
            font-weight: bold;

        }
	    .gbox-action {
	        z-index: 2;
	        position: relative;
	    }
        .gbox-btn {
            display: inline-block;
            width: 209px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            color:#39525d;
            font-weight: bold;
            border-radius: 50px;
            background-color: #FFD200;
            font-size: 34px;
            padding: 0;
            margin: 0 auto;
            box-shadow: 0px 1px 0px #EC8B00,
            0px 2px 0px #EC8B00,
            0px 3px 0px #EC8B00,
            0px 4px 0px #EC8B00,
            0px 5px 0px #EC8B00,
            0px 7px 0px #EC8B00,
            0px 8px 0px #EC8B00,
            0px 12px 8px rgba(0,0,0,.15);
            &:last-child{
                margin-left: 20px;
            }
            &:first-child{
                margin-left: 0;
            }
            &#btn-sm{
                width: 182px;
            }
        }

		.gbox-close {
	        right: 24px;
	        top: -15px;
	    }
    }

    @media screen and (max-width:750px) {
        @content;
    }
}

@mixin gboxFixed(){
    background: transparent;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2222;

    .gbox-module {
        display: none;
    }
    .gbox-wrap{
        @content;
    }
}
.default,.default-fixed,.default2,.default-fixed2{
    @include gboxStyle(){
        .gbox-wrap {
            width: 682px;
            max-width: 682px;
        }
        .gbox-wrap.vp750 .gbox-content {}

        .gbox-action {}
    }
}
.default2{
    .gbox-wrap.vp750{
        &::before{
            content:"";
            width: 132px;
            height: 143px;
            background-image: url('../images/cat11.png');
            position: absolute;
            top: -89px;
            right: -31px;
            z-index: 0;
        }
        &::after{
            content:"";
            width: 154px;
            height: 145px;
            background-image: url('../images/cat2.png');
            position: absolute;
            bottom: -34px;
            left: 12px;
            z-index: 0;
        }
    }
}
.default-fixed {
    @include gboxFixed(){
        z-index: 1;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.default-fixed2{
    @include gboxFixed(){
        z-index: 1;
        position: absolute;
        top: 10%;
        bottom: 10%;
        height: 80vh;
        overflow-y: scroll;
        left: 50%;
        transform: translate(-50%, 0);
    }
}