// simple版本
// <div class="server__server-wrap">
//     <select id="server" class="server__server-select">
//         <option value="-1" disabled>選擇伺服器</option>
//         <option value="1">選擇伺服器1</option>
//         <option value="2">選擇伺服器2</option>
//     </select>
//     <div class="server__server-style">
//         <p>選擇伺服器</p>
//         <span class="icon"></span>
//     </div>
// </div>

$w:326px;
$h:66px;
$m-w:390px;
$m-h:79px;
$border:1px solid #E1C99C;
$color:#F9CFA6;
$bg-color:#312621;

@mixin select-style() {
    &-wrap {
        width: $w;
        height: $h;
        position: relative;
        border: 1px solid #E1C99C;
        box-sizing: content-box;
        >* {
            background-color: #312621;
            color: #F9CFA6;
            font-size: 29px;
            cursor: pointer;
        }

        @media screen and (max-width:750px) {
            width: 390px;
            height: 79px;
        }
    }

    &-select {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
    }

    &-style {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        text-align: center;
        line-height: 66px;
        background-color: #18120F;
        padding-right: 48px;

        @media screen and (max-width:750px) {
            line-height: 79px;
            padding-right: 62px;
        }

        .icon {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            @include triangle(bottom, #EDC59E, 17px, 16px);
            @media screen and (max-width:750px) {
                right: 10px;
                @include triangle(bottom, #EDC59E, 21px, 21px);
            }

            &:before {
                content: "";
                position: absolute;
                top: -22px;
                left: -16px;
                @include triangle(bottom, #18120F, 17px, 16px);

                @media screen and (max-width:750px) {
                    top: -26px;
                    left: -21px;
                    @include triangle(bottom, #18120F, 21px, 21px);
                }
            }
        }

        &:after {
            content: "";
            width: 1px;
            height: 41px;
            background-color: #EDC59E;
            position: absolute;
            top: 50%;
            right: 48px;
            transform: translateY(-50%);
            @media screen and (max-width:750px) {
                height: 49px;
                right: 62px;
            }
        }
    }

    @media screen and (max-width:750px) {
        // .select-style{
        //     width: 85%;
        //     height: 72px;
        //     line-height: 72px;
        //     margin-bottom: 32px;
        //     > *{
        //         font-size: 32px;
        //     }
        //     .icon{
        //         width: 31px;
        //         height: 18px;
        //     }
        // }
    }
}