body{
	min-width: 1200px;
	position: relative;
}
#app{
	width: 100%;
}
.btn{
	
}
.part{
	&-wrap{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
}

@media screen and (max-width:750px){
	.part{
		&-wrap{
	
		}
	}
}