.menu{
    &-wrap{
        width: 360px;
        height: 100vh;
        background-color: #1a1919;
        position: fixed;
        top: 0;
        z-index: 999;
        display: none;
        background-image: url('images/menu-light2.png');
        background-repeat: no-repeat;
    }
    &-btn{
        &-group{

        }
        &__open{
            width: 80px;
            height: 80px;
            position: fixed;
            top: 0;
            left: 0;
            background-image: url('images/menu-open.png');
            background-color: #1a1919;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 44px 37px;
            z-index: 998;
            cursor: pointer;
        }
        &__close{
            width: 42px;
            position: absolute;
            top: 18px;
            left: 18px;
            img{
                width: 100%;
                display: block;
            }
        }
        &__googleplay{

        }
        &__appstore{

        }
    }
    &-logo{
        width: 273px;
        display: block;
        margin: 97px auto 0;
        img{
            width: 100%;
            display: block;
        }
    }
    &-list{
        list-style-type: none;
        width: 100%;
        height: calc(100vh - 276px);
        overflow: auto;
        li{
            a{
                border-top: 1px solid #4D4D4D;
                border-bottom: 1px solid #000;
                display: block;
                text-decoration: none;
                color:#fff;
                font-size: 20px;
                padding: 36px 0px 36px 72px;
            }
            &.menu-fb{
                a{
                    font-size: 0;
                    background-image: url('images/menu-fb.png');
                    background-repeat: no-repeat;
                    background-position: 72px center;
                    border-bottom:none;
                }
            }
            &.menu-btn-group{
                display: none;
            }
        }
    }

}
@media screen and (max-width:750px){
    .menu-module {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,.65);
        height: 100%;
        z-index: 997;
        opacity: 0;
        display: none;
    }
    .menu{
        &-btn{
            &__open{
                width: 100px;
                height: 100px;
                background-color: transparent;
                left: calc(100% - 100px);
                background-size: 59px 49px;
            }
            &__googleplay{
                width: 358px;
                height: 117px;
                font-size: 0 !important;
                background-image: url('images/googleplay-btn.png');
                background-repeat: no-repeat;
                background-size: 100%;
                margin: 0 auto;
                margin-bottom: 12px;
            }
            &__appstore{
                width: 358px;
                height: 117px;
                font-size: 0 !important;
                background-image: url('images/appstore-btn.png');
                background-repeat: no-repeat;
                background-size: 100%;
                margin: 0 auto;
            }
        }
        &-logo{
            width: 383px;
            margin: 0 auto;
            padding: 34px 0 40px;
        }
        &-wrap{
            width: 650px;
            background-image: url('images/menu-light.png');
        }
        &-list{
            height: calc(100vh - 324px);
            li{
                a{
                    font-size: 32px;
                    padding: 43px 0px 43px 123px;
                }
                &.menu-fb{
                    a{
                        background-image: none;
                        font-size: 32px;
                        border-bottom: 1px solid #000;
                    }
                }
                &.menu-btn-group{
                    display: block;
                    padding-top: 61px;
                    border-top: 1px solid #4D4D4D;
                    a{
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
        }
        
    }
}