.part4{
    width: 100%;
    height: 940px;
    background-image: url('../images/part4-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    .clear{
        &:before,&:after{
            content:"";
            clear: both;
            display: table;
        }
    }
    &-title{
        width: 706px;
        margin: 0 auto;
        padding-top: 66px;
        img{
            width: 100%;
            display: block;
        }
    }
    &-role{
        position: absolute;
        bottom: 38px;
        left: -97px;
        z-index: 1;
        img{
            width: 508px;
            display: block;
        }
        &:before{
            content:"";
            width: 314px;
            height: 282px;
            background-image: url('../images/part4-slogan.png');
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: -59px;
            right: -74px;
            z-index: -1;
        }
    }
    &-slogan{
        position: absolute;
        top: 0;
        left: 0;
        width: 314px;
        z-index: 1;
        img{
            width: 100%;
            display: block;
        }
    }
    &-btn{
        &__cht{
            position: absolute;
            bottom: 42px;
            left: 38px;
            z-index: 1;
            width: 297px;
            height: 69px;
            span{
                padding-top: 6px;
                b{
                    display: block;
                }
                &:before{
                    content:"";
                    position: absolute;
                    top: -17px;
                    left: 0;
                    width: 296px;
                    height: 37px;
                    background-image: url('../images/part4-btn-l1.png');
                }
            }
        }
        &__cht-m{
            display: none;
        }
    }
    &-content{
        width: 860px;
        height: 711px;
        position: relative;
        background-image: url('../images/part4-scroll-bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        float: right;
        text-align: center;
        font-size: 0;
        margin-top: 16px;
        padding: 0px 54px;
        &__title{
            font-size: 35px;
            padding: 18px 0;
            color:#372617;
            font-weight: bold;
        }
    }
    &-goal{
        width: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        &:nth-of-type(1){
            margin-bottom: 31px;
            .part4-goal__img{
                background-image: url('../images/part4-goal1.jpg');
                background-size: 326px 153px;
            }
        }
        &:nth-of-type(2){
            margin-bottom: 31px;
            .part4-goal__img{
                background-image: url('../images/part4-goal2.jpg');
            }
        }
        &:nth-of-type(3){
            .part4-goal__img{
                background-image: url('../images/part4-goal3.jpg');
            }
        }
        &:nth-of-type(4){
            .part4-goal__img{
                background-image: url('../images/part4-goal4.jpg');
            }
        }
        &-card{
            width: 334px;
            margin: 0 auto;
            border:3px solid #231707;
            background-image: linear-gradient(to bottom,#5D330A 0%,#211507 100%);
            border-radius: 7px;
            color:#E6C69B;
            position: relative;
            box-shadow: 0px 3px 8px rgba(0,0,0,.65),inset 1px 1px 0 #BC9054,inset 1px -1px 0 #BC9054,inset -1px 1px 0 #BC9054,inset -1px -1px 0 #BC9054;
            font-size: 20px;
            text-shadow: 0px 3px 8px rgba(0,0,0,.55);
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            &:before{
                content:"";
                position: absolute;
                top: -20px;
                left: 0;
                width: 333px;
                height: 45px;
                background-image: url('../images/part4-btn-l2.png');
            }
        }
        &__head{
            font-size: 30px;
            padding: 9px 0;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top: 4px;
                left: 4px;
                border-left: 5px solid #BC9054;
                border-top: 5px solid #BC9054;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }
        }
        &__img{
            width: 100%;
            height: 169px;
            border-top: 1px solid #BC9054;
            border-bottom: 1px solid #BC9054;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &__footer{
            height: 55px;
            font-size: 18px;
            color:#fff;
            position: relative;
            text-align: center;
            .m-hide{
                display: inline-block;
            }
            .m-show{
                display: none;
            }
            > div{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            span{
                display: block;
                margin: 0 auto;
            }
            &:after{
                content:"";
                position: absolute;
                right: 4px;
                bottom: 4px;
                border-right: 5px solid #BC9054;
                border-bottom: 5px solid #BC9054;
                border-left: 5px solid transparent;
                border-top: 5px solid transparent;
            }
        }
    }
}
@media screen and (max-width:750px){
	.part4{
        height: 3350px;
        background-image: url('../images/part4-m-bg.jpg');
        &-title{
            width: 587px;
            height: 206px;
            background-image: url('../images/part4-m-title.png');
            margin: 0 auto;
            padding-top: 0;
            margin-top: 85px;
            img{
                display: none;
            }
        }
        &-role{
            width: 524px;
            height: 695px;
            left: 34px;
            bottom: 162px;
            &:before{
                width: 503px;
                height: 452px;
                top: -45px;
                right: -266px;
            }
            &:after{
                content:"";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('../images/part4-role-m.png');
            }
            img{
                display: none;
            }
        }
        &-slogan{
            img{

            }
        }
        &-btn{
            &__cht{
                display: none;
            }
            &__cht-m{
                font-size: 36px;
                display: block;
                position: absolute;
                bottom: 132px;
                left: 50%;
                transform: translateX(-50%);
                color:#301100;
                font-weight: bold;
                z-index: 1;
                text-align: center;
            }
        }
        &-content{
            width: 100%;
            height: auto;
            background-image:none;
            margin-top: 96px;
            &__title{
                font-size: 60px;
            }
        }
        &-goal{
            width: 100%;
            display: block;
            &:nth-of-type(1){
                margin-bottom: 48px;
                .part4-goal__img{
                    background-size: 525px 244px;
                }
            }
            &:nth-of-type(2){
                margin-bottom: 48px;
            }
            &:nth-of-type(3){
                margin-bottom: 48px;
            }
            &:nth-of-type(4){
                margin-bottom: 0;
            }
            &-wrap{

            }
            &-card{
                width: 540px;
                &:before{
                    width: 539px;
                    height: 56px;
                    background-image: url('../images/part4-m-btn-l2.png');
                    top: -26px;
                }
            }
            &__head{
                font-size: 50px;
                padding: 12px 0;
            }
            &__img{
                height: 276px;
            }
            &__footer{
                font-size: 35px;
                min-height: 98px;
                .m-hide{
                    display: none;
                }
                .m-show{
                    display: inline-block;
                }
            }
        }
	}
}