.part4{
    width: 100%;
    height: 940px;
    background-image: url('../images/part4-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    &-title{
        width: 706px;
        margin: 0 auto;
        padding-top: 100px;
        img{
            width: 100%;
            display: block;
        }
    }
    &-role{
        &-box{

        }
        img{

        }
    }
    &-slogan{
        img{

        }
    }
    &-btn{
        &__cht{

        }
    }
    &-content{
        &__title{
            img{

            }
        }
    }
    &-goal{
        &-box{

        }
        &__head{

        }
        &__img{
            img{

            }
        }
        &__footer{
            
        }
    }
}
@media screen and (max-width:750px){
	.part4{
        height: 3350px;
        background-image: url('../images/part4-m-bg.jpg');
        &-title{
            width: 706px;
            margin: 0 auto;
        padding-top: 100px;
            img{
                width: 100%;
                display: block;
            }
        }
        &-role{
            &-box{

            }
            img{

            }
        }
        &-slogan{
            img{

            }
        }
        &-btn{
            &__cht{

            }
        }
        &-content{
            &__title{
                img{

                }
            }
        }
        &-goal{
            &-box{

            }
            &__head{

            }
            &__img{
                img{

                }
            }
            &__footer{

            }
        }
	}
}