.part3{
    width: 100%;
    height: 940px;
    background-image: url('../images/part3-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    &-title{
        width: 601px;
        margin: 0 auto;
        padding-top: 100px;
        img{
            width: 100%;
            display: block;
        }
    }
    &-content{
        width: 1198px;
        height: 677px;
        background-image: url('../images/part3-scroll-bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0 auto;
        margin-top: 16px;
        position: relative;
        &__left{
            float: left;
            margin-left: 62px;
            width: 383px;
            margin-right: 40px;
            text-align: center;
            padding-top: 104px;
        }
        &__right{
            float: left;
            padding-top: 169px;
        }
    }
    &-imgbox{
        width: 351px;
        margin: 0 auto;
        img{
            width: 100%;
            display: block;
        }
    }
    &-text{
        font-size: 16px;
        font-weight: bold;
        margin-top: 32px;
        color:#372617;
        .m-hide{
            display: block;
        }
        .m-show{
            display: none;
        }
        span{
            display: block;
            line-height: 1.5;
        }
    }
    &-btn{
        &-group{
            font-size: 0;
            text-align: center;
            margin-top: 26px;
        }
        &__pcicon{
            width: 46px;
            vertical-align: middle;
            margin-right: 13px;
        }
        &__download{
            display: inline-block;
            width: 185px;
            height: 53px;
            line-height: 53px - 6;
            vertical-align: middle;
            box-shadow:inset 1px 1px 0 #BC9054,inset 1px -1px 0 #BC9054,inset -1px 1px 0 #BC9054,inset -1px -1px 0 #BC9054;
            span{
                &:before{
                    content:"";
                    position: absolute;
                    top: -12px;
                    left: 0;
                    width: 185px;
                    height: 23px;
                    background-image: url('../images/part3-btn-l.png');
                }
            }
        }
        &__text{
            display: none;
        }
    }
    &-logos{
        width: 675px;
        height: 188px;
        background-image: url('../images/part3-logos.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 44px;
    }
    &-task{
        &-wrap{

        }
        &-box{
            width: 605px;
            background-color: rgba(255,255,255,.36);
            border-radius: 5px;
            margin-bottom: 6px;
            margin-left: 5px;
            padding: 6px 10px;
            font-size: 0;
            &:last-child{
                margin-bottom: 0;
            }
            &:nth-of-type(1){
                .part3-task__title{
                    width: 126px;
                    height: 66px;
                    background-image: url('../images/part3-mission1.png');
                }
            }
            &:nth-of-type(2){
                .part3-task__title{
                    width: 135px;
                    height: 67px;
                    background-image: url('../images/part3-mission2.png');
                }
            }
            &:nth-of-type(3){
                .part3-task__title{
                    width: 134px;
                    height: 69px;
                    background-image: url('../images/part3-mission3.png');
                }
            }
        }
        &__title{
            width: 136px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
        }
        &__content{
            width: 74%;
            display: inline-block;
            font-size: 16px;
            color: #372617;
            font-weight: bold;
            vertical-align: middle;
            p:last-of-type{
                margin-bottom: 8px;
            }
            & > div{
                margin-bottom: 6px;
                span{

                }
            }
        }
        &--red{
            color:#D90000;
            font-weight: bold;
        }
        &--switch{
            
        }
        .m-hide{
            display: inline-block;
        }
        .m-show{
            display: none;
        }
    }
    &-task2{
        &-box{
            display: none;
        }
        &__title{
            span{

            }
        }
    }
    &-btn{
        &-group2{
            margin-top: 9px;
            text-align: center;
        }
        &__notice{
            width: 185px;
            height: 53px;
            line-height: 47px;
            margin-right: 85px;
            span{
                &:before{
                    content:"";
                    position: absolute;
                    top: -12px;
                    left: 0;
                    width: 185px;
                    height: 23px;
                    background-image: url('../images/part3-btn-l.png');
                }
            }
        }
        &__search{
            width: 185px;
            height: 53px;
            line-height: 47px;
            span{
                &:before{
                    content:"";
                    position: absolute;
                    top: -12px;
                    left: 0;
                    width: 185px;
                    height: 23px;
                    background-image: url('../images/part3-btn-l.png');
                }
            }
        }
    }
}
@media screen and (max-width:750px){
	.part3{
        height: 3350px;
        background-image: url('../images/part3-m-bg.jpg');
        &-title{
            width: 601px;
            margin: 0 auto;
            padding-top: 84px;
            img{
                width: 100%;
                display: block;
            }
        }
        &-logos{
            width: 650px;
            height: 185px;
            background-image: url('../images/part3-m-logos.png');
            top: 126px;
            right: 28px
        }
        &-content{
            width: 100%;
            height: 100%;
            background-image:none;
            margin-top: 0;
            padding-top: 214px;
            &__left{
                float: none;
                width: 522px;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            &__right{
                float: none;
                padding-top: 27px;
                width: 522px;
                margin: 0 auto;
            }
        }
        &-imgbox{
            width: 100%;
            padding: 21px;
        }
        &-text{
            font-size: 30px;
            margin-top: 6px;
            .m-hide{
                display: none;
            }
            .m-show{
                display: block;
            }
        }
        &-task{
            &-box{
                width: 100%;
                &:nth-of-type(1) .part3-task__title{
                    width: 100%;
                    height: 72px;
                    background-image: url('../images/part3-m-mission1.png');
                }
                &:nth-of-type(2) .part3-task__title{
                    width: 100%;
                    height: 74px;
                    background-image: url('../images/part3-m-mission2.png');
                }
                &:nth-of-type(3) .part3-task__title{
                    width: 100%;
                    height: 76px;
                    background-image: url('../images/part3-m-mission3.png');
                }
                margin-bottom: 48px;
            }
            &__title{
                display: block;
                margin: 0 auto;
                padding: 22px 0;
                box-sizing: content-box;
                background-repeat: no-repeat;
                background-position: center center;
                border-bottom:1px solid #000;
            }
            &__content{
                width: 100%;
                display: block;
                font-size: 30px;
                padding: 14px 6px 30px;
                .m-hide{
                    display: none !important;
                }
                .m-show{
                    display: inline-block !important;
                }
                .m-switch{
                    color:#DB1612;
                    margin-top: 24px;
                    margin-bottom: 0 !important;
                }
                p:last-of-type{
                    margin-bottom: 24px;
                }
                > div{
                    span{
                        display: block;
                    }
                }
            }
        }
        &-task2{
            &-box{
                display: block;
                position: relative;
                &:before{
                    content:"";
                    width: 373px;
                    height: 432px;
                    background-image: url('../images/part3-m-role.png');
                    position: absolute;
                    top: -124px;
                    right: -129px;
                }
            }
            &__title{
                font-size: 36px;
                font-weight: bold;
                span{
                    display: block;
                }
            }
            &__content{
                font-size: 30px;
                font-weight: bold;
                line-height: 1.5;
            }
        }
        &-btn{
            &-group2{
                margin-top: 84px;
            }
            &__pcicon{
                display: none;
            }
            &__download{
                display: none;
            }
            &__text{
                display: block;
                color:#DB1612;
                font-size: 30px;
                font-weight: bold;
                span{
                    display: block;
                }
            }
            &__notice{
                width: 395px;
                height: 99px;
                font-size: 45px;
                margin-right: 0;
                span{
                    line-height: 93px;
                    &:before{
                        width: 393px;
                        height: 43px;
                        top: -19px;
                        background-image: url('../images/part3-m-btn-l.png');
                    }
                }
            }
            &__search{
                display: none;
            }
        }
	}
}