<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--設定活動標題名稱-->
		<add key="EventTitle" value="裝備重生計畫"/>
		<add key="EventName" value="E20220901"/>
		<!--活動開始時間-->
		<add key="EventBeginDate" value="2022/09/01 16:30:00"/>
		<!--活動結束時間-->
		<add key="EventEndDate" value="2022/09/29 23:59:59"/>

		<!--活動開始時間-->
		<add key="EventBeginDate_Free" value="2022/09/01 16:30:00"/>
		<!--活動結束時間-->
		<add key="EventEndDate_Free" value="2022/09/29 23:59:59"/>

		<!--開始時間維護-->
		<add key="EventBeginDate_Start" value=" 00:00:00"/>
		<!--結束時間維護-->
		<add key="EventEndDate_End" value=" 00:00:00"/>

		<add key="EventIndex" value="https://tw-event.beanfun.com/lineage_event_gcp/Logout/Logout.aspx"/>
		<add key="EventPage" value="https://tw.hicdn.beanfun.com/beanfun/promo/Lineage/E20220728/index.html"/>
		<add key="GetEquipment_URL" value="http://glineage-gamews.beanfun.com/LineageNet/EventData/E20220901.asmx"/>
		<!--<add key="GetEquipment_URL" value="http://localhost:2459/LineageNet/EventData/E20220901.asmx"/>-->
		<add key="LineageWebEventKey" value="E20220901"/>
		<add key="strWSEventID" value="20220830001"/>
		<add key="strWSEventID_Free" value="20220830002"/>
		<!--IRS-->
		<add key="IRSEventcode" value="2280"/>
		<add key="IRSWScode" value="2281"/>
		<!--送道具 1=呼叫WS or 0=測試不呼叫WS -->
		<add key="IsSendItem" value="1"/>
		<!--加解密-->
		<add key="Key" value="whHtuWTutSDZZ4K7CDQTz3W8eKfF6ztz" />
		<add key="Iv" value="efgRpHuhMFaAGfUC" />

	</appSettings>
	<system.web>

	</system.web>
</configuration>
