$breakpoint-tablet:768px;

@mixin tablet{
    @media (min-width:$breakpoint-tablet){
        @content;
    }
}

.div{
    @include tablet{
        display: block;
        .child{
            width: 100%;
        }
    }
}