%default {
	.gbox-wrap {
		max-width: vw3(898px);
		width: 100%;
		padding: 0px;
		margin-top: vw3(200px);
		margin-bottom: vw3(80px);
		background-color: transparent;
		color: #fff;
		background-size: cover;
		padding-bottom: 0;
		@include media {
			margin-top: vw(80);
			margin-bottom: vw(80);
		}
	}
	.gbox-title {
		margin: 0;
		padding: 0;
		font-size: vw3(35px);
		color: #3b3d4d;
		width: vw3(449px);
		height: vw3(104px);
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url("./images/lb-info-title-bg.png");
		background-size: cover;
		position: absolute;
		top: vw3(-130px);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		@include media {
			width: vw(449);
			height: vw(104);
			font-size: vw(35);
			top: vw(-130);
		}
	}
	.gbox-content {
		position: relative;
		padding: 0px;
		width: 100%;
	}
}
%btn {
	.gbox-action {
		z-index: 2;
		position: relative;
		padding: 0;
		font-size: 0;
		width: vw3(710px);
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		text-align: center;
		@include media {
		}
	}
	.gbox-btn {
		padding: 0;
		display: inline-block;
		font-size: 0;
		position: relative;
		margin: 0;
		background-color: transparent;
		filter: drop-shadow(2px 8px 8px rgba(#000, 0.75));
		& + .gbox-btn {
			margin-left: vw3(26px);
			@include media {
				margin-left: vw(26);
			}
		}
		@include media {
			width: vw(248);
			height: vw(47);
			background-size: cover;
			background-repeat: no-repeat;
			filter: drop-shadow(vw(2) vw(8) vw(8) rgba(#000, 0.75));
		}
		&.btn-confirm {
			background-color: #523b2b;
			font-size: vw3(32px);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			border: vw3(4px) solid #ffe788;
			color: #ffe788;
			padding: vw3(12px) vw3(52px);
			@include media {
				font-size: vw(32);
				padding: vw(12) vw(52);
			}
		}
		&.btn-more {
			width: vw3(327px);
			height: vw3(72px);
			background: url("./images/btn-more.png") -0 -0;
			background-size: 200%;
			font-size: 0;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(327);
				height: vw(72);
			}
		}
		&.btn-calender2 {
			width: vw3(184px);
			height: vw3(72px);
			background: url("./images/btn-calender2.png") -0 -0;
			font-size: 0;
			background-size: 200%;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(184);
				height: vw(72);
			}
		}
	}
}
%close {
	.gbox-close {
		width: vw3(71px);
		height: vw3(73px);
		font-size: 0;
		top: calc(vw3(-117px) - vw3(71px));
		right: vw3(46px);
		background-image: url("./images/btn-close.png");
		background-size: cover;
		@include media {
			width: vw(71);
			height: vw(73);
			right: vw(46);
			top: calc(vw(-117px) - vw(71px));
		}
	}
}
.default {
	@extend %default;
	@extend %close;
	@extend %btn;
}
.lb-style1 {
	.gbox-wrap {
		max-width: vw3(968px);
		height: vw3(601px);
		background-image: url("./images/lb-video-bg.png");
		background-size: cover;
		@include media {
			max-width: vw(681);
			height: vw(422);
		}
		&:before {
			content: "";
			width: vw3(1097px);
			height: vw3(152px);
			position: absolute;
			top: vw3(-14px);
			left: 50%;
			transform: translateX(-50%);
			background-size: cover;
			background-image: url("./images/lb-video-top.png");
			@include media {
				width: vw(768);
				height: vw(129);
				top: vw(-14);
				background-image: url("./images/m-lb-video-top.png");
			}
		}
		&:after {
			content: "";
			width: vw3(1101px);
			height: vw3(152px);
			position: absolute;
			bottom: vw3(-96px);
			left: 50%;
			transform: translateX(-50%);
			background-size: cover;
			background-image: url("./images/lb-video-bottom.png");
			@include media {
				width: vw(768);
				height: vw(128);
				background-image: url("./images/m-lb-video-bottom.png");
				bottom: vw(-90);
			}
		}
	}
	.gbox-close {
		width: vw3(71px);
		height: vw3(73px);
		font-size: 0;
		top: vw3(-78px);
		right: vw3(4px);
		background-image: url("./images/btn-close.png");
		background-size: cover;
		@include media {
			width: vw(71);
			height: vw(73);
			right: vw(46);
			top: vw(-78);
			right: vw(4);
		}
	}
	.gbox-content {
		width: 100%;
		height: 100%;
	}
	.lb-style1__source {
		width: vw3(857px);
		height: vw3(483px);
		// background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		iframe {
			width: 100%;
			height: 100%;
		}
		@include media {
			width: vw(604);
			height: vw(340);
		}
	}
}
.lb-style2 {
	.gbox-wrap {
		max-width: vw3(948px);
		background-image: url("./images/lb-info-border-repeat.png");
		background-size: vw3(948px) vw3(13px);
		@include media {
			max-width: vw(768);
			background-size: vw(768) vw(30);
			background-image: url("./images/m-lb-info-border-repeat.png");
		}
		&:before {
			content: "";
			width: 100%;
			height: vw3(117px);
			position: absolute;
			top: vw3(-117px);
			left: 0;
			background-size: cover;
			background-image: url("./images/lb-info-border-top.png");
			@include media {
				height: vw(118);
				top: vw(-116);
				background-size: vw(768) vw(118);
				background-image: url("./images/m-lb-info-border-top.png");
			}
		}
		&:after {
			content: "";
			width: 100%;
			height: vw3(117px);
			position: absolute;
			bottom: vw3(-117px);
			left: 0;
			background-size: cover;
			background-image: url("./images/lb-info-border-bottom.png");
			@include media {
				height: vw(118);
				bottom: vw(-116);
				background-size: vw(768) vw(118);
				background-image: url("./images/m-lb-info-border-bottom.png");
			}
		}
	}
	.gbox-content {
		width: vw3(710px);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: vw3(24px);
		text-align: center;
		justify-content: center;
		@include media {
			width: vw(710);
			margin: 0 auto;
			padding-bottom: vw(24);
		}
	}
	&__source {
		width: vw3(710px);
		height: vw3(356px);
		// background-color: #e7d3a4;
		margin-bottom: vw3(24px);
		position: relative;
		&.comming {
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: vw3(633px);
				height: vw3(356px);
				background-size: cover;
				background-image: url("./images/sec2/sec2-comingsoon.png");
				@include media {
					width: vw(633);
					height: vw(356);
				}
			}
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
		@include media {
			width: vw(710);
			height: vw(356);
			margin-bottom: vw(24);
		}
	}
	&__text {
		font-size: vw3(30px);
		color: #e7d3a4;
		text-align: left;
		margin-bottom: vw3(28px);
		width: 100%;
		@include media {
			font-size: vw(30);
			margin-bottom: vw(28);
		}
	}
	.g-calendar {
		font-size: 0;
		margin-right: auto;
	}
}
.lb-content {
	font-size: vw3(36px);
	@include media {
		font-size: vw(36);
	}
}
