.loadingProgress {
	width: 100%;
	height: 100%;
	background: url(https://tw.hicdn.beanfun.com/beanfun/beanfun/common_assets/images/loading/type1.gif) 50% 50% rgba(0, 0, 0, 0.75) no-repeat;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 21474836499;
	&.init {
		background-color: #1e1a38;
		background-image: none;
		.loadingProgress-num {
			display: flex;
		}
	}
	&-num {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: vw4(60);
		color: #fff;
		width: vw4(160);
		height: vw4(160);
		border: 1px solid #ffee00;
		border-radius: 100vmax;
		display: none;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 0 vw4(8) #1e1a38, 0 0 0 vw4(16) #f91;
		@include media {
			width: vw(160);
			height: vw(160);
			font-size: vw(60);
			box-shadow: 0 0 0 vw(8) #1e1a38, 0 0 0 vw(16) #f91;
		}
	}
}
