.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	// height: rem(1500);
	// height: 100vh;
	// @supports (height: 100dvh) {
	// 	& {
	// 		height: 100dvh;
	// 	}
	// }
	background-image: url("../images/map/bg-map2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
	overflow: hidden;
	display: none;
	opacity: 0;
	z-index: 2;
	&__name {
		height: rem(75px);
		line-height: rem(75px);
		font-size: rem(30px);
		font-weight: bold;
		background-image: url("../images/map/name-bg.png");
		background-size: rem(8) rem(75);
		position: relative;
		margin-top: rem(39);
		display: inline-block;
		color: #fff;
		padding: 0 rem(14);
		&:before {
			content: "";
			width: rem(41px);
			height: rem(75px);
			background-image: url("../images/map/name-bg-desc.png");
			background-size: cover;
			position: absolute;
			top: 0;
			right: rem(-40px);
		}
	}
	&__path {
		width: rem(433);
		height: rem(975);
		background-size: cover;
		background-image: url("../images/map/path.png");
		position: absolute;
		top: rem(382);
		// left: rem(283);
		left: 50%;
		margin-left: rem(-92);
		z-index: 1;
	}
	&__boss {
		&-list {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: rem(173px);
		height: rem(210px);
		background-image: url("../images/map/hide.png");
		background-size: cover;
		font-size: 0;
		&.cleared {
			&:after {
				content: "";
				width: rem(185px);
				height: rem(103px);
				background-image: url("../images/map/cleared.png");
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&.show {
			background-image: none;
			&:before {
				content: "";
			}
		}
		&:before {
			content: none;
			background-size: cover;
			position: absolute;
		}
		&[data-boss="1"] {
			top: rem(1220);
			// left: rem(433);
			left: 50%;
			margin-left: rem(58);
			&:before {
				width: rem(296px);
				height: rem(259px);
				background-image: url("../images/map/1.png");
				top: rem(-47);
				left: rem(-11);
			}
			&:after {
				top: rem(-12);
				left: rem(88);
			}
		}
		&[data-boss="2"] {
			top: rem(951);
			// left: rem(118);
			left: 50%;
			margin-left: rem(-256);
			&:before {
				width: rem(280px);
				height: rem(302px);
				background-image: url("../images/map/2.png");
				top: rem(-90);
				left: rem(-50);
			}
			&:after {
				top: rem(-2);
				left: rem(-63);
			}
		}
		&[data-boss="3"] {
			top: rem(837);
			// left: rem(508);
			left: 50%;
			margin-left: rem(133);
			&:before {
				width: rem(271px);
				height: rem(262px);
				background-image: url("../images/map/3.png");
				top: rem(-50);
				left: rem(-29);
			}
			&:after {
				top: rem(18);
				left: rem(68);
			}
		}
		&[data-boss="4"] {
			top: rem(667);
			// left: rem(105);
			left: 50%;
			margin-left: rem(-270);
			&:before {
				width: rem(309px);
				height: rem(394px);
				background-image: url("../images/map/4.png");
				top: rem(-181);
				left: rem(-102);
			}
			&:after {
				top: rem(22);
				left: rem(-85);
			}
		}
		&[data-boss="5"] {
			top: rem(555);
			// left: rem(465);
			left: 50%;
			margin-left: rem(90);
			&:before {
				width: rem(275px);
				height: rem(317px);
				background-image: url("../images/map/5.png");
				top: rem(-105);
				left: rem(-32);
			}
			&:after {
				top: rem(-16);
				left: rem(81);
			}
		}
		&[data-boss="6"] {
			top: rem(214);
			left: 50%;
			margin-left: rem(178);
			&:before {
				width: rem(179px);
				height: rem(277px);
				background-image: url("../images/map/6.png");
				top: rem(-65);
				left: rem(-6);
			}
			&:after {
				top: rem(-3);
				left: rem(3);
			}
		}
		&[data-boss="7"] {
			top: rem(275);
			left: 50%;
			margin-left: rem(-300);
			&:before {
				width: rem(205px);
				height: rem(319px);
				background-image: url("../images/map/7.png");
				top: rem(-107);
				left: rem(-17);
			}
			&:after {
				top: rem(34);
				left: rem(-1);
			}
		}
	}
	&__btn {
		&-group {
			font-size: 0;
			position: absolute;
			top: rem(1220);
			// left: rem(72);
			left: 50%;
			margin-left: rem(-303);
			display: flex;
			flex-direction: column;
			z-index: 9;
		}

		&[data-type="reward"] {
			width: rem(258px);
			height: rem(96px);
			background-image: url("../images/map/btn-reward-list2.png");
			background-size: cover;
			margin-bottom: rem(21);
		}
		&[data-type="notice"] {
			width: rem(258px);
			height: rem(95px);
			background-image: url("../images/map/btn-event-notice2.png");
			background-size: cover;
		}
	}
}
